<div id="hearingDetails">
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">{{ 'Hearing date(s)' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value">
        <ng-container *ngIf="isMultiDayHearing; else singleDayHearingDate">
          {{ hearingDays[0]?.actualHearingDay?.hearingStartTime | date:"dd MMMM yyyy" }} - {{ hearingDays[hearingDays.length - 1]?.actualHearingDay?.hearingStartTime | date:"dd MMMM yyyy" }}
        </ng-container>
        <ng-template #singleDayHearingDate>
          {{hearingActualsMainModel?.hearingActuals?.hearingOutcome?.hearingResultDate | date:"dd MMMM yyyy"}}
        </ng-template>
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  </dl>
  <br />

  <h1 class="govuk-heading-m" style="display: inline-block;">{{ 'Hearing stage and result' | rpxTranslate }}</h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">{{ 'Hearing stage' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value">{{hearingTypeDescription}}</dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">{{ 'Hearing result' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value">
        {{hearingActualsMainModel?.hearingActuals?.hearingOutcome?.hearingResult}}</dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="isAdjourned">
      <dt class="govuk-summary-list__key">{{ 'Adjournment reason' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value">
        {{adjournReasonTypeValue}}</dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="isAdjourned">
      <dt class="govuk-summary-list__key">{{ 'Adjournment date' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value">
        {{hearingActualsMainModel?.hearingActuals?.hearingOutcome?.hearingResultDate | date:"dd MMMM yyyy"}}</dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">{{ 'Was this a paper hearing' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value"
          [innerHtml]="answerSource.IS_PAPER_HEARING | transformAnswer:hearingState$ | async">
      </dd>
    </div>

    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="(isPaperHearing$ | async) === false">
      <dt class="govuk-summary-list__key">{{ 'Hearing methods' | rpxTranslate }}</dt>
      <dd class="govuk-summary-list__value" [innerHtml]="answerSource.HOW_PARTICIPANTS_ATTEND | transformAnswer:hearingState$ | async">
      </dd>
    </div>
  </dl>
  <br />


  <h1 class="govuk-heading-m" style="display: inline-block;" *ngIf="hearingActualsMainModel?.hearingActuals?.actualHearingDays?.length > 0">Hearing date(s)</h1>

  <ng-container *ngFor="let actualHearingDay of hearingActualsMainModel?.hearingActuals?.actualHearingDays">
    <div>
      <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details govuk-grid-row" [open]="!isMultiDayHearing">
        <summary class="govuk-grid-column-one-quarter govuk-!-margin-bottom-4">
        <span class="govuk-details__summary-text govuk-!-padding-left-2">
          {{actualHearingDay?.hearingStartTime | ccdDate: 'local' | date: "dd MMMM yyyy"}}
        </span>
        </summary>
        <div class="govuk-grid-column-three-quarters summary-single-day">
          <exui-hearing-actual-summary-single-day
            [hearingActualsMainModel]="hearingActualsMainModel" [hearingDate]="actualHearingDay.hearingDate"
            [isPaperHearing]="isPaperHearing$ | async">
          </exui-hearing-actual-summary-single-day>
        </div>
      </details>
    </div>
  </ng-container>
</div>
