<a class="govuk-back-link govuk-!-margin-bottom-1" href="javascript:void(0)"
   *ngIf="isVisible((navigationCurrentState$ | async), backVisibilityStates)"
   (click)="onEventTrigger(exclusionNavigationEvent.BACK)">Back</a>
<ng-content></ng-content>
<div class="govuk-button-group">
  <button class="govuk-button govuk-!-margin-right-3"
          type="button"
          *ngIf="isVisible((navigationCurrentState$ | async), continueVisibilityStates)"
          (click)="onEventTrigger(exclusionNavigationEvent.CONTINUE)">Continue
  </button>
  <button class="govuk-button govuk-!-margin-right-3"
          type="button"
          *ngIf="isVisible((navigationCurrentState$ | async), confirmExclusionButtonVisibilityStates)"
          (click)="onEventTrigger(exclusionNavigationEvent.CONFIRM_EXCLUSION)">Confirm exclusion
  </button>
  <div class="govuk-grid-column-full govuk-!-padding-left-0">
    <p>
      <a class='govuk-body'
         *ngIf="isVisible((navigationCurrentState$ | async), cancelButtonVisibilityStates)"
         (click)="onEventTrigger(exclusionNavigationEvent.CANCEL)"
         href="javascript:void(0)">Cancel</a>
    </p>
  </div>
</div>
