<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div *ngIf="hearingValueModel" class="govuk-grid-row">
      <form class="form" action="hearing-requirements-facilities" method="post">
          <div class="govuk-grid-column-two-thirds">
            <exui-hearing-parties-title></exui-hearing-parties-title>
            <h1 class="govuk-heading-l">
                Hearing requirements
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-2">{{ hearingValueModel.caseType}} </p>
            <ul class="govuk-list govuk-list--bullet">
                <li *ngFor="let subType of hearingValueModel.caseSubTypes">{{ subType }}</li>
            </ul>
            <div class="govuk-inset-text">
                Any reasonable adjustments on this page will be included in the hearing request.
            </div>
            <div class="govuk-form-group">
                <table *ngFor="let caseFlag of caseFlags" class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" width="300">{{ caseFlag.name }}</th>
                        <th scope="col" class="govuk-table__header" width="550">Comments</th>
                        <th scope="col" class="govuk-table__header" width="100">Flag status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <label *ngFor="let partyFlag of caseFlag.partyFlags">
                                {{ partyFlag.flagId }}<br>
                            </label>
                        </td>
                        <td class="govuk-table__cell">
                            <label *ngFor="let partyFlag of caseFlag.partyFlags">
                                {{ partyFlag.flagDescription }}<br>
                            </label>
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag">Active</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
              </div>
              <p class="govuk-body">Review <a href="">case flags and reasonable adjustments (opens in new tab)</a> if you need to make any changes.</p>
          </div>
      </form>
  </div>
  <div class="govuk-form-group" style="position:absolute;margin-top: 80px;">
      <p class="govuk-body-s">
          <strong>Scenarios:</strong>
          <a href="/hearings/pages/iteration3/hearing-requirements?ra=1party&amp;" class="govuk-link ">Reasonable adjustments (1 party)</a> /
          <a href="/hearings/pages/iteration3/hearing-requirements?ra=2parties&amp;" class="govuk-link govuk-!-font-weight-bold">Reasonable adjustments (2 parties)</a> /
          <a href="/hearings/pages/iteration3/hearing-requirements?ra=none&amp;" class="govuk-link ">Empty state</a>
      </p>
  </div>
</main>