<xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner>
<div class="tasks-container" *ngIf="(waSupportedDetailedServices$ | async) as jurisdictions">
    <exui-task-manager-filter [jurisdictions]="jurisdictions" [waSupportedJurisdictions]="supportedJurisdictions"
                              (selectionChanged)="onSelectionChanged($event)"></exui-task-manager-filter>
    <div class="hmcts-filter-layout__content exui-task-list">
      <exui-task-list
        [taskServiceConfig]="taskServiceConfig" [tasks]="tasks" [fields]="fields" [tasksTotal]="tasksTotal"
        [pagination]="pagination"
        [sortedBy]="sortedBy" [emptyMessage]="emptyMessage"
        [pageSessionKey]="pageSessionKey" (paginationEvent)="onPaginationEvent($event)"
        (sortEvent)="onSortHandler($event)" (actionEvent)="onActionHandler($event)">
      </exui-task-list>
    </div>
</div>
