<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title" [innerHtml]="heading"></h1>
        <div class="govuk-panel__body" [innerHtml]="headingDescription"></div>
      </div>
      <div>
        <h2 class="govuk-heading-m" [innerHtml]="subheading"></h2>
        <div class="govuk-body" [innerHtml]="subheadingDescription"></div>
        <div class="govuk-body" [innerHtml]="additionalDescription"></div>
      </div>
    </div>
  </div>
</main>
