<main class="govuk-main-wrapper" id="content" role="main">
  <h1 id="action-title" class="govuk-heading-xl">{{routeData.actionTitle}}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p id="action-description">{{routeData.description}}</p>
      <exui-task-list
        [tasks]="tasks"
        [fields]="fields"
        [sortedBy]="sortedBy"
        [enablePagination]="false"
        [addActionsColumn]="false"
        [taskServiceConfig]="taskServiceConfig"
      >
      </exui-task-list>

      <button id="submit-button" class="govuk-button govuk-!-margin-right-1" type="submit"
              (click)="performAction()">{{routeData.verb}}</button>
      <p><a (click)="cancel()" class="govuk-!-margin-top-3" id="cancel-link" href="javascript:void(0)">Cancel</a></p>
    </div>
  </div>
</main>
