<exui-page-wrapper [backLink]="'../'">
  <div class="govuk-grid-column-full">
    <div *ngIf="errors">
      <exui-error-message [error]="errors"></exui-error-message>
    </div>

    <div>
      <ng-content select="[pageHeader]"></ng-content>
      <form [formGroup]="form" (ngSubmit)="submitForm(form)">
        <div class="govuk-label govuk-label--m govuk-!-margin-bottom-4">
          Personal Information
        </div>
        <ng-container id="first_name_group">
          <h3 class="govuk-label">
            First name
          </h3>
          <div class="govuk-body">
            <input class="govuk-input" type="text"
                 formControlName="first_name"
                 id="first_name"
              />
          </div>
        </ng-container>
        <ng-container id="last_name_group">
          <h3 class="govuk-label">
            Last name
          </h3>
          <div class="govuk-body">
            <input class="govuk-input" type="text"
                 formControlName="last_name"
                 id="last_name"
              />
          </div>
        </ng-container>
        <ng-container id="email_id_group">
          <h3 class="govuk-label">
            Email
          </h3>
          <div class="govuk-body">
            <input class="govuk-input" type="text"
                 formControlName="email_id"
                 id="email_id"
              />
          </div>
        </ng-container>
        <hr />
        <ng-container id="region_group">
          <h3 class="govuk-label govuk-label--m">
            Region
          </h3>
          <div class="govuk-body">
            <select class="govuk-select" name="region_id" id="region_id" formControlName="region_id">
              <option class="govuk-radios__item"
                      *ngFor="let item of staffFilterOptions.regions" [value]="item.region_id">
                {{ item.description }}
              </option>
            </select>
          </div>
        </ng-container>
        <hr />
        <ng-container id="service_group">
          <h3 class="govuk-label govuk-label--m">
            Services
          </h3>
          <div class="govuk-body">
            <div class="govuk-checkboxes govuk-checkboxes--small" formGroupName="services" attr.field="service" id="checkbox_service">
              <div *ngFor="let item of staffFilterOptions.services; let i = index" class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input"
                     [formControlName]="i"
                     (change)="toggleSelectServices($event, form, item)"
                     [value]="item.key" [id]="'checkbox_service' + item.key"
                     [name]="'checkbox_service' + item.key"
                />
                <label
                [for]="'checkbox_service' + item.key"
                class="govuk-label govuk-checkboxes__label"
                  >{{item.label}}</label>
              </div>
            </div>
          </div>
        </ng-container>
        <hr />
        <div class="govuk-label govuk-label--m govuk-!-margin-bottom-4">
          Locations
        </div>
        <hr />
        <ng-container id="user_type_group">
          <h3 class="govuk-label govuk-label--m">
            User type
          </h3>
          <div class="govuk-body">
            <select class="govuk-select" name="user_type" id="user_type" formControlName="user_type">
              <option class="govuk-radios__item" *ngFor="let item of staffFilterOptions.userTypes" [value]="item.label">{{item.label}}</option>
            </select>
          </div>
        </ng-container>
        <hr />
        <ng-container id="roles_group">
          <h3 class="govuk-label govuk-label--m">
            Roles
          </h3>
          <div class="govuk-body">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div *ngFor="let item of staffFilterOptions.userRoles; let i = index" class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input"
                       [formControlName]="item.key"
                       [id]="'checkbox_userRoles' + item.key"
                       [name]="'checkbox_userRoles' + item.key"
                />
                <label [for]="'checkbox_userRoles' + item.key" class="govuk-label govuk-checkboxes__label">
                  {{item.label}}
                </label>
              </div>
            </div>
          </div>
        </ng-container>
        <hr />
        <ng-container id="job_title_group">
          <h3 class="govuk-label govuk-label--m">
            Job title
          </h3>
          <div class="govuk-body">
            <div class="govuk-checkboxes govuk-checkboxes--small" formGroupName="roles" id="checkbox_job_title">
              <div *ngFor="let item of staffFilterOptions.jobTitles; let i = index" class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input"
                       [formControlName]="i"
                       [value]="item" [id]="'checkbox_job_title' + item.key"
                       [name]="'checkbox_job_title' + item.key"
                />
                <label
                [for]="'checkbox_job_title' + item.key"
                class="govuk-label govuk-checkboxes__label"
                  >{{item.label}}</label>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container id="skills_group">
          <h3 class="govuk-label govuk-label--m">
            Skills
          </h3>
          <div class="govuk-checkboxes govuk-checkboxes--small" formGroupName="skills" attr.field="skills" id="checkbox_skills">
            <div *ngFor="let item of filteredSkillsByServicesCheckbox; let i = index" class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input"
                     [formControlName]="i"
                     (change)="toggleSelectSkills($event, form, item)"
                     [value]="item.key"
                     [name]="'checkbox_skills_' + i + '_' + item.key"
                     [id]="'checkbox_skills_' + i + '_' + item.key"
              />

              <label class="govuk-label govuk-checkboxes__label"
                [for]="'checkbox_skills_' + i + '_' + item.key"
                [ngClass]="{'govuk-!-font-weight-bold': item.selectAll}">
                {{item.label}}
              </label>
            </div>
          </div>
        </ng-container>
        <hr />
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <button
              class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-0"
              type="submit"
              id="submitAddEditStaffUserForm"
            >Continue</button>
            <button
              class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
              type="button"
              id="cancelForm"
              [routerLink]="'../'"
            >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</exui-page-wrapper>
