:host ::ng-deep .screen-990 {
    width: inherit;
}

:host ::ng-deep ccpay-payment-view .govuk-grid-row,
:host ::ng-deep ccpay-payment-view .grid-row {
    .heading-medium {
        margin-left: 15px;
    }
}

.page {
  width:100%;
}

#content {
  padding-left: 15px;
}
