<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <exui-page-wrapper>
    <exui-noc-navigation
      (eventTrigger)="onNavEvent($event)"
    >
      <exui-noc-case-ref
        *ngIf="isComponentVisible(nocNavigationCurrentState, caseRefVisibilityStates)"
        [navEvent]="navEvent"
      ></exui-noc-case-ref>
      <exui-noc-q-and-a
        *ngIf="isComponentVisible(nocNavigationCurrentState, qAndAVisibilityStates)"
        [navEvent]="navEvent"
      ></exui-noc-q-and-a>
      <exui-noc-check-and-submit
        *ngIf="isComponentVisible(nocNavigationCurrentState, checkAnswerVisibilityStates)"
        [navEvent]="navEvent"
      ></exui-noc-check-and-submit>
      <exui-noc-error *ngIf="isComponentVisible(nocNavigationCurrentState, caseRefErrorStates)" [navEvent]="navEvent"></exui-noc-error>
    </exui-noc-navigation>
  </exui-page-wrapper>
</div>
<exui-app-footer></exui-app-footer>
