<div class="govuk-form-group" [ngClass]="{'form-group-error': !phoneUkControl.valid}">

  <label class="govuk-label" [for]="id()">
    <span class="form-label govuk-!-font-weight-bold" *ngIf="questionField.questionText">{{questionField.questionText}}</span>
    <span class="error-message" *ngIf="phoneUkControl.errors && phoneUkControl.touched">{{phoneUkControl.errors | nocError}}</span>
  </label>
  <input class="govuk-input govuk-input--width-10" [id]="id()" type="tel" [formControl]="phoneUkControl">

</div>
