<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <h2 class="hmcts-footer__heading">
              {{help.heading}}
          </h2>
          <ul class="hmcts-footer__list">
              <li class="hmcts-footer__list-item">
                  Email: <a class="hmcts-footer__link" href="mailto:{{help.email.address}}">{{help.email.text}}</a>
              </li>
              <li class="hmcts-footer__list-item">Phone: {{help.phone.text}}</li>
              <li class="hmcts-footer__list-item">Opening times: {{help.opening.text}}</li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <ul
              class="hmcts-footer__list hmcts-footer__list--inline">
              <li class="hmcts-footer__list-item" *ngFor="let item of navigation.items">
                  <a class="hmcts-footer__link" href="{{item.href}}">{{item.text}}</a>
              </li>
          </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
