<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="hmcts-page-heading">
        <div class="hmcts-page-heading__title">
          <h1 class="govuk-heading-l">Work access</h1>
        </div>
      </div>
      <form name="aspnetForm" method="post" id="aspnetForm" autocomplete="off">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" onclick="hideshow(1)" checked="">
                <label class="govuk-label govuk-radios__label" for="contact">
                    Choose an existing booking
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-1" style="display:block">
                <div class="govuk-grid-column-one-half">
                  <div class="govuk-form-group">
                    <p>
                      <strong>Plymouth Crown Court</strong>
                      <span class="govuk-hint">
                        21 November 2021 to 26 November 2021
                      </span>
                    </p>
                    <div class="govuk-button-group">
                      
  
    
  

<a href="/caseaccess/pages/mywork-plymouth" role="button" draggable="false" class="govuk-button govuk-button--secondary">
  Continue
</a>

                    </div>
                  </div>
                </div>
                <div class="govuk-form-group">
                  <p>
                    <strong>Salisbury County Court</strong>
                    <span class="govuk-hint">
                      24 November 2021 to 29 November 2021<br>
                    </span>
                  </p>
                  <div class="govuk-button-group">
                    
  
    
  

<a href="/caseaccess/pages/mywork-salisbury" role="button" draggable="false" class="govuk-button govuk-button--secondary">
  Continue
</a>

                  </div>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" onclick="hideshow(2)">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Create a new booking
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-2">
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" onclick="hideshow(3)">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                    View tasks and cases
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </form></div>
    
    <div class="govuk-grid-column-two-thirds">
      <!--  NEXT PAGE  CHNAGING BASED ON SELECTION  -->
      <!--  NO SELECTION -->
      <a href="#" style="display: block" id="link0">
        <!-- <button class="govuk-button" data-module="govuk-button">
          Continue
        </button> -->
      </a>
      <!--  Selected entered address -->
      <a href="#" style="display: none" id="link1">
        <!-- <button class="govuk-button" data-module="govuk-button">
          Continue
        </button> -->
      </a>
      <!--  Selected solicitor -->
      <a href="/caseaccess/pages/booking-location-opt1" style="display: none" id="link2">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>
      <!--  Selected solicitor -->
      <a href="/caseaccess/pages/mywork-opt2" style="display: none" id="link3">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </a>
    </div>
    </div>
  </div>
