<exui-task-manager-filter [locations]="locations" [caseworkers]="caseworkers"
  (selectionChanged)="onSelectionChanged($event)">
</exui-task-manager-filter>
<p>
  Displaying <span class="govuk-!-font-weight-bold">{{taskCount}}</span> {{tasksLabel}}.
</p>
<exui-task-list
  [taskServiceConfig]="taskServiceConfig" [tasks]="tasks" [fields]="fields"
  [sortedBy]="sortedBy" [emptyMessage]="emptyMessage" [tasksTotal]="tasksTotal" [fields]="fields" [pagination]="pagination"
  (sortEvent)="onSortHandler($event)" (actionEvent)="onActionHandler($event)" (paginationEvent)="onPaginationHandler($event)">
</exui-task-list>