<exui-error-message *ngIf="error" [error]="error"></exui-error-message>

<main class="govuk-main-wrapper" id="content" role="main">

  <div *ngIf="formGroup.errors" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
       tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="javascript:void(0)" (click)="setFocusOn('inputSelectPerson')">You must select a name</a>
        </li>
      </ul>
    </div>
  </div>

  <xuilib-find-person
    [title]="verb + ' task'"
    [findPersonGroup]="formGroup"
    (personSelected)="selectedPerson($event)"
    [selectedPerson]="defaultPerson"
    [domain]="domain"
    [userIncluded]="true"
    [assignedUser]="assignedUser"
    [services]="service">
  </xuilib-find-person>

  <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()">Continue</button>
  <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
</main>
