<exui-app-header></exui-app-header>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <h1 class="govuk-heading-xl">Reassign a task</h1>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>Reassign a task to a colleague.</p>
        <exui-task-list [taskServiceConfig]="taskServiceConfig" [tasks]="tasks" [fields]="fields" [sortedBy]="sortedBy"
                        (sortEvent)="onSortHandler($event)" (actionEvent)="onActionHandler($event)">
        </exui-task-list>
        <h2 class="govuk-heading-m">Choose a colleague</h2>
        <exui-task-assignment (caseworkerChanged)="onCaseworkerChanged($event)"></exui-task-assignment>
        <button class="govuk-button task-assignment-btn" type="submit" (click)="reAssign()">Reassign</button>
        <a routerLink="/tasks" role="button" draggable="false" class="govuk-button govuk-button--secondary cancel-back-btn">
          Cancel and go back
        </a>
      </div>
    </div>
    </main>
  </div>
<exui-app-footer></exui-app-footer>