<exui-error-message *ngIf="error" [error]="error"></exui-error-message>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <h1 class="govuk-heading-xl">{{verb}} a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>{{verb}} a task to a colleague.</p>
      <exui-task-list
        [taskServiceConfig]="taskServiceConfig" [tasks]="tasks" [fields]="fields"
        [sortedBy]="sortedBy" [showManage]="showManage">
      </exui-task-list>

      <h2 class="govuk-heading-m">Choose a colleague</h2>
      <exui-task-assignment [excludeCaseworkers]="excludedCaseworkers" [location]="location"
        (caseworkerChanged)="onCaseworkerChanged($event)" [showProblem]="error">
      </exui-task-assignment>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()">{{verb}}</button>
      <button class="govuk-button govuk-button--secondary" type="submit" (click)="cancel()">Cancel and go back</button>

    </div>
  </div>
</main>
