<a class="govuk-back-link" href="javascript:void(0)" (click)="onBack()">{{ 'Back' | rpxTranslate }}</a>
<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem' | rpxTranslate">
</xuilib-hmcts-error-summary>
<xuilib-hmcts-error-summary [errorMessages]="serverErrors" [header]="'There is a problem' | rpxTranslate" *ngIf="errors$ | async">
</xuilib-hmcts-error-summary>
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
  *ngIf="validationErrors.length == 0 && successBanner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      {{ 'Success' | rpxTranslate }}
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">{{ 'Details submitted' | rpxTranslate }}</p>
  </div>
</div>
<div class="govuk-grid-row" *ngIf="hearingActualsMainModel">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-case-name></exui-hearing-case-name>
    <h1 class="govuk-heading-m">{{ 'Hearing details' | rpxTranslate }}</h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{getHearingDateText()}}</dt>
        <dd class="govuk-summary-list__value">{{hearingDateRange | ccdDate: 'local' | date: "dd MMMM yyyy"}}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ 'Paper hearing' | rpxTranslate }}</dt>
        <dd class="govuk-summary-list__value">{{ 'Paper hearing' | rpxTranslate : null : isPaperHearing ? 'Yes' : 'No' }}</dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="!isPaperHearing">
        <dt class="govuk-summary-list__key">{{ 'Hearing methods' | rpxTranslate }}</dt>
        <dd class="govuk-summary-list__value" [innerHtml]="answerSource.HOW_PARTICIPANTS_ATTEND | transformAnswer:hearingState$ | async">
        </dd>
      </div>
    </dl>
    <br>

    <h1 class="govuk-heading-m" id="hearingStageResult">{{ 'Hearing stage and result' | rpxTranslate }}</h1>
    <span class="govuk-body align-right">
      <a href="javascript:void(0)" [routerLink]="['/', 'hearings', 'actuals', id, 'hearing-stage-result']"
        id="hearing-stage-result-update-link" class="govuk-link">{{ 'Update' | rpxTranslate }}</a>
    </span>
    <div class="govuk-error-message" *ngIf="hearingStageResultErrorMessage !== ''">
      {{hearingStageResultErrorMessage | rpxTranslate }}
    </div>
    <div [ngClass]="{'govuk-form-group govuk-form-group--error': hearingStageResultErrorMessage !== ''}">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ 'Hearing stage' | rpxTranslate }}</dt>
          <dd class="govuk-summary-list__value">{{hearingTypeDescription}}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ 'Hearing result' | rpxTranslate }}</dt>
          <dd class="govuk-summary-list__value">{{hearingResult}}</dd>
        </div>
      </dl>
    </div>
    <br>
    <h1 class="govuk-heading-m" id="hearingDate">{{ 'Hearing date(s)' | rpxTranslate }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div *ngIf="actualHearingDays">
      <div id="actual-hearing-dates">
        <details *ngFor="let actualHearingDay of actualHearingDays; let i = index" class="govuk-details"
          data-module="govuk-details" [open]="hearingDatesAccordion[actualHearingDay.hearingDate]">
          <summary class="govuk-details__summary"
            (click)="$event.preventDefault(); hearingDatesAccordion[actualHearingDay.hearingDate] = !hearingDatesAccordion[actualHearingDay.hearingDate]">
            <div class="govuk-details__summary-text govuk-!-padding-bottom-1">
              {{actualHearingDay?.hearingStartTime | ccdDate: 'local' | date: "dd MMMM yyyy"}}
            </div>
            <ng-container *ngIf="!hearingIsInFuture(actualHearingDay.hearingDate)">
              <div class="govuk-tag" [class.govuk-tag--grey]="!isDetailsProvidedForDay(actualHearingDay)">
                {{isDetailsProvidedForDay(actualHearingDay) ? 'DETAILS PROVIDED' : 'AWAITING CONFIRMATION' | rpxTranslate}}
              </div>
            </ng-container>
            <ng-container *ngIf="hearingIsInFuture(actualHearingDay.hearingDate)">
              <div class="govuk-tag" [class.govuk-tag--grey]="!isDetailsProvidedForDay(actualHearingDay)">
                FUTURE HEARING DAY
              </div>
            </ng-container>
          </summary>

          <div class="govuk-details__text listing-info">
            <dl class="govuk-summary-list govuk-!-margin-bottom-0 govuk-!-padding-right-2">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key ">{{ 'Was this hearing day required?' | rpxTranslate }}</dt>
                <dd class="govuk-summary-list__value">
                  <div>
                    {{ 'Was this hearing day required?' | rpxTranslate :  null : actualHearingDay.notRequired ? 'No' : 'Yes' }}
                  </div>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ng-container *ngIf="!hearingIsInFuture(actualHearingDay.hearingDate)">
                    <a href="javascript:void(0)" id="hearing-stage-result-change-link" class="govuk-link"
                      (click)="changeWasThisHearingDayRequired(actualHearingDay)">{{ 'Change' | rpxTranslate }}</a>
                  </ng-container>
                </dd>
              </div>
              <ng-container *ngIf="!actualHearingDay.notRequired">
                <br>
                <div class="hearing-table-row">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <span class="govuk-heading-m govuk-!-margin-bottom-0">{{ 'Hearing timings' | rpxTranslate }}</span>
                    </dt>
                    <dd class="govuk-summary-list__value"></dd>
                      <dd class="govuk-summary-list__actions">
                        <ng-container *ngIf="!hearingIsInFuture(actualHearingDay.hearingDate)">
                          <a href="javascript:void(0)" (click)="confirmActualHearingTimeForDay(actualHearingDay)"
                            id="hearing-timing-result-confirm-link" class="govuk-link">{{ 'Confirm' | rpxTranslate }}</a>&nbsp;
                          <a [routerLink]="['/', 'hearings', 'actuals' , id, 'hearing-timing', actualHearingDay.hearingDate]"
                            class="govuk-link">{{ 'Update' | rpxTranslate }}</a>
                        </ng-container>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ 'Start time' | rpxTranslate }}</dt>
                    <dd class="govuk-summary-list__value">{{actualHearingUtils.formatTime(actualHearingDay.hearingStartTime | ccdDate: 'local')}}</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ 'Finish time' | rpxTranslate }}</dt>
                    <dd class="govuk-summary-list__value">{{actualHearingUtils.formatTime(actualHearingDay.hearingEndTime | ccdDate: 'local')}}</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ 'Pause time' | rpxTranslate }}</dt>
                    <dd class="govuk-summary-list__value">{{actualHearingUtils.formatTime(actualHearingUtils.getPauseDateTime(actualHearingDay, 'start') | ccdDate: 'local')}}</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ 'Resume time' | rpxTranslate }}</dt>
                    <dd class="govuk-summary-list__value">{{actualHearingUtils.formatTime(actualHearingUtils.getPauseDateTime(actualHearingDay, 'end') | ccdDate: 'local')}}</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                </div>
                <br>
                <div class="hearing-table-row">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      <span class="govuk-heading-m govuk-!-margin-bottom-0">{{ 'Participants' | rpxTranslate }}</span>
                    </dt>
                    <dd class="govuk-summary-list__value"></dd>
                    <ng-container *ngIf="!actualHearingDay.notRequired">
                      <dd class="govuk-summary-list__actions">
                        <ng-container *ngIf="!hearingIsInFuture(actualHearingDay.hearingDate)">
                          <a href="javascript:void(0)" (click)="confirmActualPartiesForDay(actualHearingDay)" *ngIf="!haveParticipantsBeenAdded((actualHearingDay))"
                            id="hearing-parties-result-confirm-link" class="govuk-link">{{ 'Confirm' | rpxTranslate }}</a>&nbsp;
                          <a *ngIf="!isPaperHearing" href="javascript:void(0)"
                            [routerLink]="['/', 'hearings', 'actuals', id, 'actuals-parties', actualHearingDay.hearingDate]"
                            class="govuk-link">{{ 'Update' | rpxTranslate }}</a>
                        </ng-container>
                      </dd>
                    </ng-container>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ 'Names' | rpxTranslate }}</dt>
                    <dd class="govuk-summary-list__value">
                      <div
                        *ngFor="let party of actualHearingUtils.getParties(hearingActualsMainModel, actualHearingDay.hearingDate)">
                        <span *ngIf="party.individualDetails">
                          {{party.individualDetails.firstName}} {{party.individualDetails.lastName}}
                        </span>
                      </div>
                    </dd>
                    <dd class="govuk-summary-list__actions"></dd>
                  </div>
                  <ng-container *ngIf="!isPaperHearing">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">{{ 'How participants will attend' | rpxTranslate }}</dt>
                      <dd class="govuk-summary-list__value">
                        <div
                          *ngFor="let party of actualHearingUtils.getParties(hearingActualsMainModel, actualHearingDay.hearingDate)">
                          <span *ngIf="party.individualDetails">
                            {{party.individualDetails.firstName}} {{party.individualDetails.lastName}}:
                            {{party.partyChannelSubType | convertToValue: partyChannels}}
                          </span>
                        </div>
                      </dd>
                      <dd class="govuk-summary-list__actions"></dd>
                    </div>
                    <div class="govuk-summary-list__row"
                      *ngFor="let attendee of actualHearingUtils.getAttendees(hearingActualsMainModel, actualHearingDay.hearingDate); let i = index;">
                      <dt class="govuk-summary-list__key">{{ 'Attendee' | rpxTranslate }} {{i + 1}}</dt>
                      <dd class="govuk-summary-list__value">
                        Role: {{attendee.partyRole | convertToValue: hearingRoles}}<br>
                        First name: {{attendee.individualDetails.firstName}}<br>
                        Last name: {{attendee.individualDetails.lastName}}<br>
                        Organisation: {{attendee.actualOrganisationName}}<br>
                        Attendee Type: {{attendee.partyChannelSubType | convertToValue: partyChannels}} <br>
                        Attendee representing: {{attendee.representedParty &&
                        actualHearingUtils.getRepresentingAttendee(attendee.representedParty, hearingActualsMainModel,
                        actualHearingDay.hearingDate) || "N/A"}}
                      </dd>
                      <dd class="govuk-summary-list__actions"></dd>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </dl>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row" *ngIf="hearingActualsMainModel">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group">
      <button class="govuk-button primary" data-module="govuk-button" (click)="onSubmitHearingDetails()">
        {{ 'Continue' | rpxTranslate }}
      </button>
    </div>
  </div>
</div>
