<div _ngcontent-c9="" class="display-left" leftbody="">
    <div _ngcontent-c11="" class="form-group">
        <div class="container-fluid">
            <exui-ccd-connector
            [eventsBindings]="caseListFilterEventsBindings"
            [store]="store"
            [fromFeatureStore]="fromCasesFeature">
                <ccd-case-list-filters #ccdComponent
                    [defaults]="defaults">
                </ccd-case-list-filters>
            </exui-ccd-connector>
        </div>
    </div>
</div>