<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">Was this hearing day required?</dt>
    <dd class="govuk-summary-list__value">{{ actualHearingDay.notRequired ? 'No' : 'Yes' }}</dd>
  </div>
</dl>
<h1 class="govuk-heading-m" style="display: inline-block;">Hearing timings</h1>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">Start time</dt>
    <dd class="govuk-summary-list__value">
      {{actualHearingDay?.hearingStartTime | date: dateFormat.DisplayTime}}
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">Finish time</dt>
    <dd class="govuk-summary-list__value">
      {{actualHearingDay?.hearingEndTime | date:dateFormat.DisplayTime}}
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">Pause time</dt>
    <dd class="govuk-summary-list__value">
      {{actualHearingDay.pauseDateTimes[0]?.pauseStartTime | date:dateFormat.DisplayTime}}
    </dd>
  </div>
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">Resume time</dt>
    <dd class="govuk-summary-list__value">
      {{actualHearingDay.pauseDateTimes[0]?.pauseEndTime | date:dateFormat.DisplayTime}}
    </dd>
  </div>
</dl>

<h1 class="govuk-heading-m" style="display: inline-block;">Participants</h1>
<div *ngFor="let participant of participants">
  <h2 class="govuk-heading-s">
    {{participant.individualDetails.firstName}}
    {{participant.individualDetails.lastName}}
  </h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Channel</dt>
      <dd class="govuk-summary-list__value">{{getChannelInfo(participant.partyChannelSubType).channel}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Sub-channel</dt>
      <dd class="govuk-summary-list__value">{{getChannelInfo(participant.partyChannelSubType).subChannel}}</dd>
    </div>
  </dl>
</div>

<div *ngFor="let attendee of attendees; let i = index">
  <h2 class="govuk-heading-s">Attendee {{i+1}}</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Role</dt>
      <dd class="govuk-summary-list__value">{{attendee.partyRole}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">First name</dt>
      <dd class="govuk-summary-list__value">{{attendee.individualDetails.firstName}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Last name</dt>
      <dd class="govuk-summary-list__value">{{attendee.individualDetails.lastName}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Channel</dt>
      <dd class="govuk-summary-list__value">{{getChannelInfo(attendee.partyChannelSubType).channel}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Sub-channel</dt>
      <dd class="govuk-summary-list__value">{{getChannelInfo(attendee.partyChannelSubType).subChannel}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Organisation</dt>
      <dd class="govuk-summary-list__value">{{attendee.actualOrganisationName}}</dd>
    </div>
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">Attendee representing</dt>
      <dd class="govuk-summary-list__value">{{attendee.representedParty}}</dd>
    </div>
  </dl>
</div>
