<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ 'Terms and conditions' | rpxTranslate }}</h1>

        <p
          class="govuk-body"
          [innerHTML]="introWithPrivacyPolicyText | rpxTranslate: { privacyPolicyLink: privacyPolicyLinkHtml }"
        ></p>
        <p class="govuk-body">{{ serviceIncludesKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ userDefinitionKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ legitimacyNeedKey | rpxTranslate }}</p>
        <h2 class="govuk-heading-l">{{ 'Who we are' | rpxTranslate }}</h2>
        <p class="govuk-body">{{ whoWeAreTextKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ termsUpdateNoticeKey | rpxTranslate }}</p>
        <h2 class="govuk-heading-l">{{ 'Terms of service' | rpxTranslate }}</h2>
        <p class="govuk-body">{{ dataProtectionComplianceKey | rpxTranslate }}</p>
        <h2 class="govuk-heading-l">{{ 'How to use this service responsibly' | rpxTranslate }}</h2>
        <p class="govuk-body">{{ preventDisclosureKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ credentialResponsibilityKey | rpxTranslate }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            {{ protectAndNotShareCredentialsKey | rpxTranslate }}
          </li>
          <li>
            {{ reportDisclosureKey | rpxTranslate }}
          </li>
          <li>
            {{ notUseAnotherPersonsCredentialsKey | rpxTranslate }}
          </li>
        </ul>
        <p class="govuk-body">{{ secureDevicesOnlyKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ falseClaimsKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ recipientChecksKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ bypassAccessControlsKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ notBypassAccessControlsKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ wifiSecurityKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ locationRestrictionKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ organisationAdministratorResponsibilitiesKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ organisationAccountabilityKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ organisationCeaseOperationKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ breachSanctionsKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ serviceProvidedFreeOfChargeKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ proceduresComplianceKey | rpxTranslate }}</p>
        <p class="govuk-body">{{ organisationResponsibilitiesAcknowledgementKey | rpxTranslate }}</p>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
