<exui-app-header></exui-app-header>
<exui-page-wrapper [title]="'Error Page'">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-error-summary__body" id="edit-case-event_error-summary-body">
                  <p>We're working to fix the problem. Try again shortly.</p>
                  <p><a href="get-help" target="_blank">Contact us</a> if you're still having problems.</p>
                </div>
            </div>
        </div>
    </main>
  </div>
</exui-page-wrapper>
<exui-app-footer></exui-app-footer>