<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': !timeControl.valid }">
  <label class="govuk-label" [for]="id()">
    <span class="govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{
      questionField.question_text | rpxTranslate
    }}</span>
    <span class="govuk-error-message" *ngIf="timeControl.errors && timeGroup.touched">{{
      timeControl.errors | nocError | rpxTranslate
    }}</span>
  </label>

  <div class="govuk-date-input" [formGroup]="timeGroup">
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="hourId()">{{ 'Hour' | rpxTranslate }}</label>
      <input
        #hourInput
        class="govuk-input govuk-input--width-10"
        [id]="hourId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="2"
        formControlName="hour"
      />
    </div>
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="minuteId()">{{ 'Minute' | rpxTranslate }}</label>
      <input
        #minuteInput
        class="govuk-input govuk-input--width-10"
        [id]="minuteId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="2"
        formControlName="minute"
      />
    </div>
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="secondId()">{{ 'Second' | rpxTranslate }}</label>
      <input
        #secondInput
        class="govuk-input govuk-input--width-10"
        [id]="secondId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="2"
        formControlName="second"
      />
    </div>
  </div>
</div>
