<ng-container *ngFor="let section of template">


  <div [innerHtml]="section.sectionHTMLTitle" [style.display]="section.updateLink ? 'inline-block' : ''"></div>

  <span class="govuk-body" *ngIf="section.updateLink"><a class="govuk-link govuk-!-margin-left-3" style="float:right;" href="{{section.updateLink}}">Update</a></span>


  <dl class="govuk-summary-list" *ngFor="let answer of section.answers">
    <div *ngIf="answer.isHiddenSource === undefined ? true : !(answer.isHiddenSource | isHidden:hearingActuals$ | async)"
         class="govuk-summary-list__row govuk-summary-list__row--no-actions">
      <dt class="govuk-summary-list__key">
        {{ answer.answerTitle }}
      </dt>
      <dd class="govuk-summary-list__value" [innerHtml]="answer.answerSource | transformAnswer:hearingActuals$ | async"></dd>
    </div>
  </dl>


  <ng-container *ngIf="section.parties?.length">

    <dl class="govuk-summary-list" *ngFor="let party of section.parties">
      <div [innerHTML]="party.HTMLTitle"></div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="party.partyRole">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.partyRole }}
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="party.individualDetails">
        <dt class="govuk-summary-list__key">
          First name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.individualDetails?.firstName }}
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="party.individualDetails">
        <dt class="govuk-summary-list__key">
          Last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.individualDetails?.lastName }}
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Attendance type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.partyChannel }}
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="party.organisationDetails">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.organisationDetails.name }}
        </dd>
      </div>
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="party.partyID">
        <dt class="govuk-summary-list__key">
          Attendee representing
        </dt>
        <dd class="govuk-summary-list__value">
          {{ party.partyID }}
        </dd>
      </div>
    </dl>

  </ng-container>


</ng-container>

<br>
<br>

<h2 class="govuk-heading-m">Submit your hearing details</h2>

<p class="govuk-body">Once you have entered the hearing details, select Submit hearing details.</p>
<p class="govuk-body">Once submitted, you cannot change your answers again. The case will be saved and the hearing
  will be marked as complete.</p>
<br>
