<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <ng-template *ngIf="caseId;else noCaseId">
    <a class="govuk-back-link" [routerLink]="['/', 'cases', 'case-details', caseId, 'hearings']" href="javascript:void(0)">{{ 'Back' | rpxTranslate }}</a>
  </ng-template>
  <ng-template #noCaseId>
    <a class="govuk-back-link" [routerLink]="['/', 'cases']" href="javascript:void(0)">{{ 'Back' | rpxTranslate }}</a>
  </ng-template>
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ 'There was a system error and your request could not be processed.' | rpxTranslate }}</h1>
        <p class="govuk-body">{{ 'Please try again.' | rpxTranslate }}</p>
        <br><br>
        <p class="govuk-body" *ngIf="caseId">
          {{ 'Go back to the' | rpxTranslate }} 
          <a class="govuk-link" [routerLink]="['/', 'cases', 'case-details', caseId, 'hearings']" href="javascript:void(0)">
            {{ 'hearings tab' | rpxTranslate }}
          </a>.
        </p>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
