<div class="hmcts-header__container">
  <div class="govuk-phase-banner">
    <a href="#" href="javascript:void(0)" (click)="toggleLanguage('cy')" *ngIf="currentLang == 'en'" class="language">Gymraeg</a>
    <a href="#" href="javascript:void(0)" (click)="toggleLanguage('en')" *ngIf="currentLang == 'cy'" class="language">English</a>
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
              {{type}}
          </strong>
          <span class="govuk-phase-banner__text">
              {{'This is a new service – your' | rpxTranslate}}
              <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/CCDSurvey/" target="_blank" rel="noopener noreferrer">
                {{'feedback' | rpxTranslate }} <span class="visuallyhidden">({{'Opens in a new window' | rpxTranslate}})</span>
              </a>
              {{'will help us to improve it.' | rpxTranslate}}
          </span>
      </p>
  </div>
</div>
