<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <a class="govuk-back-link" [routerLink]="['/role-access/delete-exclusion']" href="javascript:void()">Back</a>
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">There was a system error and your request could not be processed.</h1>
        <p class="govuk-body">Please try again.</p>
        <br><br>
        <p class="govuk-body">
          Go back to the <a class="govuk-link" [routerLink]="['work/all-work/tasks']" href="javascript:void()">All work tab</a>.
        </p>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
