<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">{{caption}}</span>
  {{title}}
</h1>
<div class="govuk-form-group" [formGroup]="formGroup">
  <fieldset class="govuk-fieldset" [attr.aria-label]="caption">
    <legend class="hidden-legend">{{caption}}</legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
      <div *ngFor="let duration of durations" class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="specific-access-{{duration.id}}"
          name="dateOption"
          type="radio"
          [value]="duration.duration"
          [attr.aria-describedby]="duration.description"
          formControlName="dateOption"
          (change)="onDurationChange(duration.duration)"
          [checked]="duration.checked" />
        <label class="govuk-label govuk-radios__label" for="specific-access-{{duration.id}}">
          {{ duration.duration }}
        </label>
        <span id="specific-access-{{duration.id}}-item-hint" class="govuk-hint govuk-radios__hint">
          {{ duration.description }}
        </span>
      </div>
      <div id="conditional-specific-access-3"
        [ngClass]="anotherPeriod ? 'govuk-radios__conditional' : 'govuk-radios__conditional govuk-radios__conditional--hidden'">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-label--m"> Access Starts </legend>
            <div class="govuk-date-input__item date-month-year">
              <div class="govuk-form-group">
                <label class="govuk-date-input__label govuk-label" for="endDate-day">
                  <span >Day</span>
                </label>
                <div>
                  <label class="govuk-date-input__label govuk-label">
                    <span>{{ today.getDate() }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="govuk-date-input__item date-month-year">
              <div class="govuk-form-group">
                <label class="govuk-date-input__label govuk-label" for="endDate-day">
                  <span >Month</span>
                </label>
                <div>
                  <label class="govuk-date-input__label govuk-label">
                    <span>{{ today.getMonth()+1 }}</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="govuk-date-input__item date-month-year">
              <div class="govuk-form-group">
                <label class="govuk-date-input__label govuk-label" for="endDate-day">
                  <span >Year</span>
                </label>
                <div>
                  <label class="govuk-date-input__label govuk-label">
                    <span>{{ today.getFullYear() }}</span>
                  </label>
                </div>
              </div>
          </div>
          <xuilib-gov-uk-date
            [formGroup]="formGroup"
            [config]="configEnd"
            [errorMessage]="endDateErrorMessage">
          </xuilib-gov-uk-date>
        </div>

      </div>
    </div>
  </fieldset>
</div>
