.git
.github
.vscode
.idea
.angular
**/.angular
.DS_Store
**/.DS_Store
charts
coverage
**/coverage
dist
**/dist
functional-output
functional-output/
infrastructure
reports
**/reports
test-results
**/test-results
node_modules
**/node_modules
.yarn/cache
.yarn/cache/
.yarn/global/
.yarn/install-state.gz
.yarn/unplugged/
**/.cache
**/.parcel-cache
debug.log
*.log
**/*.log
Jenkinsfile*
README.md
.husky/
e2e/
playwright_tests/
playwright_tests_new/
playwright-report
playwright-report/
trace
trace/
mochawesome-report/
test_codecept/
test/
**/test
dummy.pdf
*.iml
.sessions/
tmp
tmp/
logs
logs/
