.git
.github
.vscode
.idea
.angular
.DS_Store
charts
coverage
dist
functional-output
infrastructure
reports
test-results
node_modules
.yarn/cache
debug.log
Jenkinsfile*
README.md
.husky/
e2e/
playwright_tests/
playwright_tests_new/
functional-output/
mochawesome-report/
test_codecept/
test/
dummy.pdf
*.iml
*.log
.DS_Store
.sessions/
functional-output/
playwright_tests_new/
test-results/
.yarn/cache/
.yarn/global/
.yarn/install-state.gz
.yarn/unplugged/