.git
.github
.vscode
.idea
.angular
.DS_Store
charts
coverage
dist
functional-output
infrastructure
reports
test-results
node_modules
.yarn/cache
debug.log
Jenkinsfile*
README.md
.husky/
e2e/
playwright_tests/
test_codecept/
test/
dummy.pdf
*.iml
*.log