{
  "printWidth": 140,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [
        ".prettierrc",
        "package.json"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}