<div class="govuk-!-margin-bottom-4">
  Displaying <span class="govuk-!-font-weight-bold">2</span> of <span class="govuk-!-font-weight-bold">2</span> users
</div>


<div class="govuk-!-margin-bottom-6">
  <div class="govuk-button-group govuk-button-group--right">
    <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
      Add new user
    </button>
  </div>

</div>

<div>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Services</th>
        <th scope="col" class="govuk-table__header">Locations</th>
        <th scope="col" class="govuk-table__header">Job title</th>
        <th scope="col" class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="">Lacey-May Sanders</a>
        </td>
        <td class="govuk-table__cell">£109.80 per week</td>
        <td class="govuk-table__cell">£109.80 per week</td>
        <td class="govuk-table__cell">£109.80 per week</td>
        <td class="govuk-table__cell">£109.80 per week</td>
      </tr>
    </tbody>
  </table>
</div>
