<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div
    class="govuk-form-group"
    [ngClass]="{ 'form-group-error': formGroup.invalid && submitted }">
    <fieldset class="govuk-fieldset" aria-describedby="reason-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l"> {{ caption }}</span>
        <h1 class="govuk-fieldset__heading test">
          {{ title }}
        </h1>
      </legend>
      <div id="error-message"class="govuk-error-message" *ngIf="formGroup.get('radioSelected').invalid && submitted">
        {{ errorMessage.description }}
      </div>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item" *ngFor="let item of dateInterval; let i = index">
          <input
            class="govuk-radios__input"
            id="{{ 'date-' + i }}"
            name="radioSelected"
            type="radio"
            [value]="item.date"
            formControlName="radioSelected"
            [checked]="item.checked"/>
          <label
            class="govuk-label govuk-radios__label"
            for="{{ 'date-' + i }}">
            {{ item.date }}
          </label>
        </div>
        <div id="conditional-date-0" *ngIf="formGroup.get('radioSelected').value === dateInterval[2].date" class="govuk-radios__conditional">
          <div class="govuk-form-group">
            <xuilib-gov-uk-date
              [formGroup]="formGroup"
              [config]="configStart">
            </xuilib-gov-uk-date>
            <xuilib-gov-uk-date
              [formGroup]="formGroup"
              [config]="configEnd">
            </xuilib-gov-uk-date>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>
