<h2 class="govuk-heading-m">Panel details</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Do you require a panel for this hearing?
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Include specific panel members
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Exclude specific panel members
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Select any other panel roles required
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
</div>
