<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Hearing request submitted
        </h1>
        <div class="govuk-panel__body">
            Your hearing request will now be processed
        </div>
    </div>
    <p class="govuk-body"></p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
        You can <a href="/cases/case-details/1584618195804035/hearings" class="govuk-link">view the status of this request in the hearings tab</a>.
    </p>
    <p class="govuk-body">
        If the hearing cannot be listed automatically, it will be sent to a member of staff to be processed.<br>
        A notice of hearing will be issued once the hearing is listed, you will not be notified of the listing.
    </p>
  </div>
</div>
