<div *ngIf="completeScreenMode === 'COMPLETE'">
  <div class="hmcts-width-container">
    <main role="main" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" aria-label="Your cases have been updated">
              Your cases have been updated
            </h1>
          </div>
          <h3 class="govuk-heading-m">What happens next</h3>
          <p class="govuk-body">If you've shared one or more cases, your colleagues will now be able to access them from their case list.</p>
          <p class="govuk-body">
            <span text><a [routerLink]="['/cases']">Go back to the case list.</a></span>
          </p>
        </div>
      </div>
    </main>
  </div>
</div>
<div *ngIf="completeScreenMode === 'PENDING'">
  <br>
  <h1 class="govuk-heading-xl">Sorry, there is a problem</h1><br/>
  <p class="govuk-body">The following case were not shared: </p>
  <div *ngFor="let acase of newShareCases;">
    <div *ngIf="showUserAccessBlock(acase)">
      <h2 class="govuk-heading-m case-share-confirm__title">{{ acase.caseTitle }}</h2>
      <div class="case-share-confirm__caption-area">
        <div class="govuk-caption-m case-share-confirm__caption">
          {{ acase.caseId }}
        </div>
      </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Email address</th>
          <th class="govuk-table__header" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" *ngFor="let user of acase.pendingShares;">
          <td class="govuk-table__cell">{{ user.firstName + ' ' + user.lastName }}</td>
          <td class="govuk-table__cell">{{ user.email }}</td>
          <td class="govuk-table__cell">
            <span class="hmcts-badge">To be added</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="govuk-body">All your other selected cases were successfully shared.</p>
  <p class="govuk-body">Try again or <a href="get-help">get help</a> if you are still having problems </p>
</div>



