<a class="govuk-back-link" href="javascript:history.back()">Back</a>
<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'">
</xuilib-hmcts-error-summary>
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
  *ngIf="validationErrors.length == 0 && successBanner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body">Details submitted</p>
  </div>
</div>

<xuilib-hmcts-error-summary [errorMessages]="serverErrors" [header]="'There is a problem'" *ngIf="errors$ | async">
</xuilib-hmcts-error-summary>

<div class="listing-info" *ngIf="!!hearingActualsMainModel.caseDetails.caseCategories">
  <div class="govuk-grid-row listing-info">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your answers - isPaperHearing: {{isPaperHearing}}</h1>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case name</dt>
          <dd class="govuk-summary-list__value" [innerHtml]="answerSource.CASE_NAME | transformAnswer:hearingState$ | async"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case number</dt>
          <dd class="govuk-summary-list__value" [innerHtml]="answerSource.CASE_NUMBER | transformAnswer:hearingState$ | async"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Type</dt>
          <dd class="govuk-summary-list__value" [innerHtml]="answerSource.TYPE_FROM_REQUEST | transformAnswer:hearingState$ | async"></dd>
        </div>
      </dl>
      <br>

      <h1 class="govuk-heading-l">Hearing details</h1>
      <ng-container *ngFor="let actualHearingDay of actualHearingDays; let i = index">
        <dl class="govuk-summary-list" >
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ getHearingDateText() }}</dt>
            <dd class="govuk-summary-list__value">{{hearingDateRange}}</dd>
          </div>
        </dl>
        <br>

        <h2 class="govuk-heading-m">Hearing stage and result</h2>
        <span class="govuk-body align-right">
          <a href="javascript:void(0)" class="govuk-link" [routerLink]="hearingActualAddEditUrl()" fragment="overview">Change</a>
        </span>
        <dl class="govuk-summary-list" >
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Hearing stage</dt>
            <dd class="govuk-summary-list__value">{{hearingTypeDescription}}</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Hearing result</dt>
            <dd class="govuk-summary-list__value">{{hearingResult}}</dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions" *ngIf="!isPaperHearing">
            <dt class="govuk-summary-list__key">Hearing methods</dt>
            <dd class="govuk-summary-list__value" [innerHtml]="answerSource.HOW_PARTICIPANTS_ATTEND | transformAnswer:hearingState$ | async">
            </dd>
          </div>
        </dl>
        <br>

        <ng-container *ngIf="!actualHearingDay.notRequired">
          <br>
          <div
            [ngClass]="{'error': (hearingTimingResultErrorMessage !== '') && !isHearingActualsDaysAvailable(actualHearingDay.hearingDate)}"
          >
            <div class="hearing-table-row">
              <h2 class="govuk-heading-m">Hearing timings {{hearingTimingResultErrorMessage}} {{!isHearingActualsDaysAvailable(actualHearingDay.hearingDate)}}</h2>
              <span class="govuk-body align-right">
                <a href="javascript:void(0)" class="govuk-link" [routerLink]="hearingActualAddEditUrl()" fragment="overview">Change</a>
              </span>
              <dl class="govuk-summary-list" >
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Start time</dt>
                  <dd class="govuk-summary-list__value">{{actualHearingDay.hearingStartTime | date: "HH:mm"}}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Finish time</dt>
                  <dd class="govuk-summary-list__value">{{actualHearingDay.hearingEndTime | date: "HH:mm"}}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Pause time</dt>
                  <dd class="govuk-summary-list__value">{{getPauseStartDateTime(actualHearingDay)}}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Resume time</dt>
                  <dd class="govuk-summary-list__value">{{getPauseEndDateTime(actualHearingDay)}}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
              </dl>
            </div>
          </div>
          <br>

          <div [ngClass]="{'error': hearingPartiesResultErrorMessage !== '' && (!isHearingActualsPartiesAvailable(actualHearingDay.hearingDate))}">

            <div class="hearing-table-row">
              <h2 class="govuk-heading-m">Participants</h2>
              <span class="govuk-body align-right">
                <a href="javascript:void(0)" class="govuk-link" [routerLink]="hearingActualAddEditUrl()" fragment="overview">Change</a>
              </span>
              <ng-container *ngFor="let party of actualHearingUtils.getParties(hearingActualsMainModel, actualHearingDay.hearingDate)">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ party.individualDetails.firstName }} {{ party.individualDetails.lastName }}</dt>
                    <dd class="govuk-summary-list__value"></dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Attendence type</dt>
                    <dd class="govuk-summary-list__value">{{party.partyChannelSubType | convertToValue: partyChannels}}</dd>
                  </div>
                </dl>

              </ng-container>
            </div>
          </div>

          <ng-container *ngIf="!isPaperHearing">
            <ng-container *ngFor="let attendee of actualHearingUtils.getAttendees(hearingActualsMainModel, actualHearingDay.hearingDate); let i = index;">
              <br>
              <dl class="govuk-summary-list" >
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Attendee {{i + 1}}</dt>
                  <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Role</dt>
                  <dd class="govuk-summary-list__value">{{attendee.partyRole | convertToValue: hearingRoles}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">First name</dt>
                  <dd class="govuk-summary-list__value">{{attendee.individualDetails.firstName}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Last name</dt>
                  <dd class="govuk-summary-list__value">{{attendee.individualDetails.lastName}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Attendence type</dt>
                  <dd class="govuk-summary-list__value">{{attendee.partyChannelSubType | convertToValue: partyChannels}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Organisation</dt>
                  <dd class="govuk-summary-list__value">{{attendee.actualOrganisationName}}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Attendee representing</dt>
                  <dd class="govuk-summary-list__value">{{attendee.representedParty &&
                    actualHearingUtils.getRepresentingAttendee(attendee.representedParty, hearingActualsMainModel,
                    actualHearingDay.hearingDate) || "N/A"}}</dd>
                </div>
              </dl>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br>
      <h2 class="govuk-heading-m">Submit your hearing details</h2>
      <p class="govuk-body">Once you have entered the hearing details, select Submit hearing details.</p>
      <p class="govuk-body">Once submitted, you cannot change your answers again. The case will be saved and the hearing
        will be marked as complete.</p>
      <br>
      <div class="govuk-button-group">
        <button class="govuk-button primary" data-module="govuk-button" (click)="onSubmitHearingDetails()">
          Submit hearing details
        </button>
      </div>
    </div>
  </div>
</div>
