<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
      <ng-container *ngIf="!showSummary">
        <ng-container *ngIf="queryItem; else raiseQuery">
          <ccd-query-write-respond-to-query [queryItem]="queryItem" [formGroup]="formGroup" (confirmDetails)="confirmDetails($event)">
          </ccd-query-write-respond-to-query>
        </ng-container>
        <ng-template #raiseQuery>
          <ccd-query-write-raise-query [formGroup]="formGroup">
          </ccd-query-write-raise-query>
        </ng-template>
      </ng-container>
      <ccd-query-check-your-answers *ngIf="showSummary" [queryItem]="queryItem" [formGroup]="formGroup" (backClicked)="showResponseForm()">
      </ccd-query-check-your-answers>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>