<exui-app-header></exui-app-header>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <!-- Error message summary -->
    <div *ngIf="errorMessages.length > 0" class="govuk-error-summary"
         aria-labelledby="error-summary-title" role="alert" tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ 'There is a problem' | rpxTranslate }}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngFor="let errorMessage of errorMessages">
            <a [id]="'error-' + errorMessage.fieldId" href="javascript:void(0)"
              (click)="navigateToErrorElement(errorMessage.fieldId)"
              class="validation-error">{{ errorMessage.description | rpxTranslate }}</a>
          </li>
        </ul>
      </div>
    </div>

  <exui-alert></exui-alert>

  <ccd-callback-errors
    [triggerTextContinue]="triggerTextStart"
    [triggerTextIgnore]="triggerTextIgnoreWarnings"
    [callbackErrorsSubject]="callbackErrorsSubject"
    (callbackErrorsContext)="callbackErrorsNotify($event)">
  </ccd-callback-errors>

    <!-- Query management workflow pages -->
    <ng-container *ngIf="!showSummary && !showConfirmation" [formGroup]="formGroup">
      <ng-container [ngSwitch]="queryCreateContext">
        <div class="query-form-container">
          <ccd-qualifying-question-options *ngSwitchCase="queryCreateContextEnum.NEW_QUERY_QUALIFYING_QUESTION_OPTIONS"
            [qualifyingQuestionsControl]="qualifyingQuestionsControl"
            [qualifyingQuestions$]="qualifyingQuestions$">
          </ccd-qualifying-question-options>
          <ccd-qualifying-question-detail *ngSwitchCase="queryCreateContextEnum.NEW_QUERY_QUALIFYING_QUESTION_DETAIL"
            [qualifyingQuestion]="qualifyingQuestion">
          </ccd-qualifying-question-detail>
          <ccd-query-write-raise-query *ngSwitchCase="queryCreateContextEnum.NEW_QUERY"
            [formGroup]="formGroup"
            [caseDetails]="caseDetails"
            [showForm]="showForm"
            [queryCreateContext]="queryCreateContext" [submitted]="submitted">
          </ccd-query-write-raise-query>
          <ccd-query-write-respond-to-query
            *ngSwitchCase="[queryCreateContextEnum.RESPOND, queryCreateContextEnum.FOLLOWUP].includes(queryCreateContext) ? queryCreateContext : !queryCreateContext"
            [queryItem]="queryItem" [formGroup]="formGroup"
            [submitted]="submitted" [queryCreateContext]="queryCreateContext">
          </ccd-query-write-respond-to-query>
        </div>
      </ng-container>

      <div class="query-form-container"
        *ngIf="showForm && queryCreateContext !== queryCreateContextEnum.NEW_QUERY_QUALIFYING_QUESTION_OPTIONS && queryCreateContext !== queryCreateContextEnum.NEW_QUERY_QUALIFYING_QUESTION_DETAIL">
        <div class="govuk-form-group" [class.govuk-form-group--error]="formGroup.get('attachments')?.errors?.length">
          <ccd-query-write-add-documents [formGroup]="formGroup"
            [label]="'Add document to this query' | rpxTranslate"
            [hintText]="'Attach a document to this message' | rpxTranslate"
            (documentCollectionUpdate)="onDocumentCollectionUpdate($event)">
          </ccd-query-write-add-documents>
        </div>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" (click)="previous()">
          {{ 'Previous' | rpxTranslate }}
        </button>
        <button class="govuk-button" data-module="govuk-button" (click)="submitForm()" *ngIf="showContinueButton">
          {{ 'Continue' | rpxTranslate }}
        </button>
      </div>
    </ng-container>

    <!-- Check your answers page -->
    <ccd-query-check-your-answers
      *ngIf="showSummary"
      [eventData]="eventData"
      [queryItem]="queryItem"
      [formGroup]="formGroup"
      [roleName]="roleName"
      [queryCreateContext]="queryCreateContext"
      (backClicked)="showResponseForm()"
      (querySubmitted)="showConfirmationPage()">
    </ccd-query-check-your-answers>

    <!-- Query submission confirmation page -->
    <ccd-query-confirmation
      *ngIf="showConfirmation"
      [queryCreateContext]="queryCreateContext">
    </ccd-query-confirmation>

    <!-- Do not show the cancel link on query submittion confirmation page -->
    <div *ngIf="!showConfirmation">
      <ng-container [ngSwitch]="queryCreateContext">
        <a *ngSwitchCase="queryCreateContextEnum.NEW_QUERY"
          href="javascript:void(0)" (click)="navigateToCaseOverviewTab()"
          class="govuk-back-link govuk-!-margin-bottom-0">
            {{ 'Cancel and return to case' | rpxTranslate }}
        </a>
        <a *ngSwitchCase="queryCreateContextEnum.FOLLOWUP"
          href="javascript:void(0)" (click)="goToQueryList()"
          class="govuk-back-link govuk-!-margin-bottom-0">
          {{ 'Cancel and return to query list' | rpxTranslate }}
        </a>
        <a *ngSwitchCase="queryCreateContextEnum.RESPOND"
          href="javascript:void(0)" (click)="navigateToCaseTaskTab()"
          class="govuk-back-link govuk-!-margin-top-0">
          {{ 'Cancel and return to tasks' | rpxTranslate }}
        </a>
      </ng-container>
    </div>
  </main>
</div>

<exui-app-footer></exui-app-footer>
