<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <!-- Error message summary -->
    <div *ngIf="errorMessages.length > 0" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ 'There is a problem' | rpxTranslate }}
      </h2>
      <div *ngFor="let errorMessage of errorMessages" class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a [id]="'error-' + errorMessage.fieldId"
              (click)="navigateToErrorElement(errorMessage.fieldId)"
              class="validation-error">{{ errorMessage.description | rpxTranslate }}</a>
          </li>
        </ul>
      </div>
    </div>
    <ng-container *ngIf="!showSummary" [formGroup]="formGroup">
      <div>
        <ng-container *ngIf="queryItem; else raiseQuery">
          <ccd-query-write-respond-to-query
            [queryItem]="queryItem" [formGroup]="formGroup"
          ></ccd-query-write-respond-to-query>
        </ng-container>
        <ng-template #raiseQuery>
          <div class="query-form-container">
            <ccd-query-write-raise-query
              [formGroup]="formGroup"
              [submitted]="submitted">
            </ccd-query-write-raise-query>
          </div>
        </ng-template>
      </div>

      <div class="query-form-container">
        <div class="govuk-form-group" [class.govuk-form-group--error]="formGroup.get('attachments')?.errors?.length">
          <ccd-query-write-add-documents [formGroup]="formGroup" (documentCollectionUpdate)="onDocumentCollectionUpdate($event)">
          </ccd-query-write-add-documents>
        </div>
      </div>

      <div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" [disabled]="true">
            {{ 'Previous' | rpxTranslate }}
          </button>
          <button class="govuk-button" data-module="govuk-button" (click)="submitForm()">
            {{ 'Continue' | rpxTranslate }}
          </button>
        </div>
      </div>
    </ng-container>

    <ccd-query-check-your-answers *ngIf="showSummary" [queryItem]="queryItem" [formGroup]="formGroup" (backClicked)="showResponseForm()">
    </ccd-query-check-your-answers>

    <div>
      <ng-container *ngIf="queryItem; else raiseQueryBackLink">
        <a href="javascript:void(0)" class="govuk-back-link govuk-!-margin-bottom-0">
          {{ 'Cancel and return to tasks' | rpxTranslate }}
        </a>
      </ng-container>
      <ng-template #raiseQueryBackLink>
        <a href="javascript:void(0)" class="govuk-back-link govuk-!-margin-bottom-0">
          {{ 'Cancel and return to case' | rpxTranslate }}
        </a>
      </ng-template>
    </div>
  </main>
</div>

<exui-app-footer></exui-app-footer>
