<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': !postcodeControl.valid }">
  <label class="govuk-label" [for]="id()">
    <span class="govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{
      questionField.question_text | rpxTranslate
    }}</span>
    <span class="govuk-error-message" *ngIf="postcodeControl.errors && postcodeControl.touched">{{
      postcodeControl.errors | nocError | rpxTranslate
    }}</span>
  </label>

  <input class="govuk-input govuk-input--width-10" [id]="id()" type="text" [formControl]="postcodeControl" />
</div>
