<header>
  <!-- The background color is dynamic so that we can change the background color of the navigation,
   dependent on the User. -->
  <div [ngStyle]="{'background-color': backgroundColor}">

    <a [href]="currentUrl?.split('#')[0] + contentHash" class="govuk-skip-link">{{'Skip to main content' | rpxTranslate}}</a>

    <exui-hmcts-global-header
    [headerTitle]="title"
    [navigation]="userNav"
    [logo]="logo"
    (navigate)="onNavigate($event)"
    [items]="navItems"
    [logoIsUsed]="logoIsUsed"
    [currentUrl]="currentUrl"
    [decorate16DigitCaseReferenceSearchBoxInHeader]="decorate16DigitCaseReferenceSearchBoxInHeader"
    [showNavItems]="showNavItems | async">
    </exui-hmcts-global-header>

  </div>
  <exui-phase-banner type="beta"></exui-phase-banner>
</header>

