<header>
  <!-- TODO: When we get some time, it might be worth simplifying the header and placing it into
   one component, so that it's easier to see what's happening here. -->
  <div [ngStyle]="{'background-color': backgroundColor}">
    <exui-hmcts-global-header
    [headerTitle]="title"
    [navigation]="userNav"
    [logoType]="logoType"
    (navigate)="onNavigate($event)">
    </exui-hmcts-global-header>
    <!-- Navigation menu -->
    <exui-hmcts-primary-navigation
    [label]=""
    [items]="navItems"
    [logoIsUsed]="logoIsUsed"
    [showNavItems]="showNavItems | async"
    ></exui-hmcts-primary-navigation>
  </div>
  <!-- !Navigation menu -->
  <exui-phase-banner type="beta"></exui-phase-banner>
</header>

