<main class="govuk-main-wrapper" id="main-content" role="main">
  <h1 class="govuk-heading-xl">{{verb}} task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Check your changes</h2>
      <p>Check you are {{verb.toLowerCase()}}ing the work to the right person</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <th class="govuk-table__header">Case name</th>
          <th class="govuk-table__header">Case category</th>
          <th class="govuk-table__header">Location</th>
          <th class="govuk-table__header">Task</th>
          <th class="govuk-table__header">Date</th>
          <th class="govuk-table__header">Person</th>
          <th class="govuk-table__header"></th>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joe Blogs</td>
            <td class="govuk-table__cell">Protection</td>
            <td class="govuk-table__cell">Taylor House</td>
            <td class="govuk-table__cell">Review respondent interview</td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--red">
                01/01/1971
              </strong>
            </td>
            <td class="govuk-table__cell">Judge Birch</td>
            <td class="govuk-table__cell"><a class="govuk-link fright" click="cancel()" href="javascript:void(0)"
                id="change__link" aria-label="Change PBA account numbers">Change</a></td>
          </tr>
        </tbody>
      </table>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()">{{verb}}</button>
      <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
    </div>
  </div>
</main>
