<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request for access denied<br>
        </h1>
      </div>
      <h2 class="govuk-heading-m ">What happens next</h2>
      <p class="govuk-body">
        The requester has been denied access to this case.
      </p>
    </div>
  </div>
  <div class="form-group form-group-related">
    <p ><a button class="govuk-button govuk-!-margin-right-3" href="tasks/list" >{{returnToMyTask}}</a></p>
  </div>
  <p class="cancel"><a  href="cases/case-details/{{caseId}}" >{{retunToTask}}</a></p>
</div>