<a class="govuk-back-link" href="javascript:void(0)" *ngIf="isVisible((nocNavigationCurrentState$ | async), backVisibilityStates)" (click)="onEventTrigger(nocNavigationEvent.BACK)">Back</a>
<div>
    <ng-content></ng-content>
</div>
<button class="button" type="button" *ngIf="isVisible((nocNavigationCurrentState$ | async), continueVisibilityStates)" (click)="onEventTrigger(nocNavigationEvent.CONTINUE)">Continue</button>
<button class="button" type="button" *ngIf="isVisible((nocNavigationCurrentState$ | async), setAnswersButtonVisibilityStates)" (click)="onEventTrigger(nocNavigationEvent.SET_ANSWERS)">Continue</button>
<button class="button" type="button" *ngIf="isVisible((nocNavigationCurrentState$ | async), checkAnswersButtonVisibilityStates)" (click)="onEventTrigger(nocNavigationEvent.CHECK_ANSWERS)">Submit</button>

