<h1 class="govuk-heading-l" id="heading-something-wrong">Something went wrong</h1>
<p class="govuk-body">Your notice of change request has not been submitted.</p>
<p class="govuk-body">You'll need to submit a notice of change offline. You can do this by filling in the relevant paper form.</p>
<p>You should send the form to the court or tribunal dealing with the case.
  <a target="blank" href="https://www.gov.uk/find-court-tribunal">Find the right court or tribunal</a>.
</p>
<p>
  <span class="govuk-!-font-weight-bold">Civil cases</span><br>
  Use <a target="blank" href="https://www.gov.uk/government/publications/form-n434-notice-of-change-of-solicitor">form N434</a> (opens in new window)
</p>
<p>
  <span class="govuk-!-font-weight-bold">Family cases</span><br>
  Use <a target="blank" href="https://www.gov.uk/government/publications/form-fp8-notice-of-change-of-solicitor">form FP8</a> (opens in new window)
</p>
<p>
  <span class="govuk-!-font-weight-bold">Tribunal cases</span><br>
  Write a letter confirming the change of legal representative. You should include the 16-digit case reference. Send a copy to all parties involved in the case.
</p>
