<h1 class="govuk-heading-l" id="heading-something-wrong">{{'Something went wrong' | rpxTranslate}}</h1>
<p class="govuk-body">{{'Your notice of change request has not been submitted.' | rpxTranslate}}</p>
<p class="govuk-body">{{"You'll need to submit a notice of change offline. You can do this by filling in the relevant paper form." | rpxTranslate}}</p>
<p>{{'You should send the form to the court or tribunal dealing with the case.' | rpxTranslate}}
  <a target="blank" href="https://www.gov.uk/find-court-tribunal">{{'Find the right court or tribunal' | rpxTranslate}}</a>.
</p>
<p>
  <span class="govuk-!-font-weight-bold">{{'Civil cases' | rpxTranslate}}</span><br>
  {{'Use' | rpxTranslate}} <a target="blank" href="https://www.gov.uk/government/publications/form-n434-notice-of-change-of-solicitor">{{'form N434' | rpxTranslate}}</a> {{'(opens in new window)' | rpxTranslate}}
</p>
<p>
  <span class="govuk-!-font-weight-bold">{{'Family cases' | rpxTranslate}}</span><br>
  {{'Use' | rpxTranslate}} <a target="blank" href="https://www.gov.uk/government/publications/form-fp8-notice-of-change-of-solicitor">{{'form FP8' | rpxTranslate}}</a> {{'(opens in new window)' | rpxTranslate}}
</p>
<p>
  <span class="govuk-!-font-weight-bold">{{'Tribunal cases' | rpxTranslate}}</span><br>
  {{'Write a letter confirming the change of legal representative. You should include the 16-digit case reference. Send a copy to all parties involved in the case.' | rpxTranslate}}
</p>
<p>
  <span class="govuk-!-font-weight-bold">{{'Financial Remedy cases' | rpxTranslate}}</span><br>
  {{'You have either not entered an exact match for the case reference, or the case you are trying to update has not yet been issued. You can retry with a different case number, wait until the case has been issued, or email your local court or Financial Remedy Centre to request the change of legal representative. You should include the 16-digit Financial Remedy case reference in your email.' | rpxTranslate}}
</p>
