$govuk-global-styles: true;
$hmcts-images-path: "/assets/images/";

// Width of main container
$hmcts-page-width: 1220px;

// TODO temporary solution to extend the width of the page until is addressed through govuk-frontend"
body .govuk-width-container, #content {
  max-width: 1220px;
}

#content {
  padding-left: 20px;
}

@import "~govuk-frontend/govuk/all";
@import "~@hmcts/frontend/all";

// TODO move this in more appropriate place - perhaps get it from govuk-frontend
// Find case button START
a.hmcts-search-toggle__button {
  color: govuk-colour('white');
}

.hmcts-search-toggle__button {
  float: right;
  @include govuk-font($size: 19, $weight: bold);
  background-color: govuk-colour("black");
  border: none;
  color: govuk-colour("white");
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;

  &:after {
    background-repeat: no-repeat;
    background-image: url(#{$hmcts-images-path}icon-search-white.svg);
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: govuk-spacing(2);
    vertical-align: middle;
    width: 20px;
  }
}

.hmcts-primary-navigation__search {
  float: right;;
}

// gov uk frond-end template is not installed on this
.js-hidden{
  display: none;
  visibility: hidden;
}
// Find case button END

.govuk-cookie-banner {
  position: fixed;
  bottom: 0;
}
