<router-outlet></router-outlet>

<exui-dialog positionTop="300px" *ngIf="(modalData$ | async).isVisible" (close)="onStaySignedIn()">
  <h3 class="govuk-heading-m">We are about to sign you out</h3>
  <p class="govuk-body">For your security, we will sign you out of your account in
    <strong style="font-weight: bold">{{(modalData$ | async).countdown}}</strong>
  </p>
  <p>Any information you have not saved will be lost</p>
  <button type="submit" class="govuk-button" (click)="onStaySignedIn()">
    Stay signed in
  </button>
  <div>
    <a (click)="onNavigate('signed-out')" [routerLink]="">Sign out</a>
  </div>
</exui-dialog>
