$govuk-global-styles: true;
$hmcts-images-path: "/assets/images/";

// Width of main container
$hmcts-page-width: 1920px;

// TODO temporary solution to extend the width of the page until is addressed through govuk-frontend"
header, footer.govuk-footer{
  max-width: 1920px;
  min-width: 1020px;
}

.hmcts-primary-navigation, .govuk-footer__meta{
  max-width: 1860px;
  min-width: 960px;
}

  body .govuk-width-container{
    margin-right: 30px;
    margin-left:  30px;
    max-width: 1860px;
    min-width: 960px;
  }
  #content{
    margin-right: 30px;
    max-width: 1890px;
    min-width: 900px;
  }

@import "~govuk-frontend/govuk/all";
@import "~@hmcts/frontend/all";

// TODO move this in more appropriate place - perhaps get it from govuk-frontend
// Find case button START
a.hmcts-search-toggle__button {
  color: govuk-colour('white');
}

.hmcts-search-toggle__button {
  float: right;
  @include govuk-font($size: 19, $weight: bold);
  background-color: govuk-colour("black");
  border: none;
  color: govuk-colour("white");
  cursor: pointer;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;

  &:after {
    background-repeat: no-repeat;
    background-image: url(#{$hmcts-images-path}icon-search-white.svg);
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: govuk-spacing(2);
    vertical-align: middle;
    width: 20px;
  }
}

.hmcts-primary-navigation__search {
  float: right;;
}

// gov uk frond-end template is not installed on this
.js-hidden{
  display: none;
  visibility: hidden;
}
// Find case button END
