<div class="exui-alert" *ngIf="successMessage?.length>0">
  <cut-alert [type]='"success"' >
    <i  role="presentation" class="icon icon-tick" aria-hidden="false"></i>
    <div  class="alert-message">
      {{successMessage}}
    </div>
  </cut-alert>
</div>
<div class="exui-alert" *ngIf="errorMessage?.length>0">
  <cut-alert [type]='"error"' >
    <i  role="presentation" class="icon icon-tick" aria-hidden="false"></i>
    <div  class="alert-message">
      {{errorMessage}}
    </div>
  </cut-alert>
</div>
<div class="exui-alert" *ngIf="warningMessage?.length>0">
  <cut-alert [type]='"warning"' >
    <i  role="presentation" class="icon icon-tick" aria-hidden="false"></i>
    <div  class="alert-message">
      {{warningMessage}}
    </div>
  </cut-alert>
</div>

