<div class="exui-alert" *ngIf="successMessage.length>0">
  <cut-alert type="success">
    <div class="alert-message">
      {{successMessage}}
    </div>
  </cut-alert>
</div>
<div class="exui-alert" *ngIf="errorMessage.length>0">
  <cut-alert type='error'>
    <div class="alert-message">
      {{errorMessage}}
    </div>
  </cut-alert>
</div>
<div class="exui-alert" *ngIf="warningMessage.length>0">
  <cut-alert type='warning'>
    <div class="alert-message">
      {{warningMessage}}
    </div>
  </cut-alert>
</div>