<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="infoMessageType.WARNING">
    <section class="govuk-notification-banner" aria-labelledby="exui-info-warning-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="exui-info-warning-title">{{ 'Warning' | rpxTranslate }}</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ message }}</p>
      </div>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="infoMessageType.SUCCESS">
    <div
      class="govuk-notification-banner govuk-notification-banner--success"
      role="alert"
      aria-labelledby="exui-info-success-title"
      data-module="govuk-notification-banner"
    >
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="exui-info-success-title">{{ 'Success' | rpxTranslate }}</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ message }}</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="infoMessageType.INFO">
    <section class="govuk-notification-banner" aria-labelledby="exui-info-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="exui-info-title">{{ 'Information' | rpxTranslate }}</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">{{ message }}</p>
      </div>
    </section>
  </ng-container>
</ng-container>
