<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="infoMessageType.WARNING">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">{{ 'Warning' | rpxTranslate }}</span>
        {{ message }}
      </strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="infoMessageType.SUCCESS">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title-success">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-success">{{ 'Success' | rpxTranslate }}</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body">{{ message }}</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="infoMessageType.INFO">
    <section class="govuk-notification-banner" aria-labelledby="govuk-notification-banner-title-info">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-info">{{ 'Important' | rpxTranslate }}</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body">{{ message }}</p>
      </div>
    </section>
  </ng-container>
</ng-container>
