<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> Sorry, due to a system error we cannot process your booking.</h1>
        <p class="govuk-body"> Please log out and try again. If the problem continues, contact the help desk for support.</p>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
