<div class="exui-task-manager-filter">

  <div class="govuk-form-group">
    <div class="govuk-date-input">

      <!-- Caseworker -->
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label for="task_assignment_caseworker" class="govuk-label">Assignee</label>
          <select id="task_assignment_caseworker" name="task_assignment_caseworker" class="govuk-select task-assignment__caseworker"
                  [(ngModel)]="caseworker">
            <option [ngValue]="ALL_CASEWORKERS">{{ALL_CASEWORKERS | caseworkerDisplayName}}</option>
            <option [ngValue]="NO_CASEWORKER_ASSIGNED">{{NO_CASEWORKER_ASSIGNED | caseworkerDisplayName}}</option>
            <option *ngFor="let cw of caseworkers" [ngValue]="cw">{{cw | caseworkerDisplayName}}</option>
          </select>
        </div>
      </div>

      <!-- Location -->
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label for="task_assignment_location" class="govuk-label">Task location</label>
          <select id="task_assignment_location" name="task_assignment_location" class="govuk-select task-assignment__location"
                  [(ngModel)]="location">
            <option [ngValue]="ALL_LOCATIONS">{{ALL_LOCATIONS.location}}</option>
            <option *ngFor="let loc of locations" [ngValue]="loc">{{loc.location}}</option>
          </select>
        </div>
      </div>

    </div>
  </div>

</div>