<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">
      Select length, date and priority level of hearing
    </h1>

    <form class="form" [formGroup]="priorityForm">
      <div class="govuk-radios govuk-!-padding-bottom-1">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint" id="hearing-length">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">Length of hearing</h1>
            </legend>
            <div class="govuk-date-input" formGroupName="durationLength">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="durationhours">Hours</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="durationhours"
                    name="durationhours" type="text" inputmode="numeric" value="" formControlName="hours">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="durationmins">Minutes</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="durationmins"
                    name="durationmins" type="text" inputmode="numeric" value="" formControlName="minutes">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="govuk-form-group govuk-!-margin-top-3">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint" id="hearing-specific-dates">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">Does the hearing need to take place on a specific date?</h3>
          </legend>
          <div class="govuk-hint">Availability of all the parties will be taken into account when scheduling this
            hearing.</div>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dates1" name="hearingAvailability" type="radio" value="No"
                formControlName="hearingAvailability" (change)="showDateAvailability();">
              <label class="govuk-label govuk-radios__label" for="dates1">No</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dates2" name="hearingAvailability" type="radio" value="Yes"
                formControlName="hearingAvailability" (change)="showDateAvailability();">
              <label class="govuk-label govuk-radios__label" for="dates2">Yes</label>
            </div>
            <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" [ngClass]="{'js-hidden': checkedHearingAvailability!=='Yes'}">
              <div class="govuk-form-group">
                <xuilib-gov-uk-date [config]="firstHearingDate"></xuilib-gov-uk-date>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dates3" name="hearingAvailability" type="radio" value="Choose"
                formControlName="hearingAvailability" (change)="showDateAvailability();">
              <label class="govuk-label govuk-radios__label" for="dates3">Choose a date range</label>
            </div>
            <div class="govuk-radios__conditional govuk-!-padding-bottom-1 govuk-!-padding-top-3" [ngClass]="{'js-hidden': checkedHearingAvailability!=='Choose'}">
              <div class="govuk-hint">You can enter either or both dates.</div>
              <div class="govuk-form-group">
                <xuilib-gov-uk-date [config]="earliestHearingDate"></xuilib-gov-uk-date>
              </div>
              <div class="govuk-form-group">
                <xuilib-gov-uk-date [config]="latestHearingDate"></xuilib-gov-uk-date>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">See dates the parties will not be available</span>
        </summary>
        <div class="govuk-details__text">
          <span *ngFor="let partiesNotAvailableDate of partiesNotAvailableDates">{{partiesNotAvailableDate}}<br></span>
        </div>
      </details>
      <div class="govuk-form-group govuk-!-margin-top-5">
        <fieldset class="govuk-fieldset" id="hearing-priority">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h3 class="govuk-fieldset__heading">What is the priority of this hearing?</h3>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item" *ngFor="let priority of priorities">
              <input class="govuk-radios__input" id="{{priority.key}}" name="priorityHearing" type="radio"
                [value]="priority.value_en">
              <label class="govuk-label govuk-radios__label" [for]="priority.key">{{priority.value_en}}</label>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
