.x {
  margin: 0;
  padding: 9px 9px 0px 0px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  cursor: pointer;
  color: #6e7071;
}
.dialog-header {
  text-align: right;
}
.dialog-title {
  margin: 0px 0px 21px 25px;
}
.dialog-info {
  margin: 0px 0px 21px 25px;
}
.action-button {
  margin: 0px 15px 0px 25px;
}
