<ng-container [ngSwitch]="currentFeature">
  <ng-container *ngSwitchCase="'WorkAllocationRelease2'">
    Hello
    <exui-my-work-tasks>
    </exui-my-work-tasks>
  </ng-container>
<ng-container *ngSwitchCase="'WorkAllocationRelease1'" >
  <exui-task-list
    [taskServiceConfig]="taskServiceConfig" [tasks]="tasks" [fields]="fields"
    [sortedBy]="sortedBy" [emptyMessage]="emptyMessage"
    (sortEvent)="onSortHandler($event)" (actionEvent)="onActionHandler($event)">
  </exui-task-list>
</ng-container>
</ng-container>
