<div class="noc-answers-table">
  <div class="noc-answers-row">
    <div class="noc-answers-col"><strong>Change request</strong></div>
    <div class="noc-answers-col">Acquire case file from a solicitor (Notice of Change)</div>
    <div class="noc-answers-col"></div>
  </div>
  <ng-container *ngFor="let answer of answers | async">
    <div class="noc-answers-row">
        <div class="noc-answers-col"><strong>{{ answer.question_id }}</strong></div>
        <div class="noc-answers-col">{{ answer.value }}</div>
        <div class="noc-answers-col"><a (click)="onChange(answer)">Change</a></div>
    </div>
  </ng-container>
</div>
