.all-work-filter {
  background-color: #f3f2f1;
  box-shadow: inset 0 0 0 1px #dee0e2;
  padding: 20px;
}

.cases-container .govuk-select, .cases-container .govuk-input{
  width: 100% !important;
}

.cases-container .hmcts-filter-layout__filter {
  float: none;
  margin-right: 0;
  min-width: inherit;
  max-width: inherit;
  width: 100%;
}

.cases-container .elevated-break {
  top: 0 !important;
}

.cases-container .govuk-section-break--visible {
  border-bottom: 1px solid #bfc1c3 !important;
  margin: 30px 0 !important;
  height: 0 !important;
}

.cases-container .govuk-section-break--visible:not(.elevated-break) {
  display: none !important;
}

.cases-container .auto-complete-container {
  min-width: 100% !important;
}

#cancelFilter  {
  background-color: #dddddd !important;
}
