<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l"> Work access </span>
    Check your new booking
  </h1>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-width-three-quarters">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Location</dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Exeter County Court</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/caseaccess/pages/booking-new-booking">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Duration</dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">28 November 2021 to 3 December 2021</p>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/caseaccess/pages/booking-new-booking">
          Change<span class="govuk-visually-hidden"> contact details</span>
        </a>
      </dd>
    </div>
  </dl>

  <div class="govuk-button-group">
    <a class="govuk-body" href="/caseaccess/pages/booking-new-booking">
      Cancel
    </a>
  </div>
</div>
