<h1>Task List</h1>
<div>hello</div>
<!-- Using the Angular Component Development Kit Table Module, and not Angular Material -->
<!-- The dataSource is an observable to be displayed -->
<button (click)="sort('caseName')">trigger sort</button>
<table cdk-table [dataSource]="dataSource$">

  <ng-container *ngFor="let field of fields" [cdkColumnDef]="field.name">
    <th cdk-header-cell *cdkHeaderCellDef>{{field.columnLabel}}</th>
    <td cdk-cell *cdkCellDef="let row">{{row[field.name]}}</td>
  </ng-container>

  <!-- Header definition -->
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <!-- loop over every item in our datasource array -->
  <!-- run through each column -->
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  <!--<tr cdk-row *cdkRowDef="let row; columns: ['actions']" when="() => true"></tr>-->

</table>
<div>End table</div>
