.task-list-container {
  padding-top: 10px;
}
.actions {
  display: flex;
  justify-content: flex-end;

  .action {
    padding: 2px;
  }
}
/**
 * Used to override the border-bottom style being set by the GDS .govuk-table__cell
 */
.govuk-table__cell {
  border: 0;
  font-family: "GDS Transport", arial, sans-serif;
  overflow-wrap: anywhere;
}

.task-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .reset-button-space {
    .govuk-button {
      margin-bottom: 0;
    }
  }
}

.column-sort {
  padding-right: 20px;
  white-space: nowrap;

  &:hover{
    padding-right: 20px;
  }

  &:after{
    right: 0.5px;
  }

  &:before{
    right: 0.5px;
  }
}

.header-cell {

  display: flex;
  .arrow {
    border: 1px solid red;
    padding: 0 0 0 10px;
  }
}

/**
 * The "Manage +" button should mirror the GDS accordion functionality. However,
 * it still needs to be in keeping with the styling within the table.
 */
.govuk-accordion__section-header {
  padding-top: 5px;
}
.govuk-accordion__section-button {
  &.xui-reset {
    font-size: 19px;
    margin-right: 20px;
    text-decoration: underline;
    font-weight: 400;
    &:focus {
      text-decoration: none;
    }
    .govuk-accordion__icon {
      height: 14px;
      width: 14px;
      right: 0;
      top: 15px;
      margin-top: 0;
    }
    &[aria-expanded=true] {
      .govuk-accordion__icon::after {
        display: none;
      }
    }
  }
}
.govuk-table__row {
  border-bottom: solid 1px #ddd;
  th {
    border-bottom-color: #bfc1c3;
  }
  .cdk-column-manage {
    text-align: right;
  }
  &.actions-row {
    display: none;
    &.selected {
      display: table-row;
    }
    .cell-actions {
      text-align: right;
      .task-action {
        display: inline-block;
        color: #1d70b8;
        text-decoration: underline;
        margin-right: 40px;
        cursor: pointer;
        &:last-child {
          margin-right: 20px;
        }
      }
    }
  }
  &.footer-row {
    display: none;
    .empty-message {
      display: none;
    }
    &.shown {
      display: table-row;
      &.empty {
        .empty-message {
          display: inline;
        }
        .loading {
          display: none;
        }
      }
    }
  }
}

.column-label {
  font-weight: bold;
  color: #115da0;
}
