<xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner>
<div class="govuk-width-container govuk-!-margin-bottom-4">
  <br />
  <section class="govuk-notification-banner" aria-labelledby="restricted-case-banner-title">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="restricted-case-banner-title">{{ 'Important' | rpxTranslate }}</h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-body">{{ 'This case is restricted. The details of the users with access are provided below.' | rpxTranslate }}</p>
    </div>
  </section>
  <h1 class="govuk-heading-l">{{ caseId | caseReference }}</h1>
  <exui-restricted-case-access [restrictedCases]="restrictedCases"></exui-restricted-case-access>
  <a href="#" class="govuk-link" (click)="onBack(); $event.preventDefault()">{{ 'Back to search' | rpxTranslate }}</a>
</div>
