.task-alert-banner {
  padding-top: 20px;
}

.govuk-warning-text__text {
  font-weight: normal;
}

.svg-icon {
  text-align: justify;
  vertical-align: bottom;
  padding-top: 2px;
  padding-right: 5px;
}

.govuk-warning-text__text {
padding-left: 0%;
}
