<div class="task-alert-banner">
  <h2 id="alertTitle" class="govuk-heading-m govuk-!-margin-bottom-2">{{ alertTitle }}</h2>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong id="alertMessage" class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <ng-container *ngFor="let warning of warnings; let last = last">
        {{ warning.warningText }}<br *ngIf="!last" />
      </ng-container>
    </strong>
  </div>
</div>
