<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case internal name
    </div>
    <div class="govuk-summary-list__value">
      <exui-amendment-label *ngIf="withinPage.hmctsInternalCaseName" [displayLabel]="amendmentLabelEnum.AMENDED">
      </exui-amendment-label>
      {{ hearingRequestMainModel.caseDetails.hmctsInternalCaseName }}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case public name
    </div>
    <div class="govuk-summary-list__value">
      <exui-amendment-label *ngIf="withinPage.publicCaseName" [displayLabel]="amendmentLabelEnum.AMENDED">
      </exui-amendment-label>
      {{ hearingRequestMainModel.caseDetails.publicCaseName }}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case Type
    </div>
    <div class="govuk-summary-list__value">
      <div *ngFor="let caseCategory of caseTypes">
        <exui-amendment-label *ngIf="withinPage.caseCategories?.includes(caseCategory.categoryValue)" [displayLabel]="amendmentLabelEnum.AMENDED">
        </exui-amendment-label>
        {{ caseCategory.categoryDisplayValue }}
        <ul>
          <li *ngFor="let childNode of caseCategory.childNodes">
            - {{ childNode.categoryDisplayValue }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Private hearing required
    </div>
    <div class="govuk-summary-list__value">
      <exui-amendment-label *ngIf="withinPage.privateHearingRequiredFlag" [displayLabel]="amendmentLabelEnum.AMENDED">
      </exui-amendment-label>
      {{ hearingRequestMainModel.hearingDetails.privateHearingRequiredFlag ? 'Yes' : 'No' }}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case restriction
    </div>
    <div class="govuk-summary-list__value">
      <exui-amendment-label *ngIf="withinPage.caseRestrictedFlag" [displayLabel]="amendmentLabelEnum.AMENDED">
      </exui-amendment-label>
      {{ hearingRequestMainModel.caseDetails?.caserestrictedFlag ? 'Yes' : 'No' }}
    </div>
  </div>
</div>
