<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <div class="page">
    <a class="govuk-back-link" href="#" onclick="goBack();">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">          
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">  
              <form class="form" action="hearings-tab-cancelled-request" method="post">  
              <h1 class="govuk-heading-l">
                  Are you sure you want to cancel this hearing request?
              </h1>  
              <p class="govuk-body">
                  The hearing request will not be processed and the details deleted.
                  <br><br>
                  Jane Smith and Asda Plc
                  <br><br>
                  Hearing requested date: 4 October 2021  
              </p>  
              <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper">
                      <label class="govuk-label govuk-label--s" for="otherFacilities">Provide a reason for cancelling this request</label>
                  </h3>
                  <textarea class="govuk-textarea" id="reason-for-cancel" name="reason-for-cancel" rows="5"></textarea>
              </div>
              <button class="govuk-button" data-module="govuk-button">Continue</button>
              </form>
              <p class="govuk-body">
                  <a href="index" class="govuk-link">Do not cancel hearing</a>
              </p>
          </div>
      </div>
    </main>
  </div>
</div>
<exui-app-footer></exui-app-footer>
