<main class="govuk-main-wrapper" id="content" role="main">
  <div [formGroup]="form" class="govuk-form-group">
    <exui-choose-radio-option
      [formGroup]="form"
      [radioControlName]="'role'"
      [title]="title"
      [description]="description"
      [caption]="caption"
      [optionsList]="roles"
      [submitted]="submitted"
    ></exui-choose-radio-option>
  </div>
  <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="submit(form.value, form.valid)">Continue</button>
  <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
</main>
