<div class="govuk-width-container">
<form [formGroup]="allocationForm" (ngSubmit)="continue(allocationForm.value, allocationForm.valid)">
  <a href="../" class="govuk-back-link">Back</a>
  <exui-describe-exclusion
    [formGroup]="allocationForm"
    [title]="'Add an exclusion'"
    [description]="'Describe the exclusion'"
    [controlName]="DESCRIBE_EXCLUSION_CONTROL_NAME"
  ></exui-describe-exclusion>
  <button id="submit-button" class="govuk-button govuk-!-margin-right-1" type="submit">Continue</button>
  <p><a class="govuk-!-margin-top-3" id="cancel-link" href="javascript:void(0)">Cancel</a></p>
</form>
</div>
