.edit-user-form-group {
  &--limitedWidth {
    max-width: 520px;
  }

  &__additionalLocations {
    margin-bottom: -20px;
  }

  &__skills {
    &__container {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }

    &__single-group {
      padding: 0 20px;
    }
  }

  &__additionalLocations,
  &__skills {
    &__heading {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__optional {
      font-size: 16px;
      font-weight: 400;
      margin-left: 0.75rem;
    }
  }


}
