<div class="govuk-body">
  Enter the details of the user you want to add.
</div>

<div class="govuk-label govuk-label--m govuk-!-margin-bottom-6 ">Personal information</div>
<div class="govuk-!-margin-bottom-6" [formGroup]="formGroup">
  <div class="edit-user-form-group edit-user-form-group--limitedWidth">
    <div class="edit-user-form-group__personalInformation">
      <xuilib-gov-uk-input [config]="govUiFields.firstName.config"
                           [errorMessage]="govUiFields.firstName.errors" [group]="formGroup">
      </xuilib-gov-uk-input>
      <xuilib-gov-uk-input [config]="govUiFields.lastName.config"
                           [errorMessage]="govUiFields.lastName.errors" [group]="formGroup">
      </xuilib-gov-uk-input>
      <xuilib-gov-uk-input [config]="govUiFields.email.config"
                           [errorMessage]="govUiFields.email.errors" [group]="formGroup">
      </xuilib-gov-uk-input>
    </div>
  </div>

  <hr>

  <div>
    <xuilib-gov-uk-checkboxes [config]="govUiFields.services.config"
                              [items]="govUiFields.services.items"
                              [errorMessage]="govUiFields.services.errors" [group]="formGroup">
    </xuilib-gov-uk-checkboxes>
  </div>

  <hr>

  <div class="edit-user-form-group edit-user-form-group--limitedWidth">
    <xuilib-gov-select [config]="govUiFields.region.config" [items]="govUiFields.region.items"
                       [errorMessage]="govUiFields.region.errors" [group]="formGroup">
    </xuilib-gov-select>
  </div>

  <hr>

  <div class="edit-user-form-group edit-user-form-group--limitedWidth">
    <div class="govuk-form-group govuk-!-margin-bottom-8">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
            Primary Location
          </h1>
          <div>
            <p class="govuk-!-margin-bottom-0">A user can have one primary location</p>
          </div>
        </legend>

        <xuilib-find-location [enableAddLocationButton]="true" [field]="fieldConfig.primaryLocation"></xuilib-find-location>
      </fieldset>
    </div>

    <div class="edit-user-form-group__additionalLocations">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading edit-user-form-group__additionalLocations__heading">
            Additional locations <span class="edit-user-form-group__additionalLocations__optional">(optional)</span>
          </h1>
        </legend>

        <xuilib-find-location [enableAddLocationButton]="true" [field]="fieldConfig.additionalLocations"></xuilib-find-location>
      </fieldset>
    </div>
  </div>

  <hr>

  <div class="edit-user-form-group edit-user-form-group--limitedWidth">
    <div>
      <xuilib-gov-select [config]="govUiFields.userType.config" [items]="govUiFields.userType.items"
                         [errorMessage]="govUiFields.userType.errors" [group]="formGroup">
      </xuilib-gov-select>
    </div>
  </div>

  <hr>

  <div class="edit-user-form-group edit-user-form-group--limitedWidth">
    <xuilib-gov-uk-checkboxes [config]="govUiFields.roles.config" [items]="govUiFields.roles.items"
                              [errorMessage]="govUiFields.roles.errors" [group]="formGroup">
    </xuilib-gov-uk-checkboxes>
  </div>

  <hr>

  <div class="edit-user-form-group">
    <xuilib-gov-uk-checkboxes [config]="govUiFields.jobTitle.config" [items]="govUiFields.jobTitle.items"
                              [errorMessage]="govUiFields.jobTitle.errors" [group]="formGroup">
    </xuilib-gov-uk-checkboxes>
  </div>

  <hr>

  <div>
    <div class="edit-user-form-group__skills">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading edit-user-form-group__skills__heading">
            Skills <span class="edit-user-form-group__skills__optional">(optional)</span>
          </h1>
        </legend>

        <div class="edit-user-form-group__skills__container">
          <div class="edit-user-form-group__skills__single-group">
            <xuilib-gov-uk-checkboxes [config]="govUiFields['skills-scss'].config" [items]="govUiFields['skills-scss'].items"
                                      [errorMessage]="govUiFields['skills-scss'].errors" [group]="formGroup">
            </xuilib-gov-uk-checkboxes>
          </div>

          <div class="edit-user-form-group__skills__single-group">
            <xuilib-gov-uk-checkboxes [config]="govUiFields['skills-divorce'].config" [items]="govUiFields['skills-divorce'].items"
                                      [errorMessage]="govUiFields['skills-divorce'].errors" [group]="formGroup">
            </xuilib-gov-uk-checkboxes>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
