<div id="affirmation-section" class="govuk-form-group"
     [ngClass]="{'govuk-form-group--error': validationErrors$ | async}">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-affirmation">
      <p>{{"You should tick to 'sign' when:" | rpxTranslate}}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{"You're satisfied that all these details are accurate and match what is written on the case" | rpxTranslate}}</li>
        <li>{{'You have served notice of this change on every party to the case, including the former legal representative (if there was one)' | rpxTranslate}}</li>
      </ul>
      <div *ngIf="hasDisagreeError$ | async">
            <span id="tickbox-warning-affirmation" class="govuk-error-message">
              {{'Tick the box to confirm all these details are accurate and match what is written on the case' | rpxTranslate}}
            </span>
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="affirmation" name="affirmation" type="checkbox"
                 [checked]="affirmationAgreed"
                 (change)="onChangeAffirmation($event)">
          <label class="govuk-label govuk-checkboxes__label" for="affirmation">
            {{'I confirm all these details are accurate and match what is written on the case.' | rpxTranslate}}
          </label>
        </div>
      </div>
      <div *ngIf="hasNotifyEveryPartyError$ | async">
            <span id="tickbox-warning-noticeEveryParty" class="govuk-error-message">
              {{'Tick the box to confirm you have served notice of this change on every party to the case, including the former legal representative (if there was one)' | rpxTranslate}}
            </span>
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="notifyEveryParty" name="notifyEveryParty" type="checkbox"
                 [checked]="notifyEveryParty"
                 (change)="onNotifyEveryParty($event)">
          <label class="govuk-label govuk-checkboxes__label" for="notifyEveryParty">
            {{'I have served notice of this change on every party to the case, including the former legal representative (if there was one).' | rpxTranslate}}
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div id="notification-section" class="govuk-form-group">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{'Notifications' | rpxTranslate}}</h2>

  <p class="govuk-body govuk-!-margin-bottom-7">
    {{"If the client previously had legal representation, we'll let the legal firm or legal representative know that they no longer have access to the case." | rpxTranslate}}
  </p>

  <div class="govuk-inset-text">
    {{'After you submit a notice of change, you might not see the confirmation page immediately' | rpxTranslate}}
  </div>
</div>

