<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Privacy policy
        </h1>
        <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
          <div id="nav-links">


            <ul class="govuk-list govuk-list--bullets">

              <li><a routerLink="/privacy-policy" fragment="overview">Overview</a></li>
              <li><a routerLink="/privacy-policy" fragment="divorce">Applying for divorce</a></li>
              <li><a routerLink="/privacy-policy" fragment="probate">Applying for probate</a></li>
              <li><a routerLink="/privacy-policy" fragment="appeal">Using the Appeal an immigration or asylum decision service</a></li>
            </ul>

            <hr>

            <h2 class="govuk-heading-l" id="overview">Overview</h2>

            <p>This privacy policy explains why we collect personal data and what we do with it. It also explains the rights which you and your client have, and how to enforce them.</p>
            <h2 class="govuk-heading-m">Who manages this service</h2>
            <p>This service is managed by HM Courts &amp; Tribunals Service (HMCTS), which is an executive agency of the Ministry of Justice (MoJ).</p>
            <p>The MoJ is known as the data controller for data protection purposes. The <a href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">MoJ personal information charter</a> explains how the MoJ processes personal data.</p>
            <p>As part of the MoJ, HMCTS is responsible for deciding how personal data is used and for protecting the personal data you provide.</p>
            <p>More information about using this service is in the <a routerLink="/terms-and-conditions">terms and conditions</a>.</p>

            <h2 class="govuk-heading-m">Why we collect personal data</h2>
            <p>We collect personal data to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>enable us to process your client's application</li>
              <li>meet legal requirements</li>
              <li>make improvements to this service</li>
            </ul>
            <p>Our staff use personal data to process your client's application. They work in the UK and your data is stored in the UK.</p>
            <h2 class="govuk-heading-m">Types of personal data we collect</h2>
            <p>The personal data we collect includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your name, address and contact details</li>
              <li>your email and password (if you create an account)</li>
              <li>other personal information you provide in your claim or application</li>
              <li>your client’s personal data - including their name, address and contact details</li>
            </ul>
            <p>We collect more personal data for some types of application. Find out more about the <a href="#otherservices">personal data that is collected for the type of application you're making</a>.</p>


            <h2 class="govuk-heading-m">Using your data</h2>
            <p>As part of your application you’ll be asked to use your email address to set up an account. You will be able to use this email and password to sign into other HMCTS services.</p>
            <p>We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.</p>
            <p>We <a routerLink="/cookies">use cookies</a> to collect data that tells us about how you’re using this service, including:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>if you open an email from us or click on a link in an email</li>
              <li>your computer, phone or tablet’s IP address </li>
              <li>the region or town where you are using your computer, phone or tablet</li>
              <li>the web browser you use</li>
            </ul>


            <h2 class="govuk-heading-m">Storing your data</h2>

            <p>When you make an application we store the data you have provided. The amount of time that your data is kept for depends on what you're applying for.</p>
            <p>Find out more about <a href="#otherservices">how long your personal data is stored</a> for the type of application you're making. </p>

            <h2 class="govuk-heading-m">Sharing your data</h2>

            <p>While processing your application, another government department, agency or organisation might be involved and we may share your data with them.</p>

            <p>In some circumstances we may share your data, for example to prevent or detect crime, or to produce anonymised statistics.</p>

            <p>We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our <a routerLink="/terms-and-conditions">terms and conditions</a>.</p>

            <h2 class="govuk-heading-m">Storing and sharing your data internationally</h2>

            <p>Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.</p>

            <h2 class="govuk-heading-m">Your rights</h2>
            <p>You can ask:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>to see the personal data that we hold on you</li>
              <li>to have the personal data corrected</li>
              <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)</li>
              <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
            </ul>
            <p>If you want to see the personal data that we hold on you, you can: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>complete a form to <a href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">make a subject access request</a> - your request goes to the MoJ as data controller</li>
              <li>write to us: Disclosure Team, Post point 10.24, 102 Petty France, London, SW1H 9AJ</li>
              <li>email us: <a href="mailto:data.access@justice.gov.uk">data.access@justice.gov.uk</a></li>
            </ul>

            <p>You can ask for more information about:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>agreements we have on sharing information with other organisations</li>
              <li>when we are allowed to pass on personal information without telling you</li>
              <li>our instructions to staff on how to collect, use or delete your personal information</li>
              <li>how we check that the information we hold is accurate and up-to-date</li>
            </ul>

            <p>You can contact the MoJ data protection officer by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>writing to us: The Data Protection Officer, Ministry of Justice, 3rd Floor, Post Point 3.20, 10 South Colonnades, Canary Wharf, London, E14 4PU</li>
              <li>emailing: <a href="mailto:DPO@justice.gov.uk">DPO@justice.gov.uk</a></li>
            </ul>

            <h2 class="govuk-heading-m">How to complain</h2>
            <p>See our <a href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">complaints procedure</a> if you want to complain about how we've handled your personal data.</p>

            <p>Write to: Post point 10.38, 102 Petty France, London, SW1H 9AJ</p>
            <p>Email: <a href="mailto:privacy@justice.gov.uk">privacy@justice.gov.uk</a></p>

            <p>You can also complain to the <a href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a> if you’re not satisfied with our response or believe we are not processing your personal data lawfully.</p>

            <h2 id="otherservices" class="govuk-heading-m">Personal data for different types of application</h2>
            <p>The types of personal data collected, how long it is stored for, and who it is shared with depends on the type of application you're making. You can find out more about:</p>
            <ul class="govuk-list govuk-list--bullet">

              <li><a routerLink="/privacy-policy" fragment="divorce">applying for divorce</a></li>
              <li><a routerLink="/privacy-policy" fragment="probate">applying for probate</a></li>
              <li><a routerLink="/privacy-policy" fragment="appeal">using the Appeal an immigration or asylum decision service</a></li>

            </ul>

            <h2 class="govuk-heading-l" id="divorce">Applying for divorce</h2>
            <p>When you apply for divorce on behalf of a client we ask for your:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>name</li>
              <li>email address</li>
              <li>phone number</li>
              <li>role or position</li>
              <li>firm's address</li>
            </ul>
          </div>

          <div class="para">
            <p>We also ask for your client’s personal data, which includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the applicant's current name</li>
              <li>the respondent's current name</li>
              <li>proof of the applicant name change if they've changed it since they got married</li>
              <li>a copy of the marriage certificate and the details from it</li>
              <li>the country in which the applicant and respondent are habitually resident in England or Wales</li>
              <li>whether the applicant and respondent are habitually resident in England or Wales</li>
              <li>whether the applicant's and respondent's domicile is in England or Wales</li>
              <li>the applicant's email address</li>
              <li>the applicant's phone number</li>
              <li>the applicant's address</li>
              <li>the respondent's address</li>
              <li>the address of the respondent's solicitor (if they have one)</li>
              <li>details around the reason for the divorce</li>
              <li>details of other court cases the applicant and respondent have been involved in</li>
              <li>the name and address of the person who allegedly committed adultery with the respondent (this is optional and only asked if adultery is the reason for divorce)</li>
            </ul>

            <h2 class="govuk-heading-m">Receiving notifications</h2>
            <p>You need to sign up to receive notifications. This is a legal requirement so that the divorce application can proceed.</p>


            <h2 class="govuk-heading-m">Storing your data</h2>

            <p>While you are filling out or responding to a divorce application we will hold your data for up to 6 months. If you don’t complete the application during this time you’ll have to start again.</p>

            <p>When a divorce is finalised the case is stored for 18 years. After this time, some data (from the decree nisi and the decree absolute) is deleted. </p>

            <p>The remainder of the case information is stored for an additional 82 years. After a total of 100 years this data will be deleted.</p>


            <h2 class="govuk-heading-l" id="probate">Applying for probate</h2>

            <p>When you apply for probate on behalf of a client we ask for:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your name and any other names you are known as </li>
              <li>your email or mobile phone number</li>
              <li>your address</li>
              <li>the names of any executors of the will</li>
              <li>contact details for all of the executors who are applying for probate</li>
            </ul>

            <h2 class="govuk-heading-m">Before you submit your information</h2>

            <p>Information you enter is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.</p>

            <h2 class="govuk-heading-m">After you submit your information</h2>

            <p>Grants of probate are stored as public records. However, your email address and telephone number will not be publicly available.</p>

            <h2 class="govuk-heading-l" id="appeal">Using the Appeal an immigration or asylum decision service</h2>
            <h2 class="govuk-heading-m">The personal data we need</h2>
            <p>When you use the Appeal an immigration or asylum decision service we ask for:</p>
             <ul class="govuk-list govuk-list--bullet">
               <li>your client’s name</li>
               <li>your client’s date of birth</li>
               <li>your client’s nationality</li>
               <li>your client’s email address or mobile phone number</li>
               <li>your client’s address or place of accommodation</li>
               <li>your client’s grounds of appeal</li>
               <li>information from your client’s Home Office Notice of Decision</li>
               <li>whether a deportation order been made against your client</li>
               <li>whether your client has appealed against any other UK immigration decisions</li>
               <li>whether there are any new reasons your client wishes to remain in the UK or any new grounds on which they should be permitted to stay</li>
               <li>the reasons your client believes the Home Office decision is wrong</li>
               <li>any evidence to support this claim</li>
               <li>information on any support your client needs for a hearing, if they attend one</li>
               <li>information on your client’s availability for a hearing, if they attend one</li>
             </ul>
             <p>We also ask for your client’s personal data, which includes:</p>
             <ul class="govuk-list govuk-list--bullet">
               <li>your name</li>
               <li>the name and address of your firm</li>
             </ul>
             <h2 class="govuk-heading-m">Storing and sharing your data</h2>
             <p>Your data will be shared with the Home Office as the government department that made the decision your client is appealing against. This is so that the department can respond to the appeal.</p>
             <h2 class="govuk-heading-m">After you submit your information</h2>
             <p>Most information you submit will be deleted 7 years after the Tribunal has issued its decision or the case is closed.  If the appeal is determined, some information will be retained permanently on the Tribunal decision.</p>
             <p>If you make a complaint against the Tribunal then information about the appeal is stored for 3 years after the last update on the complaint.</p>            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
