<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main
    class="govuk-main-wrapper govuk-main-wrapper--l"
    id="content"
    role="main"
  >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ng-container
          *ngIf="
            showWelshTranslation;
            then welshTranslation;
            else englishTranslation
          "
        >
        </ng-container>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>

<ng-template #englishTranslation>
  <h1 class="govuk-heading-xl">Privacy policy</h1>
  <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
    <div id="nav-links">
      <ul class="govuk-list govuk-list--bullets">
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-1">Overview</a>
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-4"
            >Appeal a benefit decision service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-3"
            >Apply for divorce service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-5"
            >Apply for probate service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-2"
            >Money claims service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-6"
            >Family public law service</a
          >
        </li>
        <li>
          <a routerLink="/privacy-policy" fragment="tabs-7"
            >Appeal an immigration or asylum decision service</a
          >
        </li>
      </ul>

      <hr />

      <div id="tabs-1">

      <h2 class="govuk-heading-l" id="overview">Overview</h2>
      <p>This privacy policy explains why we collect your personal data, what we
        do with it, and your rights. More information about using this service
        is in the <a routerLink="/terms-and-conditions">terms and conditions</a
        >.
      </p>
      <h2 class="govuk-heading-m">Who manages this service</h2>
      <p>This service is managed by Her Majesty’s Courts and Tribunals Service
        (HMCTS) and we’re responsible for protecting the personal data you
        provide.
      </p>
      <p>HMCTS is an executive agency of the Ministry of Justice (MoJ). The MoJ
        is the data controller and their
        <a
          href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter"
          >personal information charter</a
        >
        explains more about how they process personal data.
      </p>
      <p>When you use this service we (HMCTS) will ask you to provide some
        personal data.
      </p>

      <h2 class="govuk-heading-m">Why we collect your personal data</h2>
      <p>We collect your personal data to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>process your claim or application</li>
        <li>meet legal requirements</li>
        <li>make improvements to this service</li>
      </ul>
      <p>Our staff use your personal data to process your claim or application.
        They work in the UK and your data is stored in the UK.
      </p>
      <h2 class="govuk-heading-m">Types of personal data we collect</h2>
      <p>The personal data we collect includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name, address and contact details</li>
        <li>your email and password (if you create an account)</li>
        <li>
          other personal information you provide in your claim or application
        </li>
      </ul>
      <p>Some services collect more personal data. Find out more about the
        <a routerLink="/privacy-policy"
        fragment="otherservices"
        >personal data that is collected by the service you are using</a>.
      </p>

      <h2 class="govuk-heading-m">Using your data</h2>
      <p>As part of your claim you’ll be asked to use your email address to set
        up an account. You will be able to use this email and password to sign
        into other HMCTS services.
      </p>
      <p>We may ask for your permission to use your email address to send you
        emails using GOV.UK Notify. This system processes emails only within the
        European Economic Area until the point where emails are handed over to
        the email provider you use.
      </p>
      <p>We <a routerLink="/cookies">use cookies</a> to collect data that tells
        us about how you’re using this service, including:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you open an email from us or click on a link in an email</li>
        <li>your computer, phone or tablet’s IP address</li>
        <li>
          the region or town where you are using your computer, phone or tablet
        </li>
        <li>the web browser you use</li>
      </ul>

      <h2 class="govuk-heading-m">Storing your data</h2>

      <p>When you make your claim or application we store the data you have
        provided. The amount of time that your data is kept for depends on the
        service that you are using.
      </p>
      <p>When you make your claim or application we store the data you have
        provided. The amount of time that your data is kept for depends on the
        service that you are using.
      </p>
      <p>Some services collect more personal data. Find out more about the <a
          routerLink="/privacy-policy"
          fragment="otherservices"
          >personal data that is collected by the service you are using</a>.
      </p>

      <h2 class="govuk-heading-m">Sharing your data</h2>

      <p>While processing your claim or application, another government
        department, agency or organisation might be involved and we may share
        your data with them.
      </p>

      <p>If you contact us and ask for help with the service you are using, your personal data may be shared with the Good Things Foundation. This is a company who we have partnered with to offer face to face support.</p>

      <p>In some circumstances we may share your data for example, to prevent or detect crime, or to produce anonymised statistics.</p>



      <p>We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our
        <a routerLink="/terms-and-conditions">terms and conditions</a>.
      </p>

      <h2 class="govuk-heading-m">Storing and sharing your data internationally</h2>

      <p>Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.
      </p>

      <h2 class="govuk-heading-m">Your rights</h2>
      <p>You can ask:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>to see the personal data that we hold on you</li>
        <li>to have the personal data corrected</li>
        <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)</li>
        <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
      </ul>
      <p>If you want to see the personal data that we hold on you, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          complete a form to
          <a
            href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj"
            >make a subject access request</a
          >. Your request goes to the MoJ as data controller.
        </li>
        <li>
          write to us: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ
        </li>
      </ul>

      <p>You can ask for more information about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          agreements we have on sharing information with other organisations
        </li>
        <li>
          when we are allowed to pass on personal information without telling you
        </li>
        <li>
          our instructions to staff on how to collect, use or delete your personal information
        </li>
        <li>
          how we check that the information we hold is accurate and up-to-date
        </li>
      </ul>

      <p>You can contact the MoJ data protection officer, by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          writing to us: Post point 10.38, 102 Petty France, London, SW1H 9AJ
        </li>
        <li>
          emailing: <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">How to complain</h2>
      <p>See our
        <a
          href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure"
          >complaints procedure</a
        >
        if you want to complain about how we've handled your personal data.
      </p>

      <p>Write to: Post point 10.38, 102 Petty France, London, SW1H 9AJ</p>
      <p>
        Email:
        <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>
      </p>

      <p>You can also complain to the
        <a href="https://ico.org.uk/global/contact-us"
          >Information Commissioner’s Office</a
        > if you’re not satisfied with our response or believe we are not processing your personal data lawfully.
      </p>


      <h2 class="govuk-heading-m" id="otherservices">The service you are using</h2>
      <p>The types of personal data collected, how long it is stored for, and who it is shared with depends on the service you are using. Find out more by following the links below:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a routerLink="/privacy-policy" fragment="tabs-4"
            >Using the appeal a benefit decision service</a></li>
        <li><a routerLink="/privacy-policy" fragment="tabs-3"
            >Using the apply for a divorce service</a></li>
        <li><a routerLink="/privacy-policy" fragment="tabs-5"
            >Using the apply for probate service</a></li>
        <li><a routerLink="/privacy-policy" fragment="tabs-2"
            >Using the money claims service</a></li>
        <li><a routerLink="/privacy-policy" fragment="tabs-6"
            >Using family public law service</a></li>
      </ul>


      </div>

      <div id="tabs-3">
        <h2 class="govuk-heading-l" id="divorce">Using the apply for a divorce service</h2>
      <h2 class="govuk-heading-m">The personal data we need</h2>

      <p>When you use the apply for divorce service we need the following personal data:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your current name</li>
        <li>your name on the marriage certificate</li>
        <li>a copy of your marriage certificate</li>
        <li>date of your marriage</li>
        <li>country in which you got married</li>
        <li>information about where you have lived</li>
        <li>your habitual residence (whether your life is mainly based in England or Wales)</li>
        <li>your domicile (usually the place in which you were born, regard as your permanent home and to which you have the closest ties)</li>
        <li>your email or mobile phone number</li>
        <li>your address</li>
        <li>reasons for your divorce</li>
        <li>to know if you have been involved in other court cases</li>
        <li>your husband or wife’s current name</li>
        <li>their name on the marriage certificate</li>
        <li>the name and address of the person who committed adultery with your husband or wife (this is optional and only asked if adultery is your reason for divorce)</li>
        <li>your solicitors name and address (if you have one)</li>
      </ul>

      <h2 class="govuk-heading-m">Receiving notifications</h2>
      <p>You need to sign up to receive notifications to use the apply for divorce service. This is a legal requirement so that the divorce application can proceed.</p>

      <h2 class="govuk-heading-m">Storing your data</h2>

      <p>When you use this service you’ll be asked to use your email address to set up an account. You will be able to use this email and password to sign into other HMCTS services.
      </p>

      <p>While you are filling out or responding to a divorce application we will hold your data for up to 6 months. If you don’t complete the application during this time you’ll have to start again.
      </p>

      <p>When a divorce is finalised the case is stored for 18 years. After this time, some data (from the decree nisi and the decree absolute) is deleted.
      </p>

      <p>The remainder of the case information is stored for an additional 82 years. After a total of 100 years this data will be deleted.</p>

      <h2 class="govuk-heading-m">Sharing your data</h2>

      <p>While processing your claim or application, another government department, agency or organisation might be involved and we may share your data with them.
      </p>

      <p>Any data you provide which needs to be printed will be shared with Xerox (UK) Ltd. For example, the divorce application will be printed so that it can be sent to the respondent by post.
      </p>

      <p>Any data which is posted in to support a divorce application will be shared with Exela Technologies Limited. For example,
        a posted marriage certificate will be received by Exela and sent to the court as a scanned image.
      </p>

      <p>If you contact us and ask for help with the service you're using, your personal data may be shared with the Good Things Foundation. This is a company who we have partnered with to offer face to face support.</p>
      <p>In some circumstances we may share your data for example, to prevent or detect crime, or to produce anonymised statistics.</p>
      </div>


      <div id="tabs-2">
        <h2 class="govuk-heading-l">Using the money claims service</h2>
        <h2 class="govuk-heading-m">The personal data we need</h2>

        <p>If you are using the money claims service we will ask you for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your name</li>
          <li>your business or organisation if you are acting on their behalf</li>
          <li>your date of birth</li>
          <li>your email or mobile phone number</li>
          <li>your address</li>
          <li>the name of the person, business or organisation you are claiming against</li>
          <li>their email address</li>
          <li>their address</li>
          <li>the reasons you are making the claim</li>
          <li>the timeline of events leading to the dispute</li>
          <li>a list of any evidence you have to support your claim</li>
        </ul>
        <p>If you are responding to a money claim we ask you to check the personal information about you that was provided by the claimant which includes your name, your address and contact details.</p>

        <p>We may ask you to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your date of birth</li>
          <li>your business or organisation if you are acting on their behalf</li>
          <li>your response to the claim made against you</li>
          <li>the timeline of events leading to the dispute</li>
          <li>a list of any evidence you have to support your claim</li>
        </ul>
      </div>

      <h2 class="govuk-heading-m">Storing your data</h2>
  <p>When you use this service you’ll be asked to use your email address to set up an account. You can use this email and password to sign into other HMCTS services.</p>

  <h2 class="govuk-heading-s">Before you submit your information</h2>
  <p>The information you enter in the money claims service is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.</p>

  <h2 class="govuk-heading-s">After you submit your information</h2>
  <p>The information you submit for a money claim will be deleted 2 years after the court makes a decision on the outcome of your claim (this is called a judgment).</p>

  <p>If the court doesn’t make a decision about your claim (for example, you settle the claim out of court and a judgment is no longer required) then the information you provide will be deleted 3 years after the last update made to the claim.</p>

  <h2 class="govuk-heading-m">Sharing your data</h2>
  <p>The information you submit will be shared with everyone who is named on the claim. This excludes any payment details that you use to pay court fees.</p>
  <p>If a judgment is made on a case some information is shared with Registry Trust Limited who provide financial information about court judgments to banks and credit agencies.</p>
  <p>Any data posted in by you or other parties to support the claim issue and progression will be shared with Exela Technologies Limited and, if printing is required, with Xerox (UK) Ltd.</p>
      </div>



<div id="tabs-4">
  <h2 class="govuk-heading-l" id="probate">Using the appeal a benefit decision service</h2>
  <h2 class="govuk-heading-m">The personal data we need</h2>
  <p>When you use the appeal a benefit decision service we ask for:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>your name</li>
      <li>your date of birth</li>
      <li>your email or mobile phone number</li>
      <li>your National Insurance Number</li>
      <li>information from the Mandatory Reconsideration Notice</li>
      <li>information on any support you need for a hearing, if you attend one</li>
      <li>information on your availability for a hearing, if you attend one</li>
  </ul>
  <p>If you have a representative, we will ask for:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>their name</li>
      <li>their contact details</li>
  </ul>
  <p>If you are appointee, you will need to provide information about the person who you are appealing on behalf of, including:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>their name</li>
      <li>their National Insurance number</li>
  </ul>

  <h2 class="govuk-heading-m">Receiving notifications</h2>
  <p>As part of your appeal we’ll ask if you want to receive text message and email notifications to keep you updated with your appeal.</p>

  <p>You can cancel text messages by following the steps mentioned in the text message, and you can cancel emails by following the steps mentioned in the emails.</p>

  <p>If you have asked for your named representative to receive updates on your appeal, then we will share your data with them. If you want your representative to stop receiving notifications then you need to <a href="https://hmcts-access.service.gov.uk/contact-us">Contact us</a>.</p>

  <h2 class="govuk-heading-m">Storing and sharing your data</h2>

  <p>Your data will be shared with the government department that made the decision you are appealing against. For example, the Department for Work and Pensions or HM Revenue and Customs. This is so that department can respond to your appeal.</p>
  <p>After you complete your application it will be stored for 2 years. It will be deleted after that.</p>
</div>


<div id="tabs-5">
  <h2 class="govuk-heading-l">Using the apply for probate service</h2>
  <h2 class="govuk-heading-m">The personal data we collect</h2>

  <p>When you use the apply for probate service we ask for:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>your name, and any other names you are known as </li>
      <li>our email address</li>
      <li>your phone number</li>
      <li>your address</li>
      <li>the names of any executors of the will</li>
      <li>contact details for all of the executors who are applying for probate</li>
  </ul>

  <h2 class="govuk-heading-m">Storing your data</h2>
<p>As part of your application you’ll be asked to use your email address to set up an account. You will be able to use this email address and password to sign into other HMCTS services.</p>
<p>We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.</p>


<p>We use <a routerLink="/cookies">cookies</a> to collect data that tells us about how you’re using this service, including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>if you open an email from us or click on a link in an email</li>
  <li>your computer, phone or tablet’s IP address</li>
  <li>the region or town where you are using your computer, phone or tablet</li>
  <li>the web browser you use</li>
</ul>

  <h2 class="govuk-heading-m">Storing your data</h2>

  <p>When you use this service you’ll be asked to use your email address to set up an account. You can use this email address and password to sign into other HMCTS services.</p>
  <h2 class="govuk-heading-s">Before you submit your information</h2>
  <p>Information you enter in the apply for probate service is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.</p>
  <h2 class="govuk-heading-s">After you submit your information</h2>
  <p>Information you enter in the apply for probate service will be stored for 50 years and then deleted. Wills and grants of probate can be accessed as public records. Grants of probate do not include email addresses and telephone numbers, but they do include addresses.</p>

  <h2 class="govuk-heading-m">Sharing your data</h2>

  <p>While processing your application, another government department, agency or organisation might be involved and we may share your data with them.</p>
  <p>If you contact us and ask for help with a service you are using, your personal data may be shared with the <a href="https://www.goodthingsfoundation.org/" target="_blank" rel="noopener noreferrer">Good Things Foundation (opens in a new window)</a>. This is a company who we have partnered with to offer face to face support.</p>
  <p>In some circumstances we may share your data. For example, to prevent or detect crime, or to produce anonymised statistics.</p>
  <p>We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our <a href="https://www.apply-for-probate.service.gov.uk/terms-conditions">terms and conditions</a>.</p>
  <p>Storing and sharing your data internationally</p>
  <p>Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.</p>
</div>


<div id="tabs-6">
  <h2 class="govuk-heading-l">Using the family public law service</h2>
  <h2 class="govuk-heading-m">What is the personal data that we collect</h2>
  <p>When you use the Family Public Law service, we collect the following personal data:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the applicant's name, address, job role and contact details</li>
    <li>the Local Authority solicitor's name, address and contact details</li>
    <li>the social worker's name, address and contact details</li>
    <li>name, date of birth, gender, and address of children in the case</li>
    <li>name, date of birth, gender, address and contact details of respondents in the case</li>
    <li>name, address and contact details of other parties in the case, for example witnesses</li>
    <li>details of any disability or litigation capacity (ability to understand proceedings) of any child, respondent or other party in the case</li>
    <li>details of other court cases respondents or children in the case have been involved in</li>
    <li>evidence supporting the case</li>
  </ul>
  <p>We also collect</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>information that tells us if you open an email from us, or click on a link in an email</li>
      <li>information about how you use this service, like your IP address and the web browser you use. We do this by <a routerLink="/cookies">using cookies</a></li>
  </ul>
  <h2 class="govuk-heading-m">What we do with your data</h2>
  <p>We collect personal data to:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>process the application</li>
      <li>meet legal requirements</li>
      <li>make improvements to this service</li>
  </ul>
  <p>Personal data is processed by our staff in the UK and the data is stored in the UK.</p>
  <p>Data relating to a case is stored until the youngest child reaches 18 years old, unless the case results in adoption where the data is stored for 100 years.</p>
  <p>We use GOV.UK Notify to send emails. These are processed within the EEA until the point where emails are handed over to your email provider.</p>
  <h2 class="govuk-heading-m">Your rights</h2>
  <p>You can ask:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>to see the personal data that we hold on you</li>
    <li>to have the personal data corrected</li>
    <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your claim or application)</li>
    <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
  </ul>
  <p>Email <a href="mailto:data.access@justice.gov.uk">data.access&#64;justice.gov.uk</a> if you want to see any of this information.</p>

  <h2 class="govuk-heading-m">Sharing your data</h2>
  <p>We allow Google to use or share our website analytics data, find out about this in our  <a routerLink="/terms-and-conditions">terms and conditions</a>.	</p>

  <h2 class="govuk-heading-m">Receiving notifications</h2>
  <p>As part of your application we will send you notifications to let you know how your application is proceeding.</p>
  <p>Email <a href="mailto:contactfpl@justice.gov.uk">contactfpl&#64;justice.gov.uk</a> if you want to cancel email updates.  </p>

  <h2 class="govuk-heading-m">How to complain</h2>
  <p>If you want to complain about how we have handled your personal data, email <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>.</p>
  <p>You can complain to the <a href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a> if you are unsatisfied with our response or believe we are not legally processing your personal data.  </p>
</div>

<div id="tabs-7">

  <h2 class="govuk-heading-l">Using the Appeal an immigration or asylum decision service</h2>
  <h2 class="govuk-heading-m">The personal data we need</h2>

  <p>When you use the appeal an immigration or asylum decision service we ask for:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>your name</li>
      <li>your date of birth</li>
      <li>your nationality</li>
      <li>your email or mobile phone number</li>
      <li>your address</li>
      <li>your appeal type</li>
      <li>information from the Home Office decision letter</li>
      <li>information on any support you need for a case management appointment or hearing, if you attend one</li>
  </ul>

  <h2 class="govuk-heading-m">Storing and sharing your data</h2>

  <p>Your data will be shared with the government department that made the decision you are appealing against. For example, the Ministry of Justice. This is so that the department can respond to your appeal.</p>

  <h2 class="govuk-heading-m">After you submit your information</h2>

  <p>The information you submit will be deleted 2 years after the Tribunal has issued its decision and the last update has been made to your appeal.</p>
  <p>If the Tribunal doesn’t make a decision about your appeal (for example, it is withdrawn, or both parties agree) then the information you provide will be deleted 2 years after the appeal has been closed and the last update made.</p>
  <p>If you make a complaint against the Tribunal then information about the appeal is stored for 3 years after the last update on the complaint.</p>
</div>


  </div>
</ng-template>
<ng-template #welshTranslation>
    <h1 class="govuk-heading-xl">Polisi preifatrwydd</h1>
    <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
      <div id="nav-links">
        <ul class="govuk-list govuk-list--bullets">
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-1">Trosolwg</a>
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-4"
              >Gwasanaeth apelio yn erbyn penderfyniad ynghylch budd-dal</a
            >
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-3"
              >Gwasanaeth gwneud cais am ysgariad</a
            >
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-5"
              >Gwasanaeth gwneud cais am brofiant</a
            >
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-2"
              >Gwasanaeth Hawliadau am Arian</a
            >
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-6"
              >Gwasanaeth cyfraith deulu gyhoeddus</a
            >
          </li>
          <li>
            <a routerLink="/privacy-policy" fragment="tabs-7"
              >Gwasanaeth apelio yn erbyn penderfyniad mewnfudo neu geisio lloches</a
            >
          </li>
        </ul>

        <hr />

        <div id="tabs-1">

        <h2 class="govuk-heading-l" id="overview">Trosolwg</h2>
        <p>Mae’r polisi preifatrwydd hwn yn egluro pam rydym yn casglu eich data personol, beth rydym yn ei wneud ag ef, a’ch hawliau chi. Ceir rhagor o wybodaeth am
           ddefnyddio’r gwasanaeth hwn yn y <a routerLink="/terms-and-conditions">telerau ac amodau</a
          >.
        </p>
        <h2 class="govuk-heading-m">Pwy sy’n rheoli'r gwasanaeth hwn</h2>
        <p>Rheolir y gwasanaeth hwn gan Wasanaeth Llysoedd a Thribiwnlysoedd ei Mawrhydi (HMCTS) ac rydym yn gyfrifol am ddiogelu'r data personol y byddwch yn ei ddarparu.
        </p>
        <p>Mae GLlTEF yn un o asiantaethau gweithredol y Weinyddiaeth Gyfiawnder (MoJ). Y Weinyddiaeth Gyfiawnder yw’r rheolwr data ac mae ei
          <a
            href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter.cy"
            >siarter gwybodaeth bersonol</a
          >
          yn egluro mwy am sut maent yn prosesu data personol.
        </p>
        <p>Pan fyddwch yn defnyddio'r gwasanaeth hwn byddwn ni (GLlTEF) yn gofyn i chi ddarparu rhywfaint o ddata personol.
        </p>

        <h2 class="govuk-heading-m">Pam rydym ni’n casglu eich data personol</h2>
        <p>Rydym ni’n casglu eich data personol i:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>brosesu eich hawliad neu’ch cais</li>
          <li>bodloni gofynion cyfreithiol</li>
          <li>gwella’r gwasanaeth hwn</li>
        </ul>
        <p>Mae ein staff yn defnyddio eich data personol i brosesu eich hawliad neu'ch cais. Maent yn gweithio yn y DU ac mae eich data yn cael ei storio yn y DU.
        </p>
        <h2 class="govuk-heading-m">Mathau o ddata personol rydym yn eu casglu</h2>
        <p>Mae’r data personol rydym yn ei gasglu yn cynnwys:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>eich enw, cyfeiriad a manylion cyswllt</li>
          <li>eich e-bost a’ch cyfrinair (os byddwch yn creu cyfrif)</li>
          <li>
            gwybodaeth bersonol arall rydych yn ei darparu yn eich hawliad neu gais
          </li>
        </ul>
        <p>Mae rhai gwasanaethau yn casglu mwy o ddata personol. Rhagor o wybodaeth am
          <a routerLink="/privacy-policy"
          fragment="otherservices"
          >ddata personol a gesglir gan y gwasanaeth yr ydych yn ei ddefnyddio</a>.
        </p>

        <h2 class="govuk-heading-m">Defnyddio eich data</h2>
        <p>Fel rhan o'ch hawliad fe ofynnir ichi ddefnyddio’ch cyfeiriad e-bost i greu cyfrif.
          Byddwch yn gallu defnyddio’r cyfeiriad e-bost hwn a chyfrinair i fewngofnodi i wasanaethau eraill GLlTEF.
        </p>
        <p>Efallai y byddwn yn gofyn am eich caniatâd i ddefnyddio eich cyfeiriad e-bost i anfon negeseuon e-bost atoch trwy’r system GOV.UK Notify.
          Mae’r system hon yn prosesu negeseuon e-bost o fewn Ardal Economaidd Ewrop yn unig tan y pwynt lle caiff negeseuon e-bost eu trosglwyddo i’r darparwr e-bost a ddefnyddiwch.
        </p>
        <p>Rydym yn <a routerLink="/cookies">defnyddio cwcis</a> i gasglu data am sut rydych yn defnyddio'r gwasanaeth hwn, gan gynnwys:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>os byddwch yn agor neges e-bost gennym neu’n clicio ar ddolen mewn e-bost</li>
          <li>cyfeiriad IP eich cyfrifiadur, eich ffôn symudol neu'ch tabled</li>
          <li>
            yr ardal neu’r dref lle rydych yn defnyddio’ch cyfrifiadur, ffôn neu dabled
          </li>
          <li>y porwr gwe rydych yn ei ddefnyddio</li>
        </ul>

        <h2 class="govuk-heading-m">Storio eich data</h2>

        <p>Pan fyddwch yn gwneud hawliad neu gais, rydym yn storio'r data a ddarparwyd gennych.
          Mae faint o amser y cedwir eich data ar ei gyfer yn dibynnu ar y gwasanaeth yr ydych yn ei ddefnyddio.
        </p>
        <p>Dysgwch fwy am ba mor hir mae eich data personol yn cael ei storio gan y gwasanaeth rydych yn ei ddefnyddio.
        </p>
        <p>Mae rhai gwasanaethau yn casglu mwy o ddata personol. Rhagor o wybodaeth am <a
            routerLink="/privacy-policy"
            fragment="otherservices"
            >ddata personol a gesglir gan y gwasanaeth yr ydych yn ei ddefnyddio</a>.
        </p>

        <h2 class="govuk-heading-m">Rhannu eich data</h2>

        <p>Pan fydd eich hawliad neu eich cais yn cael ei brosesu, mae’n bosib y byddwn angen cysylltu ag adran, asiantaeth neu sefydliad arall yn y llywodraeth ac efallai y byddwn yn rhannu eich data gyda nhw.
        </p>

        <p>Os byddwch yn cysylltu â ni ac yn gofyn am help gyda'r gwasanaeth rydych yn ei ddefnyddio, efallai y byddwn yn rhannu eich data personol gyda’r Good Things Foundation.
          Rydym yn gweithio mewn partneriaeth â'r cwmni hwn i gynnig cefnogaeth wyneb yn wyneb.</p>

        <p>Mewn rhai amgylchiadau efallai y byddwn yn rhannu eich data, er enghraifft er mwyn atal neu ganfod trosedd, neu i gynhyrchu ystadegau cyffredinol am unigolion sy’n defnyddio'r gwasanaeth..</p>

        <p>Rydym yn defnyddio Google Analytics i gasglu data am sut y defnyddir gwefan. Mae'r data cyffredinol hwn yn cael ei rannu â Google. Mae rhagor o wybodaeth am hyn yn ein
          <a routerLink="/terms-and-conditions">telerau ac amodau</a>.
        </p>

        <h2 class="govuk-heading-m">Storio a rhannu eich data’n rhyngwladol</h2>

        <p>Weithiau efallai y bydd angen inni anfon eich gwybodaeth bersonol y tu allan i'r DU. Pan fyddwn yn gwneud hyn, byddwn yn cydymffurfio â chyfraith diogelu data.
        </p>

        <h2 class="govuk-heading-m">Eich hawliau</h2>
        <p>Gallwch ofyn:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>i gael gweld y data personol rydym yn ei gadw amdanoch</li>
          <li>i'r data personol gael ei gywiro</li>
          <li>i'r data personol gael ei symud neu ei ddileu (bydd hyn yn ddibynnol ar yr amgylchiadau, er enghraifft os ydych chi’n penderfynu peidio â pharhau gyda’ch hawliad neu’ch cais)</li>
          <li>i gyfyngu ar y mynediad at y data personol (er enghraifft, gallwch ofyn i'ch data gael ei storio am gyfnod hirach a pheidio â chael ei ddileu'n awtomatig)</li>
        </ul>
        <p>Os ydych eisiau gweld y data personol rydym yn ei gadw amdanoch, gallwch:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Lenwi ffurflen
            <a
              href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj.cyj"
              >wneud cais am fynediad at wybodaeth</a
            >. Bydd y cais hwn yn mynd i’r rheolydd data, sef MoJ.
          </li>
          <li>
            ysgrifennu atom yn: Disclosure Team, Post point 10.38, 102 Petty France, Llundain, SW1H 9AJ
          </li>
        </ul>

        <p>Gallwch ofyn am fwy o wybodaeth ynghylch:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            cytundebau sydd gennym ar rannu gwybodaeth gyda sefydliadau eraill
          </li>
          <li>
            pryd y caniateir inni drosglwyddo gwybodaeth bersonol amdanoch heb roi gwybod ichi
          </li>
          <li>
            ein cyfarwyddiadau i staff ynghylch sut i gasglu, defnyddio neu ddileu eich gwybodaeth bersonol
          </li>
          <li>
            sut rydym yn gwirio bod yr wybodaeth sydd gennym yn gywir ac yn gyfredol
          </li>
        </ul>

        <p>Gallwch gysylltu â swyddog diogelu data’r MoJ drwy:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            ysgrifennu atom yn: Post point 10.38, 102 Petty France, Llundain SW1H 9AJ
          </li>
          <li>
            e-bostio: <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Sut i wneud cwyn</h2>
        <p>Gweler ein
          <a
            href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure.cy"
            >gweithdrefn gwyno</a
          >
          os ydych eisiau cwyno am sut rydym wedi trin eich data personol.
        </p>

        <p>Ysgrifennwch i: Post point 10.38, 102 Petty France, Llundain SW1H 9AJ</p>
        <p>
          E-bost:
          <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>
        </p>

        <p>Gallwch gwyno hefyd wrth
          <a href="https://ico.org.uk/global/contact-us"
            >Swyddfa’r Comisiynydd Gwybodaeth</a
          > os ydych yn anfodlon â’n hymateb neu'n credu nad ydym yn prosesu eich data personol yn gyfreithlon.
        </p>


        <h2 class="govuk-heading-m" id="otherservices">Y gwasanaeth yr ydych yn ei ddefnyddio</h2>
        <p>Mae'r mathau o ddata personol a gesglir, faint o amser y caiff ei storio, a phwy sy'n cael ei rannu yn dibynnu ar y gwasanaeth rydych yn ei ddefnyddio. I gael rhagor o wybodaeth, dilynwch y dolenni isod:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a routerLink="/privacy-policy" fragment="tabs-4"
              >Defnyddio’r gwasanaeth apelio yn erbyn penderfyniad ynghylch budd-daliadau</a></li>
          <li><a routerLink="/privacy-policy" fragment="tabs-3"
              >Defnyddio’r gwasanaeth gwneud cais am ysgariad</a></li>
          <li><a routerLink="/privacy-policy" fragment="tabs-5"
              >Defnyddio’r gwasanaeth gwneud cais am brofiant</a></li>
          <li><a routerLink="/privacy-policy" fragment="tabs-2"
              >Defnyddio’r gwasanaeth hawlio arian</a></li>
          <li><a routerLink="/privacy-policy" fragment="tabs-6"
              >Defnyddio’r gwasanaeth cyfraith deulu gyhoeddus</a></li>
        </ul>


        </div>

        <div id="tabs-3">
          <h2 class="govuk-heading-l" id="divorce">Defnyddio’r gwasanaeth gwneud cais am ysgariad</h2>
        <h2 class="govuk-heading-m">Y data personol sydd ei angen arnom</h2>

        <p>Pan fyddwch yn defnyddio'r gwasanaeth gwneud cais am ysgariad, mae angen y data personol canlynol arnom:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>eich enw cyfredol</li>
          <li>eich enw ar y dystysgrif briodas</li>
          <li>copi o’ch tystysgrif briodas</li>
          <li>dyddiad eich priodas</li>
          <li>y wlad y gwnaethoch briodi ynddi</li>
          <li>gwybodaeth am lle’r ydych wedi byw</li>
          <li>eich preswylfa arferol (os ydych yn treulio’r rhan fwyaf o’ch amser yng Nghymru neu Loegr)</li>
          <li>eich domisil (fel arfer, yw’r lle y cawsoch eich geni, y lle yr ydych yn meddwl amdano fel eich cartref parhaol a’r lle mae eich teulu a’ch ffrindiau agosaf yn byw)</li>
          <li>eich cyfeiriad e-bost neu rif ffôn symudol</li>
          <li>eich cyfeiriad</li>
          <li>y rhesymau pam eich bod wedi ysgaru</li>
          <li>i wybod os ydych wedi bod ynghlwm ag achosion llys eraill</li>
          <li>enw cyfredol eich gŵr neu’ch gwraig</li>
          <li>ei (h)enw ar y dystysgrif briodas</li>
          <li>enw a chyfeiriad yr unigolyn y bu iddo/iddi odinebu â’ch gŵr neu’ch gwraig (dewisol, ac ni ofynnir hyn dim ond pan ddywedir mai godineb yw’r rheswm dros ysgaru)</li>
          <li>enw a chyfeiriad eich cyfreithiwr (os oes gennych un)</li>
        </ul>

        <h2 class="govuk-heading-m">Hysbysiadau</h2>
        <p>Mae angen ichi gofrestru i gael hysbysiadau i ddefnyddio’r gwasanaeth ysgaru. Mae hwn yn ofyniad cyfreithiol er mwyn i’r cais am ysgariad fynd yn ei flaen.</p>

        <h2 class="govuk-heading-m">Storio eich data</h2>

        <p>Pan fyddwch yn defnyddio'r gwasanaeth hwn fe ofynnir ichi ddefnyddio’ch cyfeiriad e-bost i greu cyfrif. Byddwch yn gallu defnyddio’r cyfeiriad e-bost hwn a chyfrinair i fewngofnodi i wasanaethau eraill GLlTEF.</p>
        <p>Tra byddwch yn llenwi cais am ysgariad neu’n ymateb i gais, byddwn yn cadw eich data am hyd at 6 mis. Os na fyddwch yn cwblhau’r cais yn ystod yr amser hwn, bydd rhaid ichi ddechrau eto.</p>
        <p>Pan gwblheir ysgariad cedwir manylion yr achos am 18 mlynedd. Ar ôl y cyfnod hwnnw, dilëir peth data (o’r dyfarniad nisi a’r dyfarniad absoliwt).</p>
        <p>Cedwir gweddill gwybodaeth yr achos am 82 blynedd arall. Ar ôl cyfanswm o 100 mlynedd dilëir y data hwn.</p>

        <h2 class="govuk-heading-m">Rhannu eich data</h2>

        <li>Pan fydd eich hawliad neu eich cais yn cael ei brosesu, mae’n bosib y byddwn angen cysylltu ag adran, asiantaeth neu sefydliad arall yn y llywodraeth ac efallai y byddwn yn rhannu eich data gyda nhw.</li>
        <li>Bydd unrhyw ddata a ddarperir gennych sydd angen ei argraffu yn cael ei rannu gyda Xerox (UK) Ltd. Er enghraifft, bydd y cais am ysgariad yn cael ei argraffu fel y gellir ei anfon at yr Atebydd drwy’r post.</li>
        <li>Bydd unrhyw ddata sy'n cael ei bostio i gefnogi cais am ysgariad yn cael ei rannu gydag Exela Technologies Limited. Er enghraifft, caiff tystysgrif priodas sydd wedi'i phostio ei derbyn gan Exela a'i hanfon i'r llys fel llun wedi'i sganio.</li>
        <li>Os byddwch yn cysylltu â ni ac yn gofyn am help gyda'r gwasanaeth rydych yn ei ddefnyddio, efallai y byddwn yn rhannu eich data personol gyda’r Good Things Foundation. Rydym yn gweithio mewn partneriaeth â'r cwmni hwn i gynnig cefnogaeth wyneb yn wyneb.</li>
        <li>Mewn rhai amgylchiadau efallai y byddwn yn rhannu eich data, er enghraifft er mwyn atal neu ganfod trosedd, neu i gynhyrchu ystadegau cyffredinol am unigolion sy’n defnyddio'r gwasanaeth.</li>
        </div>


        <div id="tabs-2">
          <h2 class="govuk-heading-l">Defnyddio’r gwasanaeth hawlio arian</h2>
          <h2 class="govuk-heading-m">Y data personol sydd ei angen arnom</h2>

          <p>Os ydych yn defnyddio’r gwasanaeth hawlio arian byddwn yn gofyn ichi am:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>eich enw</li>
            <li>eich busnes neu’ch sefydliad os ydych yn gweithredu ar eu rhan</li>
            <li>eich dyddiad geni</li>
            <li>eich cyfeiriad e-bost neu rif ffôn symudol</li>
            <li>eich cyfeiriad</li>
            <li>enw’r unigolyn, y busnes neu’r sefydliad yr ydych yn cyflwyno hawliad yn ei erbyn</li>
            <li>cyfeiriad e-bost yr unigolyn, y busnes neu’r sefydliad</li>
            <li>cyfeiriad yr unigolyn, y busnes neu’r sefydliad</li>
            <li>y rhesymau yr ydych yn gwneud yr hawliad</li>
            <li>yr amserlen o ddigwyddiadau sy'n arwain at yr anghydfod</li>
            <li>rhestr o unrhyw dystiolaeth sydd gennych i gefnogi'ch cais</li>
          </ul>
          <p>Os ydych yn ymateb i hawliad am arian, gwiriwch eich gwybodaeth bersonol a ddarparwyd gan yr hawlydd, yn cynnwys eich enw, eich cyfeiriad a'ch manylion cyswllt.</p>

          <p>Efallai y byddwn yn gofyn ichi ddarparu:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>eich dyddiad geni</li>
            <li>eich busnes neu’ch sefydliad os ydych yn gweithredu ar eu rhan</li>
            <li>eich ymateb i’r hawliad a wnaed yn eich erbyn</li>
            <li>yr amserlen o ddigwyddiadau sy'n arwain at yr anghydfod</li>
            <li>rhestr o unrhyw dystiolaeth sydd gennych i gefnogi'ch cai</li>
          </ul>
        </div>

        <h2 class="govuk-heading-m">Storio eich data</h2>
    <p>Pan fyddwch yn defnyddio'r gwasanaeth hwn fe ofynnir ichi ddefnyddio’ch cyfeiriad e-bost i greu cyfrif. Gallwch ddefnyddio’r cyfeiriad e-bost hwn a chyfrinair i fewngofnodi i wasanaethau eraill GLlTEF.</p>

    <h2 class="govuk-heading-s">Cyn ichi gyflwyno eich gwybodaeth</h2>
    <p>Caiff yr wybodaeth rydych yn ei rhoi yn y gwasanaeth hawlio arian ei chadw hyd nes y byddwch yn penderfynu cyflwyno’ch cais.
      Bydd hyn yn eich galluogi i arbed beth ydych yn ei wneud a pharhau â'ch cais yn hwyrach ymlaen.
      Bydd gwybodaeth sydd wedi cael ei storio nad ydych yn ei chyflwyno yn cael ei dileu ar ôl 90 diwrnod.</p>

    <h2 class="govuk-heading-s">Ar ôl ichi gyflwyno eich gwybodaeth</h2>
    <p>Bydd yr wybodaeth rydych yn ei chyflwyno ar gyfer hawlio arian yn cael ei dileu 2 flynedd ar ôl i'r llys wneud penderfyniad ar ganlyniad eich hawliad (gelwir hyn yn ddyfarniad).</p>

    <p>Os nad yw'r llys yn gwneud penderfyniad am eich hawliad (er enghraifft,
      eich bod yn setlo'r hawliad y tu allan i'r llys ac nad oes angen dyfarniad bellach) yna caiff yr wybodaeth a gyflwynir gennych ei dileu 3 blynedd ar ôl y diweddariad diwethaf a wnaed i'r hawliad.</p>

    <h2 class="govuk-heading-m">Rhannu eich data</h2>

    <p>Bydd yr wybodaeth y byddwch yn ei chyflwyno yn cael ei rhannu â phawb sydd wedi'u henwi ar y cais. Mae hyn yn eithrio unrhyw fanylion talu rydych yn eu defnyddio i dalu ffioedd llys.</p>
    <p>Os gwneir dyfarniad mewn achos, rhennir rhywfaint o wybodaeth â Registry Trust Limited sy'n darparu gwybodaeth ariannol am ddyfarniadau llys i fanciau ac asiantaethau credyd.</p>
    <p>Bydd unrhyw ddata a gyflwynir gennych chi neu’r partïon eraill i gefnogi’r hawliad ac i fwrw ymlaen yn cael ei rannu gyda Exela Technologies Limited ac, os bydd angen argraffu, gyda Xerox (UK) Ltd.</p>

  </div>



  <div id="tabs-4">
    <h2 class="govuk-heading-l" id="probate">Defnyddio’r gwasanaeth apelio yn erbyn penderfyniad ynghylch budd-daliadau</h2>
    <h2 class="govuk-heading-m">Y data personol sydd ei angen arnom
    </h2>
    <p>Pan fyddwch yn defnyddio’r gwasanaeth apelio yn erbyn penderfyniad ynghylch budd-daliadau, byddwn yn gofyn am:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>eich enw</li>
      <li>eich dyddiad geni</li>
      <li>eich cyfeiriad e-bost neu rif ffôn symudol</li>
      <li>eich Rhif Yswiriant Gwladol</li>
      <li>gwybodaeth o’r Hysbysiad Gorfodi i Ailystyried</li>
      <li>gwybodaeth am unrhyw gymorth sydd ei angen arnoch ar gyfer y gwrandawiad, os byddwch yn mynychu un</li>
      <li>gwybodaeth ynglŷn â phryd yr ydych ar gael ar gyfer gwrandawiad, os ydych yn mynychu un</li>
    </ul>
    <p>Os oes gennych gynrychiolydd, byddwn yn gofyn am:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Ei enw</li>
      <li>ei fanylion cyswllt</li>
    </ul>
    <p>Os ydych chi’n benodai, bydd angen ichi ddarparu gwybodaeth am yr unigolyn rydych yn apelio ar ei ran, gan gynnwys:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Ei enw</li>
      <li>ei rif Yswiriant Gwladol</li>
    </ul>

    <h2 class="govuk-heading-m">Hysbysiadau</h2>
    <p>Fel rhan o'ch apêl byddwn yn gofyn a ydych eisiau inni anfon negeseuon testun a hysbysiadau e-bost atoch i roi'r wybodaeth ddiweddaraf i chi am eich apêl.</p>
    <p>Gallwch ganslo negeseuon testun trwy ddilyn y camau a grybwyllir yn y neges destun, a gallwch ganslo negeseuon e-bost trwy ddilyn y camau a grybwyllir yn y negeseuon e-bost.</p>

    <p>Os ydych wedi gofyn i'ch cynrychiolydd enwebedig dderbyn diweddariadau ar eich apêl, yna byddwn yn rhannu eich data gyda nhw. Os ydych am i’ch cynrychiolydd roi’r gorau i dderbyn hysbysiadau yna mae angen i chi <a href="https://hmcts-access.service.gov.uk/contact-us">Gysylltu â ni</a>.</p>

    <h2 class="govuk-heading-m">Storio a rhannu eich data</h2>

    <p>Bydd eich data yn cael ei rannu gydag adran o'r llywodraeth a wnaeth y penderfyniad rydych chi’n apelio yn ei erbyn. Er enghraifft, Yr Adran Waith a Phensiynau neu Gyllid a Thollau Ei Mawrhydi Mae hyn fel bod yr adran yn gallu ymateb i’ch apêl.</p>
    <p>Ar ôl ichi orffen llenwi eich cais, bydd yn cael ei storio am 2 flynedd. Bydd yn cael ei ddileu ar ôl hynny.</p>
  </div>


  <div id="tabs-5">
    <h2 class="govuk-heading-l">Defnyddio’r gwasanaeth gwneud cais am brofiant</h2>
    <h2 class="govuk-heading-m">Y data personol rydym ni’n casglu</h2>

    <p>Pan fyddwch yn defnyddio’r gwasanaeth gwneud cais am brofiant, byddwn yn gofyn am:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>eich enw, ac unrhyw enwau eraill yr ydych yn cael eich adnabod wrthynt</li>
      <li>eich cyfeiriad e-bost</li>
      <li>eich rhif ffôn</li>
      <li>eich cyfeiriad</li>
      <li>enwau unrhyw ysgutorion yn yr ewyllys</li>
      <li>manylion cyswllt yr holl ysgutorion sy’n gwneud cais am brofiant</li>
    </ul>

    <h2 class="govuk-heading-m">Defnyddio eich data</h2>
    <p>Fel rhan o’ch cais fe ofynnir ichi ddefnyddio eich cyfeiriad e-bost i greu cyfrif. Byddwch yn gallu defnyddio’r cyfeiriad e-bost hwn a chyfrinair i fewngofnodi i wasanaethau eraill GLlTEF.</p>
    <p>Efallai y byddwn yn gofyn am eich caniatâd i ddefnyddio eich cyfeiriad e-bost i anfon negeseuon e-bost atoch trwy’r system GOV.UK Notify. Mae’r system hon yn prosesu negeseuon e-bost o fewn Ardal Economaidd Ewrop yn unig tan y pwynt lle caiff negeseuon e-bost eu trosglwyddo i’r darparwr e-bost a ddefnyddiwch.</p>


  <p>Rydym yn defnyddio <a routerLink="/cookies">cwcis</a> i gasglu data am sut rydych yn defnyddio'r gwasanaeth hwn, gan gynnwys:  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>os byddwch yn agor neges e-bost gennym neu’n clicio ar ddolen mewn e-bost</li>
    <li>cyfeiriad IP eich cyfrifiadur, eich ffôn symudol neu'ch tabled</li>
    <li>yr ardal neu’r dref lle rydych yn defnyddio’ch cyfrifiadur, ffôn neu dabled</li>
    <li>y porwr gwe rydych yn ei ddefnyddio</li>
  </ul>

    <h2 class="govuk-heading-m">Storio eich data</h2>

    <p>Pan fyddwch yn defnyddio'r gwasanaeth hwn fe ofynnir ichi ddefnyddio’ch cyfeiriad e-bost i greu cyfrif. Gallwch ddefnyddio’r cyfeiriad e-bost hwn a chyfrinair i fewngofnodi i wasanaethau eraill GLlTEF.</p>
    <h2 class="govuk-heading-s">Cyn ichi gyflwyno eich gwybodaeth</h2>
    <p>Caiff yr wybodaeth rydych yn ei rhoi yn eich cais am brofiant ei storio hyd nes y byddwch yn penderfynu cyflwyno’ch cais. Bydd hyn yn eich galluogi i arbed beth ydych yn ei wneud a pharhau â'ch cais yn hwyrach ymlaen.
      Bydd gwybodaeth sydd wedi cael ei storio nad ydych yn ei chyflwyno yn cael ei dileu ar ôl 90 diwrnod.</p>
    <h2 class="govuk-heading-s">Ar ôl ichi gyflwyno eich gwybodaeth</h2>
    <p>Bydd yr wybodaeth rydych wedi'i rhoi yn eich cais am brofiant yn cael ei storio am 50 mlynedd ac yna ei dileu. Mae ewyllysiau a grantiau profiant yn gofnodion cyhoeddus. Nid yw grantiau profiant yn cynnwys cyfeiriadau e-bost na rhifau ffôn, ond maent yn cynnwys cyfeiriadau.</p>

    <h2 class="govuk-heading-m">Rhannu eich data</h2>

    <p>Pan fydd eich cais yn cael ei brosesu, mae’n bosib y byddwn angen cysylltu ag adran, asiantaeth neu sefydliad arall yn y llywodraeth ac efallai y byddwn yn rhannu eich data â nhw.</p>
    <p>Os byddwch yn cysylltu â ni ac yn gofyn am help gyda’r gwasanaeth rydych yn ei ddefnyddio, efallai y byddwn yn rhannu eich data personol gyda’r <a href="https://www.goodthingsfoundation.org/" target="_blank" rel="noopener noreferrer">Good Things Foundation (agor mewn ffenestr newydd)</a>.
      Rydym yn gweithio mewn partneriaeth â'r cwmni hwn i gynnig cefnogaeth wyneb yn wyneb.</p>
    <p>Mewn rhai amgylchiadau efallai y byddwn yn rhannu eich data. Er enghraifft, i rwystro trosedd neu ganfod trosedd, neu gynhyrchu ystadegau dienw.</p>
    <p>Rydym yn defnyddio Google Analytics i gasglu data am sut y defnyddir gwefan. Mae'r data cyffredinol hwn yn cael ei rannu â Google. Mae rhagor o wybodaeth am hyn yn ein <a href="https://www.apply-for-probate.service.gov.uk/terms-conditions">telerau ac amodau</a>.</p>
    <p>Storio a rhannu eich data’n rhyngwladol    </p>
    <p>Weithiau efallai y bydd angen inni anfon eich gwybodaeth bersonol y tu allan i'r DU. Pan fyddwn yn gwneud hyn, byddwn yn cydymffurfio â chyfraith diogelu data.    </p>
  </div>

  <div id="tabs-6">
    <h2 class="govuk-heading-l">Defnyddio’r gwasanaeth cyfraith deulu gyhoeddus    </h2>
    <h2 class="govuk-heading-m">Beth yw'r data personol a gasglwn    </h2>
    <p>Pan fyddwch yn defnyddio’r gwasanaeth cyfraith deulu gyhoeddus, byddwn yn casglu'r data personol canlynol:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>enw, cyfeiriad, swydd a manylion cyswllt y ceisydd</li>
      <li>enw, cyfeiriad a manylion cyswllt cyfreithiwr yr Awdurdod Lleol</li>
      <li>enw, cyfeiriad a manylion cyswllt y gweithiwr cymdeithasol</li>
      <li>enw, dyddiad geni, rhyw, a chyfeiriad y plant sydd ynghlwm â’r achos</li>
      <li>enw, dyddiad geni, rhyw, cyfeiriad a manylion cyswllt yr atebwyr sydd ynghlwm â’r achos</li>
      <li>enw, cyfeiriad a manylion cyswllt y partïon eraill sydd ynghlwm â’r achos, er enghraifft tystion</li>
      <li>manylion unrhyw anabledd neu allu ymgyfreitha (gallu i ddeall achosion) unrhyw blentyn, atebydd neu barti arall yn yr achos</li>
      <li>manylion achosion llys eraill y bu a wnelo’r atebwyr neu’r plant â hwy</li>
      <li>tystiolaeth yn cefnogi’r achos</li>
    </ul>
    <p>Rydym hefyd yn casglu </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>gwybodaeth sy’n dweud wrthym os byddwch yn agor neges e-bost gennym neu’n clicio ar ddolen mewn e-bost</li>
        <li>gwybodaeth am sut rydych chi'n defnyddio'r gwasanaeth hwn, fel eich cyfeiriad IP a'r porwr gwe rydych chi'n ei ddefnyddio. Rydym yn gwneud hyn drwy <a routerLink="/cookies">ddefnyddio cwcis</a></li>
    </ul>
    <h2 class="govuk-heading-m">Beth rydym yn ei wneud gyda’ch data</h2>
    <p>Rydym ni’n casglu data personol er mwyn:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>prosesu’r cais</li>
        <li>bodloni gofynion cyfreithiol</li>
        <li>gwella’r gwasanaeth hwn</li>
    </ul>
    <p>Caiff data personol ei brosesu gan ein staff yn y DU a chaiff y data ei storio yn y DU.</p>
    <p>Caiff data sy'n ymwneud ag achos ei storio nes bod y plentyn ieuengaf yn cyrraedd 18 oed, oni bai bod yr achos yn arwain at fabwysiadu lle bydd y data'n cael ei storio am 100 mlynedd.</p>
    <p>Rydym yn defnyddio system GOV.UK Notify i anfon negeseuon e-bost. Prosesir y rhain o fewn yr EEA tan y pwynt lle mae negeseuon e-bost yn cael eu trosglwyddo i'ch darparwr e-bost.</p>
    <h2 class="govuk-heading-m">Eich hawliau</h2>
    <p>Gallwch ofyn:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>i gael gweld y data personol rydym yn ei gadw amdanoch</li>
      <li>i'r data personol gael ei gywiro</li>
      <li>i'r data personol gael ei symud neu ei ddileu (bydd hyn yn ddibynnol ar yr amgylchiadau, er enghraifft os ydych chi’n penderfynu peidio â pharhau gyda’ch hawliad neu’ch cais)</li>
      <li>i gyfyngu ar y mynediad at y data personol (er enghraifft, gallwch ofyn i'ch data gael ei storio am gyfnod hirach a pheidio â chael ei ddileu'n awtomatig)</li>
    </ul>
    <p>E-bostiwch <a href="mailto:data.access@justice.gov.uk">data.access&#64;justice.gov.uk</a> os ydych eisiau gweld yr wybodaeth hon.    </p>

    <h2 class="govuk-heading-m">Rhannu eich data</h2>
    <p>Rydym yn rhoi caniatâd i Google ddefnyddio neu rannu data dadansoddi ein gwefan, ceir gwybodaeth am hyn yn ein <a routerLink="/terms-and-conditions">telerau ac amodau</a>.</p>

    <h2 class="govuk-heading-m">Hysbysiadau</h2>
    <p>Fel rhan o'ch cais, byddwn yn anfon hysbysiadau atoch i roi gwybod ichi sut mae'ch cais yn datblygu.</p>
    <p>E-bostiwch <a href="mailto:contactfpl@justice.gov.uk">contactfpl&#64;justice.gov.uk</a> os oes arnoch eisiau stopio cael hysbysiadau e-bost.    </p>

    <h2 class="govuk-heading-m">Sut i wneud cwyn</h2>
    <p>Os ydych eisiau cwyno am y ffordd rydym ni wedi trin eich data personol, anfonwch e-bost i <a href="mailto:data.compliance@justice.gov.uk">data.compliance&#64;justice.gov.uk</a>.</p>
    <p>Gallwch gwyno hefyd wrth <a href="https://ico.org.uk/global/contact-us">Swyddfa’r Comisiynydd Gwybodaeth</a> os ydych yn anfodlon â’n hymateb neu'n credu nad ydym yn prosesu eich data personol yn gyfreithlon.    </p>
  </div>

  <div id="tabs-7">

    <h2 class="govuk-heading-l">Defnyddio’r gwasanaeth apelio yn erbyn penderfyniad mewnfudo neu geisio lloches</h2>
    <h2 class="govuk-heading-m">Y data personol sydd ei angen arnom</h2>

    <p>Pan fyddwch yn defnyddio’r gwasanaeth apelio yn erbyn penderfyniad ynghylch mewnfudo neu geisio lloches, byddwn yn gofyn am:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>eich enw</li>
        <li>eich dyddiad geni</li>
        <li>eich cenedligrwydd</li>
        <li>eich cyfeiriad e-bost neu rif ffôn symudol</li>
        <li>eich cyfeiriad</li>
        <li>y math o apêl</li>
        <li>gwybodaeth o lythyr penderfyniad y Swyddfa Gartref</li>
        <li>gwybodaeth am unrhyw gymorth sydd ei angen arnoch ar gyfer apwyntiad rheoli achos neu wrandawiad, os byddwch yn mynychu un</li>
    </ul>

    <h2 class="govuk-heading-m">Storio a rhannu eich data</h2>

    <p>Bydd eich data yn cael ei rannu gydag adran o'r llywodraeth a wnaeth y penderfyniad rydych chi’n apelio yn ei erbyn. Er enghraifft, y Weinyddiaeth Gyfiawnder Mae hyn fel bod yr adran yn gallu ymateb i’ch apêl.</p>

    <h2 class="govuk-heading-m">Ar ôl ichi gyflwyno eich gwybodaeth</h2>

    <p>Bydd yr wybodaeth y byddwch yn ei chyflwyno yn cael ei dileu ymhen 2 flynedd wedi i’r Tribiwnlys gyhoeddi ei benderfyniad ac ar ôl gwneud y diweddariad olaf i’ch apêl.</p>
    <p>Os na fydd y Tribiwnlys yn gwneud penderfyniad am eich apêl (er enghraifft os caiff ei dynnu’n ôl neu os daw y partïon i gytundeb) yna bydd yr wybodaeth y byddwch yn ei darparu yn cael ei dileu ymhen 2 flynedd wedi cau’r apêl ac ar ôl gwneud y diweddariad olaf.</p>
    <p>Os byddwch yn gwneud cwyn yn erbyn y Tribiwnlys, yna bydd gwybodaeth am yr apêl yn cael ei chadw am 3 blynedd ar ôl gwneud y diweddariad olaf ynghylch y gŵyn.</p>
  </div>
    </div>
  </ng-template>
