<h2 class="govuk-heading-m">Length, date and priority level of hearing</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Length of hearing
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Does the hearing need to take place on a specific date?
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      What is the priority of this hearing?
    </div>
    <div class="govuk-summary-list__value">

    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
</div>
