<exui-error-message *ngIf="radioOptionControl.errors && submitted" [error]="error"></exui-error-message>
<div [formGroup]="formGroup"
     class="govuk-form-group"
     [ngClass]="{'form-group-error': radioOptionControl.errors && submitted}">
  <exui-choose-radio-option
    [formGroup]="formGroup"
    [radioControlName]="radioControlName"
    [title]="title"
    [caption]="caption"
    [optionsList]="optionsList"
    [submitted]="submitted"
    [errorText]="error?.description"
  >
  </exui-choose-radio-option>
</div>
