<ng-container *ngIf="config && workField" [ngSwitch]="config.type" class="xui-work-field">
  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.STRING" >
    {{ workField[config.name] }}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.CASE_REFERENCE_STRING" >
    {{ workField[config.name] | ccdCaseReference }}
    </ng-container>
  </div>

  <ng-container *ngSwitchCase="fieldType.DATE_DUE" >
  <xuilib-due-date [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [dueDate]="toDate(workField[config.name])"></xuilib-due-date>
  </ng-container>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.DATE_AGE_DAYS" >
      {{ workField[config.name] | daysFromToday }}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.DATE" >
      {{ workField[config.name] | date:'dd/MM/yyyy'}}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.DATETIME" >
      {{ workField[config.name] | date:'dd/MM/yyyy HH:mm'}}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.FORMATTED_DATE" >
      {{ workField[config.name] | date:'d MMMM yyyy'}}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.BOOLEAN" >
      {{ workField[config.name] | yesNo }}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.INTEGER" >
      {{ workField[config.name] | integer }}
    </ng-container>
  </div>

  <div [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}">
    <ng-container *ngSwitchCase="fieldType.DECIMAL_2">
      {{ workField[config.name] | twoDP }}
    </ng-container>
  </div>

  <ng-container *ngSwitchCase="fieldType.URL">
    <exui-url-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [href]="workField[config.name]"></exui-url-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.IMAGE">
    <exui-image-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [src]="workField[config.name]"></exui-image-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.CASE_REFERENCE">
    <exui-case-reference-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [caseReference]="workField[config.name]"></exui-case-reference-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.CASE_NAME" >
    <exui-case-name-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [caseName]="workField[config.name]" [caseId]="workField.case_id"></exui-case-name-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.TASK_NAME">
    <exui-task-name-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [taskName]="workField[config.name]" [caseId]="workField.case_id"></exui-task-name-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.DERIVED_ICON">
    <exui-derived-icon-field [ngClass]="{'govuk-!-font-weight-bold': workField.isNewTask}" [workField]="workField" [sourceColumn]="config.sourceColumn" [matchValue]="config.matchValue"></exui-derived-icon-field>
  </ng-container>

</ng-container>
