<h2 class="govuk-heading-m">{{title}}</h2>
  <exui-case-roles-table [roles]="roles"
                        [roleCategory]="roleCategory"
                        [caseDetails]="caseDetails"
                        [showAllocateRoleLink]="showAllocateRoleLink">
  </exui-case-roles-table>
<p>
  <exui-allocate-a-role-link
    *ngIf="showAllocate"
    [routerLink]="roleRouterLink"
    [queryParams]="roleQueryParams"
    [showAllocateRoleLink]="showAllocateRoleLink"
    [roles]="roles"
    [roleCategory]="roleCategory"
    [linkText]="linkText"
    [existingUsers]="existingUsers">
  </exui-allocate-a-role-link>
</p>
