.mv-findbar {
  top: 40px;
  right: 0px;
  position: absolute;
  z-index: 10000;
  height: auto;
  width: 400px;
  padding: 12px;
  margin: 4px 2px;
  color: #0b0c0c;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
  cursor: default;
  background-color: white;
  border: 1px solid #DDDDDD;
}

.hmcts-search {
  .govuk-form-group {
    width: 75%;
  }
}

.mv-findbar-result-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.toolbarLabel {
 color: #6f777b;
}

#findPrevious{
  margin-right: 5px;
}
