<div class="mv-findbar" [ngClass]="{ hidden: toolbarButtons.searchBarHidden | async }">
  <div class="hmcts-search">
    <div class="govuk-form-group">
        <input #findInput
        [(ngModel)]="searchText"
        (keydown)="onInputKeyPress($event)"
        class="govuk-input hmcts-search__input"
        [ngClass]="'toolbarField ' + (!searchText || haveResults ? '' : 'notFound')"
        title="Find"
        placeholder="Find in document…"
        tabindex="0"
        data-l10n-id="find_input">
    </div>
    <button id="searchBtn" class="govuk-button hmcts-search__button"
            title="Find the previous occurrence of the phrase" tabindex="0" data-l10n-id="find_previous"
            (click)="search()">Search
    </button>
    <div class="govuk-grid-row mv-findbar-result-row">
        <div class="govuk-grid-column-one-half">
            <p id="findResultsCount" class="toolbarLabel">{{resultsText}}</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button id="findPrevious" class="link govuk-link govuk-link--no-visited-state"
                    title="Find the previous occurrence of the phrase" tabindex="0" data-l10n-id="find_previous"
                    (click)="searchPrev()">
            <span data-l10n-id="find_previous_label">Prev</span>
            </button>
            <button id="findNext" class="link govuk-link govuk-link--no-visited-state" title="Find the next occurrence of the phrase"
              tabindex="0" data-l10n-id="find_next" (click)="searchNext()">
            <span data-l10n-id="find_next_label">Next</span>
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button id="advanced" class="link govuk-link govuk-link--no-visited-state" title="Advanced"
              tabindex="0" data-l10n-id="find_next" (click)="advanced()">
          <span data-l10n-id="find_next_label">Advanced</span>
          </button>
        </div>
        
      </div>

  </div>

  <div class="govuk-checkboxes govuk-checkboxes--medium" *ngIf="isAdvanced">
      <div class="govuk-checkboxes__item">
          <input (change)="highlightAll = !highlightAll; search()" [checked]="highlightAll" type="checkbox" id="findHighlightAll" class="govuk-checkboxes__input" tabindex="0">
          <label for="findHighlightAll" class="govuk-label govuk-checkboxes__label" data-l10n-id="find_highlight">Highlight all (instances of matches)</label>      
      </div>
      <div class="govuk-checkboxes__item">
          <input (change)="matchCase = !matchCase; search()" [checked]="matchCase" type="checkbox" id="findMatchCase" class="govuk-checkboxes__input" tabindex="0">
          <label for="findMatchCase" class="govuk-label govuk-checkboxes__label" data-l10n-id="find_match_case_label">Match case (exact words)</label>
          
      </div>
      <div class="govuk-checkboxes__item">
          <input (change)="wholeWord = !wholeWord; search()" [checked]="wholeWord" type="checkbox" id="findEntireWord" class="govuk-checkboxes__input" tabindex="0">
          <label for="findEntireWord" class="govuk-label govuk-checkboxes__label" data-l10n-id="find_entire_word_label">Whole words (string of words)</label>      
      </div>
  </div>
</div>
