<div class="govuk-width-container">     
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">        
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form"  [formGroup]="stageForm">
          <span class="govuk-caption-l">Request a hearing for {{ fullName }} vs DWP</span>
          <h1 class="govuk-heading-l">What stage is this hearing at?</h1>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">              
              <div class="govuk-radios">
                <div *ngFor="let hearingStageOption of hearingStageOptions$ | async; let i = index" class="govuk-radios__item">
                    <input #radioButton
                           class="govuk-radios__input" 
                           [formControl]="stageForm.controls['stage-option']"
                           type="radio">
                    <label class="govuk-label govuk-radios__label">{{hearingStageOption.value_en}}</label>
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>