<div class="govuk-width-container ">        
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">        
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="hearing-attendance-hybrid-many" method="post">
          <span class="govuk-caption-l">Request a hearing for Jane Smith vs DWP</span>
          <h1 class="govuk-heading-l">What stage is this hearing at?</h1>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="stage1" name="hearingstage" type="radio" value="Initial">
                    <label class="govuk-label govuk-radios__label" for="stage1">Initial</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="stage2" name="hearingstage" type="radio" value="Final">
                    <label class="govuk-label govuk-radios__label" for="stage2">Final</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="stage3" name="hearingstage" type="radio" value="Substantial">
                    <label class="govuk-label govuk-radios__label" for="stage3">Substantial</label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="stage4" name="hearingstage" type="radio" value="Case management">
                    <label class="govuk-label govuk-radios__label" for="stage4">Case management</label>
                </div>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>