<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <div class="page">
    <main id="content" role="main">
      <div class="govuk-form-group">
        <label class="govuk-hint"> Request a hearing for Jane Smith vs DWP</label>
        <h1 class="govuk-heading-l">
            What are the hearing venue details?
        </h1>
        <p class="govuk-hint">If this is a fully remote hearing you must still select the court or tribunal which will be managing the case</p>
        <p class="search-location">
          <exui-search-location></exui-search-location>
        </p>
      </div>
    </main>
  </div>
</div>
<exui-app-footer></exui-app-footer>
