<div class="govuk-form-group" [id]="id()" [ngClass]="{ 'govuk-form-group--error': !yesNoControl.valid }">
  <fieldset class="inline">
    <legend>
      <span class="govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{
        questionField.question_text | rpxTranslate
      }}</span>
      <span class="govuk-error-message" *ngIf="yesNoControl.errors && yesNoControl.touched">{{
        yesNoControl.errors | nocError | rpxTranslate
      }}</span>
    </legend>

    <div class="govuk-radios" [id]="id()">
      <div class="govuk-radios__item" *ngFor="let value of yesNoValues" [ngClass]="{ selected: yesNoControl.value === value }">
        <input
          class="govuk-radios__input"
          [id]="id() + '-' + value"
          [attr.name]="id()"
          [name]="id()"
          type="radio"
          [formControl]="yesNoControl"
          [value]="value"
        />
        <label class="govuk-label govuk-radios__label" [for]="id() + '-' + value">{{ value | rpxTranslate }}</label>
      </div>
    </div>
  </fieldset>
</div>
