<div class="govuk-form-group" [id]="id()" [ngClass]="{ 'govuk-form-group--error': yesNoControl.errors && yesNoControl.touched }">
  <fieldset class="govuk-fieldset" [attr.aria-describedby]="yesNoControl.errors && yesNoControl.touched ? id() + '-error' : null">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-bold">
      <ng-container *ngIf="questionField.question_text">{{ questionField.question_text | rpxTranslate }}</ng-container>
    </legend>
    <span class="govuk-error-message" *ngIf="yesNoControl.errors && yesNoControl.touched" [id]="id() + '-error'">
      <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span>
      {{ yesNoControl.errors | nocError | rpxTranslate }}
    </span>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item" *ngFor="let value of yesNoValues">
        <input
          class="govuk-radios__input"
          [id]="id() + '-' + value"
          [attr.name]="id()"
          [name]="id()"
          type="radio"
          [formControl]="yesNoControl"
          [value]="value"
        />
        <label class="govuk-label govuk-radios__label" [for]="id() + '-' + value">{{ value | rpxTranslate }}</label>
      </div>
    </div>
  </fieldset>
</div>
