<exui-alert></exui-alert>
<exui-task-alert-banner *ngIf="warningIncluded" alertTitle="Task alert" 
alertMessage="An application is pending a decision. Consider if this application has an impact on any other tasks you might wish to complete.">
</exui-task-alert-banner>


<div class="govuk-tabs__panel active-tasks-container" id="event">
  <div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Active tasks</h2>
        <exui-case-task></exui-case-task>
      </div>
    </div>
  </div>
</div>