<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Using this service</h1>

      <h2 class="govuk-heading-m">Terms and conditions</h2>
      <p>You have read and understood the <a [routerLink]="'/terms-and-conditions'" rel="noopener noreferrer" target="_blank">terms and conditions</a> and are eligible for an account to manage your organisation and cases.</p>

      <p>You should check these terms and conditions regularly. We may update them at any time without notice. If you continue to use this service after the terms and conditions have changed, you are deemed to have agreed to the changes.</p>

      <p>
        <a [routerLink]="" (click)='onAcceptTandC()' role="button" draggable="false" class="govuk-button">Confirm</a>
      </p>
    </div>
  </div>
</main>
