<nav *ngIf="showItems" class="hmcts-primary-navigation" style="background-color: transparent" [attr.aria-label]="label">
  <div class="hmcts-primary-navigation__container">
    <div class="govuk-header__logo" *ngIf="logoIsUsed"></div>
    <div class="hmcts-primary-navigation__nav">
      <nav class="hmcts-primary-navigation" aria-label="Primary navigation" style="background-color: transparent">
        <ul class="hmcts-primary-navigation__list">
          <li class="hmcts-primary-navigation__item" *ngFor="let item of items" >
            <a class="hmcts-primary-navigation__link" [attr.aria-current]="item.active ? true: null" [routerLink]="item.href">{{item.text}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="hmcts-primary-navigation__search">
      <!-- TODO: Should turn on and off -->
      <a class="hmcts-search-toggle__button" [routerLink]="'/cases/case-search'" style="background-color: transparent">Find case</a>
    </div>
  </div>

</nav>
