<h2 class="govuk-heading-m">
  Linked hearings
  <exui-amendment-label *ngIf="showAmmended" [displayLabel]="amendmentLabelEnum.AMENDED">
  </exui-amendment-label>
</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Will this hearing need to be linked to other hearings?
    </div>
    <div class="govuk-summary-list__value">
      {{ hearingIsLinkedFlag ? 'Yes' : 'No' }}
      <exui-amendment-label *ngIf="showAmmended" [displayLabel]="amendmentLabelEnum.AMENDED">
      </exui-amendment-label>
    </div>
    <div class="govuk-summary-list__actions">
      <a id="linkedHearings"
        class="govuk-link"
        href="javascript:void(0)"
        (click)="onChange('linkedHearings')">Change</a>
    </div>
  </div>
</div>
