<exui-page-wrapper [title]="'Case list' | rpxTranslate">
  <div class="case-list-component">
    <div class="hmcts-action-bar">
      <div class="hmcts-action-bar__filter">
        <button class="govuk-button hmcts-button--secondary" (click)="toggleFilter()" type="button">
          {{toggleButtonName | rpxTranslate}}
        </button>
      </div>
      <div class="hmcts-action-bar__filter"  *ngIf="isCaseShareVisible$ | async">
        <button id="btn-share-button" class="govuk-button hmcts-button--secondary" type="button"
                [disabled]="checkIfButtonDisabled()" (click)="shareCaseSubmit()">
          {{'Share Case' | rpxTranslate}}
        </button>
      </div>
    </div>

    <div class="search-block">
        <div class="hmcts-filter-layout__filter" [hidden]="!showFilter">
            <div class="form-group">
                <div class="container-fluid">
                    <exui-ccd-connector
                    [eventsBindings]="caseListFilterEventsBindings"
                    [store]="store"
                    [fromFeatureStore]="fromCasesFeature">
                        <ccd-workbasket-filters
                                *ngIf="isVisible"
                                [jurisdictions]="jurisdictions"
                                [defaults]="defaults"
                                (onApply)="applyFilter($event)"
                        ></ccd-workbasket-filters>
                    </exui-ccd-connector>
                </div>
            </div>
        </div>

        <div aria-live="polite" class="hmcts-filter-layout__content" id="search-result" rightbody="" role="region">
          <ccd-search-result
            #ccdSearchResult
            *ngIf="resultViewIsReady"
            [selectionEnabled]="isCaseShareVisible$ | async"
            [jurisdiction]="jurisdiction"
            [caseType]="caseType"
            [caseState]="caseState"
            [caseFilterFG]="fg"
            [resultView]="resultView"
            [paginationMetadata]="paginationMetadata"
            [page]="page"
            [metadataFields]="metadataFields"
            [preSelectedCases]="selectedCases"
            (changePage)="applyChangePage($event)"
            (selection)="retrieveSelections($event)"
            caseLinkUrlTemplate="case-details/case_id"
            [consumerSortingEnabled]="elasticSearchFlag"
            (sortHandler)="sort($event)"
          >
          </ccd-search-result>
          <div id="info-msg-unselected-case" *ngIf="hasResults() && (isCaseShareVisible$ | async)" class="form-group">
            <details #detailsElement class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary" role="button" [attr.aria-expanded]="detailsElement.open">
                <span id="sp-msg-unselected-case-header" class="govuk-details__summary-text">
                  {{'Why are some cases unselectable?' | rpxTranslate}}
                </span>
              </summary>
              <div id="sp-msg-unselected-case-content" class="govuk-details__text">
                {{'You might not be able to select and share some cases in your current case list. However, you\'ll be able to select any new cases you create and share them.' | rpxTranslate}}
              </div>
            </details>
          </div>
        </div>
    </div>
  </div>
</exui-page-wrapper>
