<div class="govuk-form-group" [ngClass]="{'form-group-error': !textControl.valid && textControl.touched}">

  <label class="govuk-label"  [for]="id()">
    <span class="form-label govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{questionField.question_text}}</span>
    <span class="error-message" *ngIf="textControl.errors && textControl.touched">{{textControl.errors | ccdFirstError}}</span>
  </label>

  <input class="govuk-input govuk-input--width-10" [id]="id()" type="text" [formControl]="textControl">

</div>
