<div class="container-fluid govuk-!-margin-top-6">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      User search
    </h1>
  </legend>

  <hr>

  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
      <label class="govuk-label" for="address-line-1">
        Search for a user by name
      </label>
      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
    </div>
  </fieldset>

  <div>
    <a href="#">Advanced search</a>
  </div>

  <hr>

  <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Search
  </button>
</div>
