<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': dateControl.errors && dateGroup.touched }">
  <fieldset class="govuk-fieldset" [attr.aria-describedby]="dateControl.errors && dateGroup.touched ? id() + '-error' : null">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-bold">
      <ng-container *ngIf="questionField.question_text">{{ questionField.question_text | rpxTranslate }}</ng-container>
    </legend>
    <span class="govuk-error-message" *ngIf="dateControl.errors && dateGroup.touched" [id]="id() + '-error'">
      <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span>
      {{ dateControl.errors | nocError | rpxTranslate }}
    </span>

    <div class="govuk-date-input" [id]="id()" [formGroup]="dateGroup">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="dayId()">{{ 'Day' | rpxTranslate }}</label>
          <input
            #dayInput
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            [id]="dayId()"
            type="text"
            inputmode="numeric"
            oninput="this.value = this.value.slice(0, this.maxLength)"
            maxlength="2"
            formControlName="day"
          />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="monthId()">{{ 'Month' | rpxTranslate }}</label>
          <input
            #monthInput
            class="govuk-input govuk-date-input__input govuk-input--width-2"
            [id]="monthId()"
            type="text"
            inputmode="numeric"
            oninput="this.value = this.value.slice(0, this.maxLength)"
            maxlength="2"
            formControlName="month"
          />
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" [for]="yearId()">{{ 'Year' | rpxTranslate }}</label>
          <input
            #yearInput
            class="govuk-input govuk-date-input__input govuk-input--width-4"
            [id]="yearId()"
            type="text"
            inputmode="numeric"
            oninput="this.value = this.value.slice(0, this.maxLength)"
            maxlength="4"
            formControlName="year"
          />
        </div>
      </div>
    </div>
  </fieldset>
</div>
