<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': !dateControl.valid }">
  <label class="govuk-label" [for]="id()">
    <span class="govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{
      questionField.question_text | rpxTranslate
    }}</span>
    <span class="govuk-error-message" *ngIf="dateControl.errors && dateGroup.touched">{{
      dateControl.errors | nocError | rpxTranslate
    }}</span>
  </label>

  <div class="govuk-date-input" [formGroup]="dateGroup">
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="dayId()">{{ 'Day' | rpxTranslate }}</label>
      <input
        #dayInput
        class="govuk-input govuk-input--width-10"
        [id]="dayId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="2"
        formControlName="day"
      />
    </div>
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="monthId()">{{ 'Month' | rpxTranslate }}</label>
      <input
        #monthInput
        class="govuk-input govuk-input--width-10"
        [id]="monthId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="2"
        formControlName="month"
      />
    </div>
    <div class="govuk-date-input__item">
      <label class="govuk-label govuk-date-input__label" [for]="yearId()">{{ 'Year' | rpxTranslate }}</label>
      <input
        #yearInput
        class="govuk-input govuk-input--width-10"
        [id]="yearId()"
        type="number"
        oninput="this.value = this.value.slice(0, this.maxLength)"
        maxlength="4"
        formControlName="year"
      />
    </div>
  </div>
</div>
