<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div *ngIf="!findLocationFormGroup.valid && findLocationFormGroup.dirty"
         class="govuk-error-summary"
         aria-labelledby="error-summary-title"
         role="alert"
         tabindex="-1"
         data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        {{ 'There is a problem' | rpxTranslate }}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <span *ngIf="!findLocationFormGroup.controls.locationSelectedFormControl.valid &&
                             findLocationFormGroup.controls.locationSelectedFormControl.errors.required &&
                             findLocationFormGroup.controls.locationSelectedFormControl.dirty"
                  class="govuk-error-message">
              <a href="javascript:void(0)"
                 [routerLink]="['/', 'hearings', 'request', 'hearing-venue']"
                 [fragment]="'inputLocationSearch'">{{ 'Enter a valid location' | rpxTranslate }}</a>
            </span>
            <span *ngIf="!findLocationFormGroup.controls.locationSelectedFormControl.valid &&
                             findLocationFormGroup.controls.locationSelectedFormControl.errors.addLocation &&
                             findLocationFormGroup.controls.locationSelectedFormControl.dirty"
                  class="govuk-error-message">
              <a href="javascript:void(0)"
                 [routerLink]="['/', 'hearings', 'request', 'hearing-venue']"
                 [fragment]="'inputLocationSearch'">{{ findLocationFormGroup.controls.locationSelectedFormControl.errors.addLocation | rpxTranslate }}</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">
      {{ 'What are the hearing venue details?' | rpxTranslate }}
    </h1>
    <div id="location-hint" class="govuk-hint govuk-!-margin-bottom-7">
      {{ 'If this is a fully remote hearing you must still select the court or tribunal which will be managing the case.' | rpxTranslate }}
    </div>
    <div>
      <form [formGroup]="findLocationFormGroup" class="form" action="hearing-judge">
        <div class="govuk-form-group">
          <div class="govuk-form-group"
               [ngClass]="{
                      'govuk-form-group--error': !findLocationFormGroup.controls.locationSelectedFormControl.valid &&
                      findLocationFormGroup.controls.locationSelectedFormControl.errors.required &&
                      findLocationFormGroup.controls.locationSelectedFormControl.dirty
                    }">
            <div class="location-picker-custom">
              <div class="search-location">
                <label id="input-selected-location-label" class="govuk-body">
                  {{ 'Search for a location by name' | rpxTranslate }}
                </label>
                <br>
                <span *ngIf="!findLocationFormGroup.controls.locationSelectedFormControl.valid &&
                                   findLocationFormGroup.controls.locationSelectedFormControl.errors.required &&
                                   findLocationFormGroup.controls.locationSelectedFormControl.dirty"
                      id="event-name-error"
                      class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span> {{ 'Enter a valid location' | rpxTranslate }}
                    </span>
                <span *ngIf="!findLocationFormGroup.controls.locationSelectedFormControl.valid &&
                                   findLocationFormGroup.controls.locationSelectedFormControl.errors.addLocation &&
                                   findLocationFormGroup.controls.locationSelectedFormControl.dirty"
                      id="add-name-error"
                      class="govuk-error-message">
                      <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span> {{ findLocationFormGroup.controls.locationSelectedFormControl.errors.addLocation | rpxTranslate }}
                    </span>
                <xuilib-search-venue id="inputLocationSearch"
                                      class="search-location"
                                      [selectedLocations]="selectedLocations"
                                      [control]="findLocationFormGroup.controls.locationSelectedFormControl"
                                      [serviceIds]="serviceIds"
                                      [locationType]="'hearing'"></xuilib-search-venue>
                <a href="javascript:void(0)" (click)="addSelection()" class="govuk-button govuk-button--secondary"
                   data-module="govuk-button">
                  {{ 'Add location' | rpxTranslate }}
                </a>
              </div>
              <ul *ngIf="selectedLocations.length" class="hmcts-filter-tags selection-container">
                <li class="location-selection" *ngFor="let selection of selectedLocations">
                  <a class="hmcts-filter__tag" (click)="removeSelection(selection)" href="javascript:void(0)">
                    {{ selection.court_name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="govuk-inset-text">
      {{ 'You can check the venue has the required facilities or reasonable adjustments using' | rpxTranslate }}<br/>
      <a href="https://www.find-court-tribunal.service.gov.uk/search-by-name" target="_blank">
        {{ 'Court Finder (opens in new tab)' | rpxTranslate }}
      </a>
    </div>
  </div>
</div>
