<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': numberControl.errors && numberControl.touched }">
  <label class="govuk-label govuk-!-font-weight-bold" [for]="id()">
    <ng-container *ngIf="questionField.question_text">{{ questionField.question_text | rpxTranslate }}</ng-container>
  </label>
  <span class="govuk-error-message" *ngIf="numberControl.errors && numberControl.touched" [id]="id() + '-error'">
    <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span>
    {{ numberControl.errors | nocError | rpxTranslate }}
  </span>
  <input
    class="govuk-input govuk-input--width-10"
    [class.govuk-input--error]="numberControl.errors && numberControl.touched"
    [id]="id()"
    type="number"
    [formControl]="numberControl"
    [attr.aria-describedby]="numberControl.errors && numberControl.touched ? id() + '-error' : null"
  />
</div>
