<div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': !textControl.valid }">
  <label class="govuk-label" [for]="id()">
    <span class="govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{
      questionField.question_text | rpxTranslate
    }}</span>
    <span class="govuk-error-message" *ngIf="textControl.errors && textControl.touched">{{
      textControl.errors | nocError | rpxTranslate
    }}</span>
  </label>

  <input class="govuk-input govuk-!-width-one-half" [id]="id()" type="text" [formControl]="textControl" />
</div>
