<exui-app-header></exui-app-header>
<div class="govuk-width-container">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">{{'Your session has expired' | rpxTranslate}}</h2>
        <p>{{'You may have accessed this page through an expired login link. Please do not bookmark the MyHMCTS login page.' | rpxTranslate}}</p>
        <p>Please <a href="/">click here</a> {{'to login again.' | rpxTranslate }}</p>
    </div>
    </div>
</main>
</div>
<exui-app-footer></exui-app-footer>