<div class="govuk-width-container">
  <div class="page">
    <main id="content" role="main">
      <div class="govuk-form-group">
        <div class="location-picker-custom">
          <div *ngIf="serviceId" class="search-location">
            <exui-search-location class="search-location" [serviceId]="serviceId" [locationType]="'hearing'"></exui-search-location>
          </div>
        </div>
        <a href="javascript:void(0)" (click)="addSelection()" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add location
        </a>
      </div>
      <ul  *ngIf="(selectedLocations$ | async)?.length" class="hmcts-filter-tags selection-container">
          <li class="location-selection"  *ngFor="let selection of selectedLocations$ | async">
              <a class="hmcts-filter__tag" (click)="removeSelection(selection)" href="javascript:void(0)">           
                  {{ selection.court_name }}
              </a>
          </li>
      </ul>   
    </main>
  </div>
</div>
