<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-body">
    <strong>{{task.task_title}}</strong>
    <span class="hmcts-badge_right"></span>
</p>
<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="row-padding">Task created</span>
        </dt>
        <dd class="govuk-summary-list__value">2 September 2021</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="row-padding">Assigned to</span>
        </dt>
        <dd class="govuk-summary-list__value">{{getAssigneeName(task)}}</dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="row-padding">Manage</span>
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="" class="right">Assign to me</a>
            <a href="" class="right">Reassign task</a>
            <a href="" class="right">Unassign task</a>
        </dd>
    </div>
    <div *ngIf="isTaskAssignedToCurrentUser(task)" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="row-padding">Next steps</span>
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="#">{{task.task_title}}</a>
        </dd>
    </div>
</dl>