<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<p class="govuk-body">
    <strong>Review application decision</strong> 
    <span class="hmcts-badge_right">
        <strong class="govuk-tag govuk-tag--grey">dd/mm/yyyy</strong>
    </span>
</p>
<dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span style="padding-left:25px">Assigned to</span>
        </dt>
        <dd class="govuk-summary-list__value">
            Judge Beech
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span style="padding-left:25px">Manage</span>
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="" class="right">Reassign task</a> <a href="" class="right">Unassign task</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span style="padding-left:25px">Next steps</span>
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="#">Review application decision</a>
        </dd>
    </div>
</dl>