<a class="govuk-back-link" href="javascript:history.back()">Back</a>
<!-- <xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner> -->
<h1 class="govuk-heading-l">Edit hearing</h1>
<exui-hearing-requirements-section></exui-hearing-requirements-section>
<exui-additional-facilities-section [hearingRequestMainModel]="hearingRequestMainModel"></exui-additional-facilities-section>
<exui-hearing-stage-section></exui-hearing-stage-section>
<exui-participant-attendance-section></exui-participant-attendance-section>
<exui-hearing-venue-section></exui-hearing-venue-section>
<exui-language-requirements-section></exui-language-requirements-section>
<exui-judge-details-section></exui-judge-details-section>
<exui-panel-details-section></exui-panel-details-section>
<exui-hearing-timing-section></exui-hearing-timing-section>
<exui-linked-hearing-section></exui-linked-hearing-section>
<exui-additional-instructions-section></exui-additional-instructions-section>
