<a class="govuk-back-link" href="javascript:history.back()">Back</a>
<xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner>
<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'">
</xuilib-hmcts-error-summary>
<h1 class="govuk-heading-l">Edit hearing</h1>
<h2 class="govuk-heading-m">Hearing requirements</h2>
<h2 class="govuk-heading-m">Additional facilities</h2>
<h2 class="govuk-heading-m">Stage</h2>
<h2 class="govuk-heading-m">Participant attendance</h2>
<h2 class="govuk-heading-m">Hearing venue</h2>
<h2 class="govuk-heading-m">Language requirements</h2>
<h2 class="govuk-heading-m">Judge details</h2>
<h2 class="govuk-heading-m">Panel details</h2>
<h2 class="govuk-heading-m">Length, date and priority level of hearing</h2>
<h2 class="govuk-heading-m">Linked hearings</h2>
<h2 class="govuk-heading-m">Additional instructions</h2>
