<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'">
</xuilib-hmcts-error-summary>
<exui-warning-and-error-section
  [pageVisitChangeExists]="pageVisitChangeExists"
  [isPagelessAttributeChanged]="isPagelessAttributeChanged"
></exui-warning-and-error-section>
<h1 class="govuk-heading-l">Edit hearing</h1>
<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row" *ngIf="!isHearingListed">
    <div class="govuk-summary-list__key">
      Case number
    </div>
    <div class="govuk-summary-list__value">
      {{ caseReference }}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Status
    </div>
    <div class="govuk-summary-list__value">
      {{ status }}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Date request submitted
    </div>
    <div class="govuk-summary-list__value">
      {{ requestSubmittedDate }}
    </div>
  </div>
  <div class="govuk-summary-list__row" *ngIf="isHearingListed">
    <div class="govuk-summary-list__key">
      Date response received
    </div>
    <div class="govuk-summary-list__value">
      {{ responseReceivedDate }}
    </div>
  </div>
</div>
<exui-case-details-section
  [hearingRequestMainModel]="hearingRequestMainModel"
  [caseTypeRefData]="caseTypeRefData"
></exui-case-details-section>
<!-- Listing information summary -->
<div *ngIf="isHearingListed">
  <h2 class="govuk-heading-m">{{ hearingTemplate.LISTING_INFORMATION}}</h2>
  <exui-listing-information-summary></exui-listing-information-summary>
</div>
<!-- Hearing requirements -->
<exui-hearing-requirements-section
  [serviceHearingValuesModel]="serviceHearingValuesModel"
  [hearingRequestMainModel]="hearingRequestMainModel"
  [hearingRequestToCompareMainModel]="hearingRequestToCompareMainModel"
  [caseFlagsRefData]="caseFlagsRefData"
  (changeEditHearing)="onChange($event)"
></exui-hearing-requirements-section>
<!-- Additional facilities -->
<exui-additional-facilities-section
  [hearingRequestMainModel]="hearingRequestMainModel"
  [additionalFacilitiesRefData]="additionalFacilitiesRefData"
  (changeEditHearing)="onChange($event)"
></exui-additional-facilities-section>
<!-- Hearing stage -->
<exui-hearing-stage-section
  [hearingRequestMainModel]="hearingRequestMainModel"
  [hearingRequestToCompareMainModel]="hearingRequestToCompareMainModel"
  [hearingStageOptionsRefData]="hearingStageOptionsRefData"
  (changeEditHearing)="onChange($event)"
></exui-hearing-stage-section>
<!-- Participant attendance -->
<exui-participant-attendance-section
  [hearingRequestMainModel]="hearingRequestMainModel"
  [hearingRequestToCompareMainModel]="hearingRequestToCompareMainModel"
  [serviceHearingValuesModel]="serviceHearingValuesModel"
  [partyChannelsRefData]="partyChannelsRefData"
  [partySubChannelsRefData]="partySubChannelsRefData"
  (changeEditHearing)="onChange($event)"
></exui-participant-attendance-section>
<!-- Hearing venue -->
<exui-hearing-venue-section
  [hearingLocations]="hearingRequestMainModel.hearingDetails.hearingLocations"
  (changeEditHearing)="onChange($event)"
></exui-hearing-venue-section>
<!-- Language requirements -->
<exui-language-requirements-section *ngIf="showLanguageRequirementsSection$ | async"
  [hearingInWelshFlag]="hearingRequestMainModel.hearingDetails.hearingInWelshFlag"
  (changeEditHearing)="onChange($event)"
></exui-language-requirements-section>
<!-- Judge details -->
<exui-judge-details-section
  [panelRequirements]="hearingRequestMainModel.hearingDetails.panelRequirements"
  [judgeTypesRefData]="judgeTypesRefData"
  [judicialUsers]="judicialUsers"
  (changeEditHearing)="onChange($event)"
></exui-judge-details-section>
<!-- Panel member details -->
<exui-panel-details-section *ngIf="showPanelDetailsSection"
  [panelRequirements]="hearingRequestMainModel.hearingDetails.panelRequirements"
  [panelRolesRefData]="panelRolesRefData"
  (changeEditHearing)="onChange($event)"
></exui-panel-details-section>
<!-- Hearing length, date and priority -->
<exui-hearing-timing-section
  [hearingDetails]="hearingRequestMainModel.hearingDetails"
  [hearingPrioritiesRefData]="hearingPrioritiesRefData"
  (changeEditHearing)="onChange($event)"
></exui-hearing-timing-section>
<!-- Linked hearing -->
<exui-linked-hearing-section
  [hearingIsLinkedFlag]="hearingRequestMainModel.hearingDetails.hearingIsLinkedFlag"
  (changeEditHearing)="onChange($event)"
></exui-linked-hearing-section>
<!-- Additional instructions -->
<exui-additional-instructions-section
  [listingComments]="hearingRequestMainModel.hearingDetails.listingComments"
  (changeEditHearing)="onChange($event)"
></exui-additional-instructions-section>
<exui-warning-and-error-section
  [pageVisitChangeExists]="pageVisitChangeExists"
  [isPagelessAttributeChanged]="isPagelessAttributeChanged"
></exui-warning-and-error-section>
