<h2 class="govuk-heading-m">Exclusions</h2>

<table class="govuk-table" *ngIf="exclusions.length > 0">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" >Type</th>
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19" >Name</th>
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19 " >User type</th>
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19 " >Notes</th>
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19 " >Added</th>
            <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19 " ></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <ng-container *ngFor="let exclusion of exclusions">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{exclusion.type}}</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{exclusion.name}}</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{exclusion.userType}}e</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{exclusion.notes}}</td>
                <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{exclusion.added | date: 'dd/MM/yyyy'}}</td>
                <td><p> <a (click)="deleteExclusion(exclusion)" [routerLink]='deleteLink' class="govuk-link">Delete</a></p></td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-container *ngIf="exclusions.length === 0">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
                There are no exclusions for this case.
            </dd>
        </div>
    </dl>
</ng-container>