<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{title}}
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <!-- Note: took out link here as was specific to name field - may want to add a variable link in later -->
          <a>{{errorDesc}}</a>
        </li>
      </ul>
    </div>
</div>
  