<table class="task-field-testing">
  <tr>
    <th colspan="3">TaskFieldComponent testing</th>
  </tr>
  <tr>
    <td>{{caseNameConfig.columnLabel}}</td>
    <td><input type="text" [(ngModel)]="task.caseName"/></td>
    <td><exui-task-field [config]="caseNameConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{dueDateConfig.columnLabel}}</td>
    <td><input type="text" [value]="task.dueDateText" (blur)="setDate($event.target.value, dueDateConfig)"/></td>
    <td><exui-task-field [config]="dueDateConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{dateConfig.columnLabel}}</td>
    <td><input type="text" [value]="task.dueDateText" (blur)="setDate($event.target.value, dueDateConfig)"/></td>
    <td><exui-task-field [config]="dateConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{tomorrowConfig.columnLabel}}</td>
    <td><input type="text" [value]="task.tomorrowText" (blur)="setDateTime($event.target.value, tomorrowConfig)"/></td>
    <td><exui-task-field [config]="tomorrowConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{happyConfig.columnLabel}}</td>
    <td>
      <select [(ngModel)]="task.happy">
        <option [ngValue]="">I don't know</option>
        <option [ngValue]="false">False</option>
        <option [ngValue]="true">True</option>
      </select>
    </td>
    <td><exui-task-field [config]="happyConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{piAsIntConfig.columnLabel}}</td>
    <td><input type="text" [(ngModel)]="task.pi"/></td>
    <td><exui-task-field [config]="piAsIntConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{piTo2DPConfig.columnLabel}}</td>
    <td><input type="text" [(ngModel)]="task.pi"/></td>
    <td><exui-task-field [config]="piTo2DPConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>{{googleConfig.columnLabel}}</td>
    <td><input type="text" [(ngModel)]="task.google"/></td>
    <td><exui-task-field [config]="googleConfig" [task]="task"></exui-task-field></td>
  </tr>
  <tr>
    <td>
      {{imageConfig.columnLabel}}
      <select [(ngModel)]="imageRow.height">
        <option value="30">Height 30 (default)</option>
        <option value="50">Height 50</option>
        <option value="75">Height 75</option>
      </select>
    </td>
    <td><input type="text" [(ngModel)]="task.image"/></td>
    <td><exui-task-field [className]="'image-field_' + imageRow.height" [config]="imageConfig" [task]="task"></exui-task-field></td>
  </tr>
</table>