<main class="govuk-main-wrapper" id="content" role="main">
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{verb}} task</span>
    Check your answers
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div id="reassign-confirm-hint" class="govuk-hint">
        {{assignHintText}}
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header">Case name</th>
          <th class="govuk-table__header">Case category</th>
          <th class="govuk-table__header">Location</th>
          <th class="govuk-table__header">Task</th>
          <th class="govuk-table__header">{{getDueDateTitle()}}</th>
          <th *ngIf="!isUserJudicial" class="govuk-table__header">Priority</th>
          <th class="govuk-table__header">Person</th>
          <th class="govuk-table__header"></th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ task.case_name }}</td>
          <td class="govuk-table__cell">{{ task.case_category }}</td>
          <td class="govuk-table__cell">{{ task.location_name }}</td>
          <td class="govuk-table__cell">{{ task.task_title }}</td>
          <td class="govuk-table__cell">
              {{ task.dueDate | date: 'd MMMM yyyy' }}
          </td>
          <td *ngIf="!isUserJudicial" class="govuk-table__cell">
            <exui-priority-field [priorityDate]="toDate(task.priority_date)" [majorPriority]="task.major_priority"
                                 [dueDate]="toDate(task.dueDate)" [jurisdiction]="task.jurisdiction"
            ></exui-priority-field>
          </td>
          <td class="govuk-table__cell">{{ selectedPerson.name }}</td>
          <td class="govuk-table__cell"><a class="govuk-link fright" href="javascript:void(0)"
                                           id="change__link" aria-label="Change task assigment"
                                           (click)="onChange()">Change</a>
          </td>
        </tr>
        </tbody>
      </table>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="onSubmit()">{{verb}}</button>
      <p><a href="javascript:void(0)" (click)="onCancel()">Cancel</a></p>
    </div>
  </div>
</main>
