// TODO - needs to be clarified wehre the css is coming form

/*
Buttons
*/

$module: 'button';

.#{$module} {
  &-secondary {
    background-color: #f3f2f1;
    color: #0b0c0c;
  }

  &-tertiary {
    background-color: #b1b4b6;
    color: #0b0c0c;
  }
}
