// TODO - needs to be clarified wehre the css is coming form
/*
Forms
*/

$module: "form";

.#{$module} {

  border: 1px solid red;

  &-money {

    .#{$module}-currency {
      font-weight: 600;
      margin-right: em(10);
    }

  }

}
