$hmcts-images-path: '/assets/images/' !default;
$hmcts-page-width: 1920px !default;

.hmcts-width-container {
  max-width: $hmcts-page-width;
  margin: 0 auto;
}

.hmcts-page-heading {
  margin: 0 0 govuk-spacing(6);
}

.hmcts-page-heading__title {
  margin: 0;
  @include govuk-font($size: 36, $weight: bold);
}

.hmcts-access {
  @include govuk-font($size: 16);
}

.exui-filter-layout {
  @include govuk-clearfix;
}

.exui-filter-layout__filter {
  box-shadow: inset 0 0 0 1px govuk-colour('light-grey');

  @media (min-width: 48.0625em) {
    float: left;
    margin-right: govuk-spacing(7);
    max-width: 385px;
    min-width: 260px;
    width: 100%;
  }
}

.exui-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
}

.exui-action-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: govuk-spacing(4);
}

.exui-action-bar__filter {
  margin-right: govuk-spacing(3);
}

.hmcts-filter-tags {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hmcts-pagination__results {
  @include govuk-font($size: 19);
  padding: govuk-spacing(1);

  @media (min-width: 48.0625em) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.hmcts-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 48.0625em) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.hmcts-pagination__item {
  @include govuk-font($size: 19);
  display: inline-block;
}

.hmcts-pagination__item--active,
.hmcts-pagination__item--dots {
  font-weight: bold;
  height: 25px;
  padding: govuk-spacing(1) govuk-spacing(2);
  text-align: center;
}

.hmcts-pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.hmcts-pagination__item--prev .hmcts-pagination__link,
.hmcts-pagination__item--next .hmcts-pagination__link {
  &:before,
  &:after {
    background-image: url(#{$hmcts-images-path}icon-pagination.svg);
    background-repeat: no-repeat;
    background-size: 22px 36px;
    background-position: 0 0;
    display: inline-block;
    height: 18px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 11px;
  }
}

.hmcts-pagination__item--prev .hmcts-pagination__link:before {
  background-position: 0 0;
  content: '';
  margin-right: govuk-spacing(2);
}

.hmcts-pagination__item--next .hmcts-pagination__link:after {
  background-position: -11px -18px;
  content: '';
  margin-left: govuk-spacing(2);
}

.hmcts-pagination__link {
  display: block;
  min-width: 25px;
  padding: govuk-spacing(1);
  text-align: center;
  text-decoration: none;

  &:link,
  &:visited {
    color: govuk-colour('blue');
  }

  &:hover {
    color: govuk-colour('light-blue');
  }

  &:focus {
    color: govuk-colour('black');
  }
}

.hmcts-pagination {
  @media (min-width: 48.0625em) {
    margin-left: - govuk-spacing(1);
    margin-right: - govuk-spacing(1);
    font-size: 0;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }
}

.hmcts-global-header,
.hmcts-global-footer {
  display: block;
}

.hmcts-error-summary {
  @extend .govuk-error-summary;
}

@media (max-width: 48.0525em) {
  .js-enabled .exui-filter-layout__filter {
    background-color: govuk-colour('white');
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 100;
  }
}
