$outlineColor: #bfc1c3;

.mat-tab-header {
    border-bottom: 0;
}

.mat-tab-body-wrapper {
    border-top: 1px solid $outlineColor;
    margin-top: -1px;
}

.mat-tab-label, .mat-tab-link {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

.mat-tab-label {
    min-width: 80px !important;
    height: 42px !important;
    margin: 0 4px 7px 4px;
    border-top: 3px solid #fff;
    background-color: #f3f2f1;
    color: #000;
    opacity: 1 !important;
    text-decoration: underline;

    .mat-tab-label-content {
        border-bottom: 4px solid transparent;
    }

    &.cdk-focused {
        text-decoration: none;
    
        .mat-tab-label-content {
            background-color: #ffdd00;
            border-bottom: 4px solid #000;
        }
    }

    &.mat-tab-label-active {    
        height: 48px !important;   
        border-top: 1px solid $outlineColor;  
        border-bottom: 0; 
        border-left: 1px solid $outlineColor;   
        border-right: 1px solid $outlineColor;   
        background: #fff;
        margin: 1px 4px 0 4px;
        text-decoration: none;

        &.cdk-focused {
            text-decoration: none;
        
            .mat-tab-label-content {
                background-color: #ffdd00;
                border-bottom: 4px solid #000;
            }
        }

        .mat-tab-label-content {
            opacity: 1;
        }
    }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    height: 0px;
} 
