.toolbar {
  #toolbarContainer {
    #toolbarViewer{
      background-color: whitesmoke;
      border-left: 1px solid #dee0e2;
      border-right: 1px solid #dee0e2;
      box-shadow: 0px 0px 3px 2px #BEBEBE;
    }

    #loadingBar {
      display:none;
    }
  
    .toolbarButton {
      // border-left: 1px solid #dee0e2;
      border-right: 1px solid #dee0e2;
      color: #0b0c0c;
      padding-top: 5px;
      padding-bottom: 15px;
      min-width: 100px;
    }

    .toolbarButtonSpacer {
      display:none;
    }

    #viewOutline::before {
      display:none;
    }
  
    #viewOutline::after{
      background-image: url(/assets/media-viewer/icon-casefile-items.svg);
      background-repeat: no-repeat;
      background-size: 18px 14px;
      background-position: 15px 50%;
      padding-left: 45px;
      content: "Index";
    }
  }
  
}