.all-work-filter {
  background-color: #f3f2f1;
  box-shadow: inset 0 0 0 1px #dee0e2;
  padding: 20px;
}

.govuk-select, .govuk-input{
  width: 100% !important;
}


.hmcts-filter-layout__filter {
  float: none;
  margin-right: 0;
  min-width: inherit;
  max-width: inherit;
  width: 100%;
}
