<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case internal name
    </div>
    <div class="govuk-summary-list__value">
      {{hearingRequestMainModel.caseDetails.hmctsInternalCaseName}}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case public name
    </div>
    <div class="govuk-summary-list__value">
      {{hearingRequestMainModel.caseDetails.publicCaseName}}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case Type
    </div>
    <div class="govuk-summary-list__value">
      <div *ngFor="let caseCategory of caseTypes">
        {{caseCategory.categoryDisplayValue}}
        <ul>
          <li *ngFor="let childNode of caseCategory.childNodes">
            - {{childNode.categoryDisplayValue}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Private hearing required
    </div>
    <div class="govuk-summary-list__value">
      {{hearingRequestMainModel.hearingDetails.privateHearingRequiredFlag ? 'Yes' : 'No'}}
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Case restriction
    </div>
    <div class="govuk-summary-list__value">
      {{hearingRequestMainModel.caseDetails?.caserestrictedFlag ? 'Yes' : 'No'}}
    </div>
  </div>
</div>
