<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
    <div class="govuk-inset-text">
      {{ hint }}
    </div>
    <form [formGroup]="attendanceFormGroup" class="form" action="hearing-judge">
      <div  class="govuk-form-group"
            [ngClass]="{'govuk-form-group--error' : !selectionValid}">
         <span *ngIf=" !selectionValid" 
              id="estimation-name-error" 
              class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select how each party will attend the hearing
          </span>
        <div *ngFor="let partyControl of partiesFormArray.controls; let i=index" class="party-row">
          <label class="govuk-label">
              <strong>{{ partyControl.value.partyName }}</strong>
          </label>
          <select class="govuk-select" id="{{'partyChannel' + i}}" name="party1Channel" 
            [formControl]="formGroupControl(partyControl, 'partyChannel')">
            <option value="" selected>Please select</option>
            <option *ngFor="let party of partyChannels | async" [ngValue]="party.key">{{party.value_en}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="govuk-form-group govuk-!-margin-top-2"
        [ngClass]="{'govuk-form-group--error' : !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty}">
          <p class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="attendance-number">
              How many people will attend the hearing in person?
            </label>
          </p>
          <div id="attendance-number-hint" class="govuk-hint">
              Estimate how many people will attend in person, excluding judicial members. This number will determine the room size.
          </div>
          <span *ngIf=" !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty" 
              id="estimation-name-error" 
              class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a valid number off attendees
          </span>
          <input [formControl]="attendanceFormGroup.controls.estimation" style="width: 80px;" class="govuk-input" id="attendance-number" name="attendance-number" value="" type="text" aria-describedby="attendance-number-hint">
      </div>
  </form>
  </div>
</div>