<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>
    <exui-hearing-amend-warning-msg
    [warningMsg]="'Review the information on this page, it has been updated.'">
    </exui-hearing-amend-warning-msg>
    <div class="govuk-inset-text">
      {{ hint }}
    </div>
    <form [formGroup]="attendanceFormGroup" class="form" *ngIf="hearingRequestMainModel">
      <div  class="govuk-form-group"
            [ngClass]="{'govuk-form-group--error' : !selectionValid}" formGroupName="parties">
         <span *ngIf=" !selectionValid"
            id="party-selection-error"
            class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select how each party will attend the hearing
          </span>
        <div *ngFor="let partyControl of partiesFormArray.controls; let i=index" class="party-row" [formGroupName]="i">
          <label class="govuk-label" [for]="'partyChannel'+i">
              <strong>{{ partyControl.value.partyName }}</strong>
          </label>
          <ng-container formGroupName="individualDetails">
            <select class="govuk-select" [id]="'partyChannel'+i" [name]="'partyChannel'+i" formControlName="preferredHearingChannel">
              <option value="" selected>Please select</option>
              <option *ngFor="let party of partyChannels$ | async" [ngValue]="party.key">{{party.value_en}}</option>
            </select>
          </ng-container>
        </div>
      </div>
      <br>
      <div class="govuk-form-group govuk-!-margin-top-2"
        [ngClass]="{'govuk-form-group--error' : !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty}">
          <p class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="attendance-number">
              How many people will attend the hearing in person?
            </label>
          </p>
          <div id="attendance-number-hint" class="govuk-hint">
              Estimate how many people will attend in person, excluding judicial members. This number will determine the room size.
          </div>
          <span *ngIf=" !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty"
              id="attendee-number-error"
              class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a valid number of attendees
          </span>
          <input formControlName="estimation" class="govuk-input" id="attendance-number" name="attendance-number" aria-describedby="attendance-number-hint">
      </div>
  </form>
  </div>
</div>
