<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem' | rpxTranslate"></xuilib-hmcts-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">
      {{ title  | rpxTranslate }}
    </h1>
    <exui-hearing-amend-warning-msg
    [warningMsg]="'Review the information on this page, it has been updated.'">
    </exui-hearing-amend-warning-msg>
    <div class="govuk-inset-text">
      {{ hint | rpxTranslate }}
    </div>
    <form [formGroup]="attendanceFormGroup" class="form" *ngIf="hearingRequestMainModel">
      <div class="govuk-form-group govuk-!-margin-top-4">
        <fieldset class="govuk-fieldset"  id="addition-security-confirmation">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">
                    {{ 'Will this be a paper hearing?' | rpxTranslate }}
                </h3>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input formControlName="paperHearing" class="govuk-radios__input" id="paperHearingYes" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="paperHearingYes">
                        {{ 'Will this be a paper hearing?' | rpxTranslate : null : 'Yes' }}
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input formControlName="paperHearing" class="govuk-radios__input" id="paperHearingNo" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="paperHearingNo">
                        {{ 'Will this be a paper hearing?' | rpxTranslate : null : 'No' }}
                    </label>
                </div>
            </div>
        </fieldset>
      </div>
      <ng-container *ngIf="attendanceFormGroup.controls.paperHearing.value === 'No'">
        <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error' : !isAttendanceSelected}">
          <span *ngIf="!isAttendanceSelected" id="attendance-selection-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span>{{ 'Select a way of participant attendance' | rpxTranslate }}
          </span>
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                {{ 'What will be the methods of attendance for this hearing?' | rpxTranslate }}
              </h3>
            </legend>
            <div class="govuk-form-group govuk-!-margin-bottom-3" id="hearingLevelChannelList">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div id="checkbox-addition-facility" class="govuk-checkboxes checkbox-row" formArrayName="hearingLevelChannels" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item" *ngFor="let attendance of hearingLevelChannels;index as pos" [formGroupName]="pos">
                      <input class="govuk-checkboxes__input" id="{{attendance.key}}" name="pos" type="checkbox" formControlName="selected" [value]="attendance.value_en">
                      <label class="govuk-label govuk-checkboxes__label" for="{{attendance.key}}" >{{attendance.value_en}}</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </fieldset>
        </div>
        <fieldset class="govuk-fieldset">
          <div  class="govuk-form-group" [ngClass]="{'govuk-form-group--error' : !selectionValid}" formGroupName="parties">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading">
                {{ 'How will each participant attend the hearing?' | rpxTranslate }}
              </h3>
            </legend>
            <span *ngIf=" !selectionValid"
                id="party-selection-error"
                class="govuk-error-message">
                <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span> {{ 'Select how each party will attend the hearing' | rpxTranslate }}
              </span>
            <div *ngFor="let partyControl of partiesFormArray.controls; let i=index" class="party-row" [formGroupName]="i">
              <label class="govuk-label govuk-!-font-weight-bold" [for]="'partyChannel'+i">
                  {{ partyControl.value.partyName }}
                  <exui-amendment-label *ngIf="!partyDetailsChangesConfirmed && partyDetailsChangesRequired && partyControl.value.partyAmendmentStatus !== 'NONE'"
                    [displayLabel]="partyControl.value.partyAmendmentStatus">
                  </exui-amendment-label>
              </label>
              <ng-container formGroupName="individualDetails">
                <select class="govuk-select" [id]="'partyChannel'+i" [name]="'partyChannel'+i" formControlName="preferredHearingChannel">
                  <option value="" selected>{{ 'Please select' | rpxTranslate }}</option>
                  <option *ngFor="let party of partyChannels" [ngValue]="party.key">{{party.value_en}}</option>
                </select>
              </ng-container>
            </div>
          </div>
          <br>
          <div class="govuk-form-group govuk-!-margin-top-2"
            [ngClass]="{'govuk-form-group--error' : !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h3 class="govuk-fieldset__heading" id="attendance-number-header">
                {{ 'How many people will attend the hearing in person?' | rpxTranslate }}
              </h3>
            </legend>
              <div id="attendance-number-hint" class="govuk-hint">
                  {{ 'Estimate how many people will attend in person, excluding judicial members. This number will determine the room size.' | rpxTranslate }}
              </div>
              <span *ngIf=" !attendanceFormGroup.controls.estimation.valid && attendanceFormGroup.controls.estimation.dirty"
                  id="attendee-number-error"
                  class="govuk-error-message">
                <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span> {{ 'Enter a valid number of attendees' | rpxTranslate }}
              </span>
              <input formControlName="estimation" class="govuk-input" id="attendance-number" aria-labelledby="attendance-number-header" aria-describedby="attendance-number-hint">
          </div>
        </fieldset>
      </ng-container>
  </form>
  </div>
</div>
