<div class="govuk-form-group" [ngClass]="{'form-group-error': !datetimeControl.valid}">

  <label class="govuk-label" [for]="id()">
    <span class="form-label govuk-!-font-weight-bold" *ngIf="questionField.question_text">{{questionField.question_text}}</span>
    <span class="error-message" *ngIf="datetimeControl.errors && datetimeControl.touched">{{datetimeControl.errors | nocError}}</span>
  </label>

  <div class="form-date" [formGroup]="datetimeGroup">
    <div class="form-group form-group-day">
      <label class="form-label" [for]="dayId()">Day</label>
      <input #dayInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="dayId()"
        type="number"
        formControlName="day">
    </div>
    <div class="form-group form-group-month">
      <label class="form-label" [for]="monthId()">Month</label>
      <input #monthInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="monthId()"
        type="number"
        formControlName="month">
    </div>
    <div class="form-group form-group-year">
      <label class="form-label" [for]="yearId()">Year</label>
      <input #yearInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="yearId()"
        type="number"
        formControlName="year">
    </div>
    <div class="form-group form-group-hour">
      <label class="form-label" [for]="hourId()">Hour</label>
      <input #hourInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="hourId()"
        type="number"
        formControlName="hour">
    </div>
    <div class="form-group form-group-minute">
      <label class="form-label" [for]="minuteId()">Minute</label>
      <input #minuteInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="minuteId()"
        type="number"
        formControlName="minute">
    </div>
    <div class="form-group form-group-second">
      <label class="form-label" [for]="secondId()">Second</label>
      <input #secondInput
        class="form-control govuk-input govuk-input--width-10"
        [id]="secondId()"
        type="number"
        formControlName="second">
    </div>
  </div>
</div>
