<div class="govuk-!-padding-4">
  <h2 class="govuk-heading-l">Roles and access</h2>
  <exui-role-access-section
    title="Judiciary"
    [roles]="judicialRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'JUDICIAL'}"
    roleCategory="JUDICIAL"
    linkText="Allocate a judicial role"
    [showAllocateRoleLink]="showAllocateRoleLink"
    showAllocate="true">
  </exui-role-access-section>

  <exui-role-access-section *ngIf="!namedLegalRoles"
    title="Legal Ops"
    [roles]="legalOpsRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'LEGAL_OPERATIONS'}"
    roleCategory="LEGAL_OPERATIONS"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate a legal ops role"
    [showAllocate]="showLegalOpsAllocate">
  </exui-role-access-section>
  <exui-role-access-section *ngIf = "namedLegalRoles"
    title="Legal Ops"
    [roles]="namedLegalRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'LEGAL_OPERATIONS'}"
    roleCategory="LEGAL_OPERATIONS"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate a legal ops role"
    [showAllocate]="showLegalOpsAllocate">
  </exui-role-access-section>

  <exui-role-access-section *ngIf="!namedAdminRoles"
    title="Admin"
    [roles]="adminRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'ADMIN'}"
    roleCategory="ADMIN"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate an admin role"
    [showAllocate]="true">
  </exui-role-access-section>
  <exui-role-access-section *ngIf="namedAdminRoles"
    title="Admin"
    [roles]="namedAdminRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'ADMIN'}"
    roleCategory="ADMIN"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate an admin role"
    [showAllocate]="true"
    [existingUsers]="existingAdminUsers">
  </exui-role-access-section>

  <exui-role-access-section *ngIf="!namedCTSCRoles"
    title="CTSC"
    [roles]="ctscRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'CTSC'}"
    roleCategory="CTSC"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate a CTSC role"
    [showAllocate]="true">
  </exui-role-access-section>
  <exui-role-access-section *ngIf="namedCTSCRoles"
    title="CTSC"
    [roles]="namedCTSCRoles"
    [caseDetails]="caseDetails"
    [roleRouterLink]="['/', 'role-access', 'allocate-role', 'allocate']"
    [roleQueryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction, 'roleCategory': 'CTSC'}"
    roleCategory="CTSC"
    [showAllocateRoleLink]="showAllocateRoleLink"
    linkText="Allocate a CTSC role"
    [showAllocate]="true"
    [existingUsers]="existingCTSCUsers">
  </exui-role-access-section>

  <h2 class="govuk-heading-m">Exclusions</h2>

  <exui-exclusions-table *ngIf="!namedExclusions" [exclusions]="exclusions" [caseDetails]="caseDetails" [isCaseAllocator]="showAllocateRoleLink"></exui-exclusions-table>
  <exui-exclusions-table *ngIf="namedExclusions" [exclusions]="namedExclusions" [caseDetails]="caseDetails" [isCaseAllocator]="showAllocateRoleLink"></exui-exclusions-table>

  <p>
    <a href="javascript:void(0)"
       [routerLink]="['/', 'role-access', 'add-exclusion']"
       [queryParams]="{'caseId': caseId, 'jurisdiction': jurisdiction}"
       (click) = "removeCashedCase()"
       class="govuk-link">Add</a>
  </p>
</div>
