<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">{{title}}</span>
  Find the person
</h1>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="">
    <div id="waste-hint" class="govuk-hint">
      Type the name of the person and select them.
    </div>
    <input type="text" aria-label="Number" matInput [formControl]="findPersonControl" [matAutocomplete]="auto" class="govuk-input govuk-!-width-one-third" (ngModelChange)="updatedVal($event)">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.email" (onSelectionChange)="onSelectionChange(option)" [ngClass]="{'hide-autocomplete': !showAutocomplete}">
        {{getDisplayName(option)}}
      </mat-option>
    </mat-autocomplete>
  </fieldset>
</div>