<main class="govuk-main-wrapper" id="content" role="main">
  <exui-info-message-container></exui-info-message-container>
  <exui-error-message *ngIf="error" [error]="error"></exui-error-message>
  <h3 class="govuk-heading-xl">My work</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <exui-task-list-filter (errorChanged)="errorChangedHandler($event)" [persistence]="persistence$ | async">
      </exui-task-list-filter>
      <nav class="govuk-service-navigation" aria-label="Sub navigation">
        <ul class="govuk-service-navigation__list">
          <li
            *ngFor="let item of subNavigationItems"
            class="govuk-service-navigation__item"
            [class.govuk-service-navigation__item--active]="item.active"
          >
            <a class="govuk-service-navigation__link" [routerLink]="item.href" [attr.aria-current]="item.active ? 'page' : null">
              {{ item.text }}
              <strong *ngIf="item.roundel" class="govuk-tag govuk-tag--blue exui-sub-navigation-roundel">{{
                item.roundel
              }}</strong>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
