<main class="govuk-main-wrapper" id="main-content" role="main">
  <!-- Ok so let's have a component, that takes in
    <!-- error, inforamtion, success or warning -->

  <!-- Warning message, this task is no longer available -->
  <!--<div class="hmcts-banner hmcts-banner&#45;&#45;warning">-->
  <!--<svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">-->
  <!--<path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z"></path></svg>-->
  <!--<div class="hmcts-banner__message">-->
  <!--<span class="hmcts-banner__assistive" style="vertical-align: middle;">Warning</span>-->
  <!--<span style="float: left; vertical-align: middle;">The task is no longer available.</span>-->
  <!--</div>-->
  <!--</div>-->

  <!-- List of available tasks has been refreshed -->
  <!--<div class="hmcts-banner">-->
  <!--<svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">-->
  <!--<path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8-->
  <!--C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z"></path></svg>-->
  <!--<div class="hmcts-banner__message">-->
  <!--<span class="hmcts-banner__assistive">information</span>-->
  <!--The list of Available tasks has been refreshed.-->
  <!--</div>-->
  <!--</div>-->

  <!-- Success message -->
  <!--<div class="hmcts-banner hmcts-banner&#45;&#45;success">-->
  <!--<svg class="hmcts-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">-->
  <!--<path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>-->
  <!--<div class="hmcts-banner__message">-->
  <!--<span class="hmcts-banner__assistive">Success</span>-->
  <!--You've assigned yourself a task. It's available in My tasks.-->
  <!--</div>-->
  <!--</div>-->
  <!-- !Success message -->

  <!-- TODO: messageType and message from constants -->
  <exui-info-message [messageType]="'info'" [message]="'Youve assigned yourself a task. Its available in My tasks.'"></exui-info-message>

  <h3 class="govuk-heading-xl">{{pageTitle}}</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>See your tasks and view tasks available for you to pick up.</p>
      <xuilib-hmcts-sub-navigation [items]="subNavigationItems" label="Sub navigation"></xuilib-hmcts-sub-navigation>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>

