<ng-container *ngIf="config && task" [ngSwitch]="config.type">
  <ng-container *ngSwitchCase="fieldType.STRING">
    {{ task[config.name] }}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.DATE_DUE">
    <xuilib-due-date [dueDate]="task[config.name]"></xuilib-due-date>
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.DATE">
    {{ task[config.name] | date:'dd/MM/yyyy'}}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.DATETIME">
    {{ task[config.name] | date:'dd/MM/yyyy HH:mm'}}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.BOOLEAN">
    {{ task[config.name] | yesNo }}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.INTEGER">
    {{ task[config.name] | number:'1.0-0' }}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.DECIMAL_2">
    {{ task[config.name] | number:'1.2-2' }}
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.URL">
    <a [href]="task[config.name]">{{task[config.name]}}</a>
  </ng-container>
  <ng-container *ngSwitchCase="fieldType.IMAGE">
    <div class="xui-task-field__image-container">
      <img [src]="task[config.name]" alt="Image" />
    </div>
  </ng-container>
</ng-container>
