<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-body-lead">{{ status }}</th>
    <th *ngIf="(hearingsList$ | async)?.length" class="govuk-table__header">Hearing date</th>
    <th *ngIf="(hearingsList$ | async)?.length" class="govuk-table__header">Status</th>
    <th *ngIf="(hearingsList$ | async)?.length" class="govuk-table__header">Actions</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr *ngIf="!(hearingsList$ | async)?.length" class="govuk-table__row">
    <td colspan="4">
      No {{ status.toLowerCase() }} hearings found
    </td>
  </tr>
  <tr class="govuk-table__row" *ngFor="let hearing of hearingsList$ | async">
    <td class="govuk-table__header govuk-!-width-one-quarter gds-font">{{ hearing.hearingType}}</td>
    <td
      class="govuk-table__cell govuk-!-width-one-quarter gds-font">
      {{ minValueFilter(hearing.mostRecentHearingStartDateTime) | date:'d MMMM yyyy'}}
    </td>
    <td class="govuk-table__cell govuk-!-width-one-quarter gds-font">
      <strong [ngClass]="hearing.exuiDisplayStatus | hearingsBadge">{{ hearing.exuiDisplayStatus }}
      </strong>
    </td>
    <td class="govuk-table__cell govuk-!-width-one-quarter">
      <div *ngIf="hasUpdateAction" class="div-action">
        <a href="javascript:void(0)"
           [routerLink]="['/', 'hearings', 'change']">View or edit hearing</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div *ngIf="hasDeleteAction" class="div-action">
        <a href="javascript:void(0)"
           [routerLink]="['/', 'hearings', 'cancel']">Cancel hearing</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div *ngIf="hasReadOnlyAction" class="div-action">
        <a href="javascript:void(0)"
           [routerLink]="['/', 'hearings', 'view']">View details</a></div>
    </td>
  </tr>
  </tbody>
</table>
