<table class="govuk-table">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td scope="row" colspan="4" class="govuk-table__header"><h2
      class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7 gds-font">{{status}}</h2></td>
  </tr>
  <tr class="govuk-table__row" *ngFor="let hearing of hearingsList$ | async">
    <td scope="row" class="govuk-table__header govuk-!-width-one-quarter gds-font">{{ hearing.hearingType}}</td>
    <td scope="row"
        class="govuk-table__cell govuk-!-width-one-quarter gds-font">
      {{ hearing.lastResponseReceivedDateTime | date:'d MMMM yyyy'}}
    </td>
    <td scope="row" class="govuk-table__cell govuk-!-width-one-quarter gds-font">
      <strong [ngClass]="hearing.hearingListingStatus | hearingsBadge">{{ hearing.hearingListingStatus }}
      </strong>
    </td>
    <td scope="row" class="govuk-table__cell govuk-!-width-one-quarter">
      <div *ngIf="hasViewChangeAction" class="div-action"><a href="javascript:void(0)">View and change</a>&nbsp;&nbsp;
      </div>
      <div *ngIf="hasCancelAction" class="div-action"><a href="javascript:void(0)">Cancel hearing</a>&nbsp;&nbsp;</div>
      <div *ngIf="hasViewOnlyAction" class="div-action"><a href="javascript:void(0)">View details</a></div>
    </td>
  </tr>
  </tbody>
</table>
