.div-action {
  display: inline-block;
}

.gds-font {
  font-family: "GDS Transport", Arial, sans-serif;
}

.govuk-table-width-15-percent {
  width: 15%;
}

.govuk-table-width-25-percent {
  width: 25%;
}

.govuk-table-width-30-percent {
  width: 30%;
}
