<table class="govuk-table" *ngIf="hearingStageOptions">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-body-lead">{{ status | rpxTranslate }}</th>
    <th *ngIf="(hearingList$ | async)?.length" class="govuk-table__header">{{ 'Hearing date' | rpxTranslate }}</th>
    <th *ngIf="(hearingList$ | async)?.length" class="govuk-table__header">{{ 'Status' | rpxTranslate }}</th>
    <th *ngIf="(hearingList$ | async)?.length" class="govuk-table__header">{{ 'Actions' | rpxTranslate }}</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <tr *ngIf="!(hearingList$ | async)?.length" class="govuk-table__row">
    <td colspan="4">
      {{ 'No ' + status.toLowerCase() + ' hearings found' | rpxTranslate }}
    </td>
  </tr>
  <tr class="govuk-table__row" *ngFor="let hearing of hearingList$ | async">
    <td class="govuk-table__header govuk-table-width-30-percent gds-font">{{ hearing.hearingType | convertToValue: hearingStageOptions }}
      <img *ngIf="hasUpdateAction && isManageLinksEnabled(hearing.hearingGroupRequestId)" src="../../../../assets/images/link_icon_slanted.png" width="20px;" class="align-middle" alt="Linked">
    </td>
    <td
      class="govuk-table__cell govuk-table-width-15-percent gds-font">
      {{ hearing.earliestHearingStartDateTime ? (hearing.earliestHearingStartDateTime | date:'d MMMM yyyy') : '' }}
      <img *ngIf="hearing.hearingDaySchedule && hearing.hearingDaySchedule.length > 1" src="../../../../assets/img/calendar-logo.svg" width="20px;" class="align-middle status-icon" alt="Linked">
    </td>
    <td class="govuk-table__cell govuk-table-width-25-percent gds-font">
      <strong [ngClass]="hearing.exuiDisplayStatus | hearingsBadge">{{ hearing.exuiDisplayStatus }}
      </strong>
    </td>
    <td class="govuk-table__cell govuk-table-width-30-percent">
      <div *ngIf="hasUpdateAction" class="div-action">
        <ng-container *ngIf="!isAwaitingActual(hearing.exuiDisplayStatus) && !isNonCancellable(hearing.exuiDisplayStatus)">
          <a *ngIf="!(isHearingAmendmentsEnabled)" id="link-view-or-edit-{{hearing.hearingID}}" href="javascript:void(0)"
             (click)="viewAndEdit(hearing.hearingID)">{{ 'View or edit' | rpxTranslate }}</a>
          <a *ngIf="isHearingAmendmentsEnabled" id="link-view-details-{{hearing.hearingID}}" href="javascript:void(0)"
             (click)="viewAndEdit(hearing.hearingID)">{{ 'View details' | rpxTranslate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </ng-container>
        <ng-container *ngIf="isAwaitingActual(hearing.exuiDisplayStatus)">
          <a id="link-add-or-edit-{{hearing.hearingID}}"
             href="javascript:void(0)"
             (click)="addAndEdit(hearing.hearingID)">{{ 'Add or edit' | rpxTranslate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </ng-container>
      </div>
      <div *ngIf="hasDeleteAction && !isNonCancellable(hearing.exuiDisplayStatus) && !isAwaitingActual(hearing.exuiDisplayStatus)" class="div-action">
        <a id="link-cancel-{{hearing.hearingID}}"
           href="javascript:void(0)"
           (click)="cancelHearing(hearing.hearingID)">{{ 'Cancel' | rpxTranslate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div *ngIf="hasUpdateAction && !isNonCancellable(hearing.exuiDisplayStatus) && hearing.hearingIsLinkedFlag && !isManageLinksEnabled(hearing.hearingGroupRequestId) && isLinkableStatus(hearing.exuiDisplayStatus)" class="div-action">
        <a id="link-hearing-link-{{hearing.hearingID}}"
           href="javascript:void(0)"
           (click)="linkHearing(hearing.hearingID)">{{ 'Link hearing' | rpxTranslate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div *ngIf="hasUpdateAction && !isNonCancellable(hearing.exuiDisplayStatus) && isManageLinksEnabled(hearing.hearingGroupRequestId) && isLinkableStatus(hearing.exuiDisplayStatus)" class="div-action">
        <a id="link-manage-links-{{hearing.hearingID}}"
           href="javascript:void(0)"
           (click)="manageLinks(hearing)">{{ 'Manage links' | rpxTranslate }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div *ngIf="hasReadOnlyAction || isNonCancellable(hearing.exuiDisplayStatus)" class="div-action">
        <a id="link-view-details-{{hearing.hearingID}}"
           href="javascript:void(0)"
           (click)="viewDetails(hearing)">{{ 'View details' | rpxTranslate }}</a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
