
<div style="width:1220px; display: flex; margin: 0 auto;">
    <p style="margin-bottom: 0px;">
        <!-- <exui-noc-navigation (back)="back($event)">
        </exui-noc-navigation> -->
    </p>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">  
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l" id="cookies">Something went wrong</h1>
                    <p class="govuk-body">Your notice of change request has not been submitted.</p>
                    <p class="govuk-body">A notice of change is already in progress for this case.</p>
                    <p class="govuk-body"><a [routerLink]="'/get-help'">Contact us</a> for more information.</p>
                </div>
            </div>
        </div>
    </main>
</div>