
<div style="width:1220px; display: flex; margin: 0 auto;">
    <p style="margin-bottom: 0px;">
    </p>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l" id="cookies">Something went wrong</h1>
                    <p class="govuk-body">Your notice of change request has not been submitted.</p>
                    <ng-container *ngIf="(lastError$ | async)?.responseCode === 101">
                        <p class="govuk-body">A notice of change is already in progress for this case.</p>
                        <p class="govuk-body"><a [routerLink]="'/get-help'">Contact us</a> for more information.</p>
                    </ng-container>
                    <ng-container *ngIf="(lastError$ | async)?.responseCode === 102">
                        <p class="govuk-body">You'll need to submit a notice of change offline. You can do this by filling in the relevant paper form.</p>
                        <p>You should send the form to the court or tribunal dealing with the case.
                            <a target="blank" href="https://www.gov.uk/find-court-tribunal">Find the right court or tribunal</a>.
                        </p>
                        <p>
                            <span class="govuk-!-font-weight-bold">Civil cases</span><br>
                            Use <a target="blank" href="https://www.gov.uk/government/publications/form-n434-notice-of-change-of-solicitor">form N434</a> (opens in new window)
                        </p>
                        <p>
                            <span class="govuk-!-font-weight-bold">Family cases</span><br>
                            Use <a target="blank" href="https://www.gov.uk/government/publications/form-fp8-notice-of-change-of-solicitor">form FP8</a> (opens in new window)
                        </p>
                        <p>
                            <span class="govuk-!-font-weight-bold">Tribunal cases</span><br>
                            Write a letter confirming the change of legal representative. You should include the 16-digit case reference. Send a copy to all parties involved in the case.
                        </p>
                    </ng-container>
                </div>
            </div>
        </div>
    </main>
</div>
