<div class="hmcts-header" style="background-color: transparent">
    <!-- A Logo will go here -->
    <div class="hmcts-header__container">
      <!-- Ok so all we need to do here is choose a header -->
      <ng-container  *ngIf="isBrandedHeader;else noBrandedHeader">


        <ng-container [ngSwitch]="logoType">
          <!-- Judicial Header Logo -->
          <ng-container *ngSwitchCase="'judicial'">
            <div class="govuk-header__logo" style="margin-bottom: 0px;">
              <img class="img-responsive" src="/assets/images/govuk-crest-jcm.png" width="75px">
            </div>
          </ng-container>
          <!-- !Judicial Header Logo -->
          <!-- HMCTS Header Logo -->
          <ng-container *ngSwitchCase="'myhmcts'">
            <div class="govuk-header__logo">
              <a href="#" class="govuk-header__link govuk-header__link--homepage">
              <span class="govuk-header__logotype">
                <span class="govuk-header__logotype-text">
                  MyHMCTS
                </span>
              </span>
              </a>
            </div>
          </ng-container>
          <!-- !HMCTS Header Logo -->
        </ng-container>
        <!-- Header title -->
        <a class="hmcts-header__link" [routerLink]="headerTitle?.url" [attr.aria-label]="headerTitle?.name" >{{headerTitle?.name}}</a>
      </ng-container>
      <!-- TODO The logo will need to change -->
      <ng-template #noBrandedHeader>
          <div class="hmcts-header__logo">
              <a class="hmcts-header__link" [routerLink]="'/'" [attr.aria-label]="headerTitle?.name" >{{headerTitle?.name}}</a>
          </div>
      </ng-template>
      <!-- We need to re-color this if it's judicial user -->
      <div class="hmcts-header__content">
          <nav class="hmcts-header__navigation" attr.aria-label="{{navigation.label}}">
              <ul class="hmcts-header__navigation-list" >
                  <li *ngFor="let item of navigation.items; let i = index" class="hmcts-header__navigation-item">
                      <a class="hmcts-header__navigation-link" (click)="onEmmitEvent(i)" *ngIf="userValue" [routerLink]="">{{item.text}}</a>
                  </li>
              </ul>
          </nav>
      </div>
    </div>
</div>

