.govuk-header__logo {
  width: 160px;
}

.case-reference-container {
	display: flex;
	flex-direction: row;

	p {
		color: white;
		margin: 8px 6px 0 0;
	}

	.govuk-input {
		width: 219px;
	}

	.govuk-button--secondary {
		height: 36px;
		margin: 2px 0 0 4px;
	}
}
