<div class="button-heading">
  <button class="govuk-button hmcts-button--secondary" type="button" (click)="this.toggleFilter=!this.toggleFilter">
    {{toggleFilter ? 'Hide': 'Show' }} work filter
  </button>
  <ng-container *ngIf="selectedLocations.length && showFilteredText">
    <span class="hmcts-badge hmcts-badge--black">Filtered view</span>
    <span class="govuk-hint">All of your work may not be visible.</span>
  </ng-container>
</div>
<div class="govuk-!-padding-3 filter govuk-!-margin-bottom-3" *ngIf="toggleFilter">
  <h3 class="govuk-heading-m">{{jurisdiction}}</h3>
  <xuilib-generic-filter [config]="fieldsConfig" [settings]="fieldsSettings"></xuilib-generic-filter>
</div>
<div class="govuk-!-padding-3 govuk-!-margin-bottom-3" *ngIf="selectedLocations.length">
  Selected locations {{selectedLocations.length}}
</div>