<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="content" tabindex="-1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 id="Accessibility-statement-for-Expert-UI" class="govuk-heading-xl">
          Accessibility statement for <abbr>MyHMCTS</abbr> Manage Cases</h1>
        <p class="govuk-body"><abbr>MyHMCTS</abbr> Manage Cases is used across several services.
          Please use links to find contact information for each service.</p>
        <nav>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="accessibility#immigration-and-asylum-chamber">Immigration and Asylum</a></li>
            <li><a href="accessibility#family-public-law">Family Public Law</a></li>
            <li><a href="accessibility#adoption">Adoption</a></li>
            <li><a href="accessibility#civil-damages-service">Civil Damages</a></li>
            <li><a href="accessibility#divorce-and-financial-remedy">Divorce and Financial Remedies</a></li>
            <li><a href="accessibility#online-civil-money-claims">Civil Money Claims</a></li>
            <li><a href="accessibility#private-law">Private Law</a></li>
            <li><a href="accessibility#probate">Probate</a></li>
            <li><a href="accessibility#social-security-and-child-support">Social Security and Child Support</a></li>
          </ul>
        </nav>
        <section>
          <p class="govuk-body">This website is run by HM Courts &amp; Tribunals Service. We want as many people as
            possible to be able to use this website. For example, you should be able to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts using browser or device settings</li>
            <li>navigate most of the website using a keyboard or speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS,
              <abbr title="NVDA, a free screen reader for Microsoft Windows">NVDA</abbr> and VoiceOver)
            </li>
          </ul>
          <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
          <p class="govuk-body">
            <a rel="noopener noreferrer" target="_blank" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has
            advice
            on making your device easier to use if you have a disability.
          </p>
          <h2 id="How-accessible-this-website-is" class="govuk-heading-l">How accessible this website is</h2>
          <p class="govuk-body">We know some parts of the website are not fully accessible:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>some pages can't be zoomed in to 400% without content overlapping</li>
            <li>some page titles aren't page specific</li>
            <li>some pages do not follow a logical tabbing order</li>
            <li>some headings levels are skipped</li>
            <li>some links do not work</li>
            <li>some PDFs may not be fully accessible to a screen reader</li>
          </ul>
        </section>
        <section>
          <h2 id="What-to-do-if-you-cannot-access-parts-of-this-website" class="govuk-heading-l">Contacting us by phone
            or visiting us in person</h2>
          <p class="class">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech
            impediment.</p>
          <p class="class">Our offices and tribunal venues have audio induction loops, or if you contact us before your
            visit we can arrange a British Sign Language (BSL) interpreter. You can also request step-free access or a
            foreign language interpreter.</p>
          <p class="govuk-body">Find out how to contact us using the contact details above or <a
              href="https://courttribunalfinder.service.gov.uk/search">find the contact details for court and tribunal
              venues.</a></p>
          <p>If you're a member of HMCTS staff or the Judiciary speak to your line manager or equivalent in the first
            instance.
          </p>
          <p class="govuk-body">If you're a legal professional and need information on this website in a different
            format like accessible PDF, large print, easy read, audio recording or braille, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>email: <a href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms&#64;justice.gov.uk</a></li>
            <li>call the service you require, as listed below.</li>
          </ul>
          <h3 id="adoption" class="govuk-heading-l">Adoption</h3>
          <p class="govuk-body">call: <a href="tel:01634887900">01634 887900</a></p>
          <h3 id="divorce-and-financial-remedy" class="govuk-heading-l">Divorce and Financial Remedy</h3>
          <p class="govuk-body">call: <a href="tel:03001231372">0300 123 1372</a></p>
          <h3 id="civil-damages-service" class="govuk-heading-l">Civil Damages Service</h3>
          <p class="govuk-body">call: <a href="tel:03001231372">0300 123 1372</a></p>
          <h3 id="family-public-law" class="govuk-heading-l">Family Public Law</h3>
          <p class="govuk-body">call: <a href="tel:03308084424">0330 808 4424</a></p>
          <h3 id="immigration-and-asylum-chamber" class="govuk-heading-l">Immigration and Asylum Chamber</h3>
          <p class="govuk-body">call: <a href="tel:03001231711">0300 123 1711</a></p>
          <h3 id="online-civil-money-claims" class="govuk-heading-l">Online Civil Money Claims</h3>
          <p class="govuk-body">call: <a href="tel:03001237050">0300 123 7050</a></p>
          <h3 id="private-law" class="govuk-heading-l">Private Law</h3>
          <p class="govuk-body">call: <a href="tel:03003230185">0300 323 0185</a></p>
          <h3 id="probate" class="govuk-heading-l">Probate</h3>
          <p class="govuk-body">call: <a href="tel:03003030648">0300 303 0648</a></p>
          <h3 id="social-security-and-child-support" class="govuk-heading-l">Social Security and Child Support</h3>
          <p class="govuk-body">call: <a href="tel:03001231142">0300 123 1142</a></p>
          <p class="govuk-body">We'll consider your request and get back to you in 10 working days.</p>
          <p class="govuk-body">If you are a member of <abbr>HMCTS</abbr> staff or the Judiciary speak to your line
            manager or equivalent in the first instance.</p>
        </section>
        <section>
          <h2 id="Reporting-accessibility-problems-with-this-website" class="govuk-heading-l">Reporting accessibility
            problems with this website</h2>
          <p class="govuk-body">We're always looking to improve the accessibility of this
            website. If you're a legal professional and find any problems not listed on this page or think we're not
            meeting accessibility requirements, contact:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>email: <a href="mailto:customer.service@justice.gov.uk">customer.service&#64;justice.gov.uk</a></li>
            <li>call the service you require as listed above.</li>
          </ul>
          <p class="govuk-body">If you are a member of <abbr>HMCTS</abbr> staff or the Judiciary speak to your line
            manager or equivalent in the first instance.</p>
          <h2 id="Enforcement-procedure" class="govuk-heading-l">Enforcement procedure</h2>
          <p class="govuk-body">The Equality and Human Rights Commission (<abbr>EHRC</abbr>) is
            responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility
            Regulations 2018 (the ‘accessibility regulations’).</p>
          <p class="govuk-body">If you’re not happy with how we respond to your complaint,
            <a rel="noopener noreferrer" target="_blank" href="https://www.equalityadvisoryservice.com/">
              contact the Equality Advisory and Support Service
              (<abbr>EASS</abbr>).
            </a>
          </p>
        </section>
        <section>
          <h2 id="Technical-information-about-this-website-accessibility" class="govuk-heading-l">
            Technical information about this website’s accessibility</h2>
          <p class="govuk-body"><abbr>HMCTS</abbr> is committed to making its website accessible, in accordance with the
            Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018.</p>
          <h2 id="Compliance-status" class="govuk-heading-l">Compliance Status</h2>
          <p class="govuk-body">This website is partially compliant with the <a rel="noopener noreferrer"
              target="_blank" href="https://www.w3.org/TR/WCAG21/"> Web Content Accessibility Guidelines version 2.1
            </a> due to the
            non-compliances listed below.
          </p>
          <h2 id="Non-accessible-content" class="govuk-heading-l">Non-accessible content </h2>
          <p class="govuk-body">The content listed below is non-compliant for the following reasons.</p>
          <h3 id="Non-compliance-with-the-accessibility-regulations" class="govuk-heading-l">Non-compliance with the
            accessibility regulations</h3>
          <p class="govuk-body">
            <strong class="bold">There were navigation lists present that were not marked up
              correctly and so assistive technology may have difficulty reading the content.</strong>
            This fails <abbr title="web content accessibility guidelines">WCAG</abbr> v2.2, 1.3.1 Info and Relationships
            (Level A) and 4.1.2 Name, Role, Value (Level A).
          </p>
          <p class="govuk-body">
            <strong class="bold">For screen reader users, it will be difficult for the user to
              distinguish which form elements are related to each document as they don’t have a shared or common
              label.</strong>
            This fails <abbr title="web content accessibility guidelines">WCAG</abbr> v2.2, 1.3.1 Info and Relationships
            (Level A) and 3.3.2 Labels or Instructions (Level A).
          </p>
          <p class="govuk-body">
            <strong class="bold">Links were found that did not have a distinct meaning which could mean that screen
              reader users may be unable to determine their purpose.</strong>
            This fails <abbr title="web content accessibility guidelines">WCAG</abbr> v2.2, 2.4.4 Link Purpose (In
            Context) (Level A) and 2.4.9 Link Purpose (Link Only) (Level AAA).
          </p>
          <p class="govuk-body">
            <strong class="bold"> There were navigation lists present that were not marked up correctly and so assistive
              technology may have difficulty reading the content.</strong>
            This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A) and 4.1.2 Name, Role, Value (Level A).
          </p>
          <p class="govuk-body">
            <strong class="bold"> The order in which some interactive elements receive focus is not logical or correct.
              Assistive technology will have difficulties reading the content and conveying the content that is
              presented visually. </strong>
            This fails WCAG v2.2, 2.4.3 Focus Order (Level A).
          </p>

          <p class="govuk-body">
            <strong class="bold">Some elements are mouse-dependent and the links in the error summary cannot be accessed
              by keyboard-only users as the links are broken. </strong>
            This fails WCAG v2.2, 1.3.1 Info and Relationships (Level
            A), 2.1.1 Keyboard (Level A), 2.1.3 Keyboard (No Exception) (Level AAA) and 4.1.2 Name, Role, Value (Level
            A).
          </p>
          <p class="govuk-body"><strong class="bold">
              For screen reader users, it will be difficult for the user to distinguish which form
              elements are related to each document as they don’t have a shared or common label.
            </strong>nstructions (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Links were found that did not have a distinct meaning which could mean that screen
              reader users may be unable to determine their purpose.
            </strong>
            This fails WCAG v2.2, 2.4.4 Link Purpose (In Context)
            (Level A) and 2.4.9 Link Purpose (Link Only) (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">
              Content that can be expanded or collapsed is not announced or not correctly announced to
              screen reader users. Additionally, the expanded content receives focus illogically so assistive technology
              users may struggle to navigate the content.
            </strong>
            This fails WCAG v2.2, 2.4.3 Focus Order (Level A) and 4.1.2
            Name, Role, Value (Level A).</p>
          <p class="govuk-body">
            <strong class="bold">
              ARIA has been used incorrectly and may result in screen reading software reading content
              wrongly.
            </strong>
            This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).
          </p>
          <p class="govuk-body"><strong class="bold">
              The status of content that can be toggled e.g. if its on or off is not announced or not
              correctly announced to screen reader users.
            </strong>
            This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              A string of text that visually named an element was not part of the programmatic
              accessible name. When using assistive technology, it maybe problematic for the user to interact with the
              element using their voice.
            </strong> This fails WCAG v2.2, 2.5.3 Label in Name (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              A submit button is not provided for a text input element so entering text into the input
              used to search documents causes the documents context to change automatically, which can be disruptive for
              assistive technology users.
            </strong>
            This fails WCAG v2.2, 3.2.2 On Input (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Visual headings were found, but they were not marked up with a semantic heading tag.
              Using Assistive technology, a screen reader user may not be aware that the text is a heading, which means
              they may struggle to navigate using headings and understand the correct hierarchy of the content.
            </strong>
            This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Active elements are nested which can cause random results from assistive technology.
              This means users might be unable to accurately interact with the content or they could be missing content.
            </strong>
            This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              The state of content that can be expanded or collapsed is not announced or not correctly
              announced to screen reader users, this means screen reading software will only announce a collapsed state.
            </strong>
            This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Asterisks are used to denote a required field. The asterisk is not clearly communicated
              to enable a user to understand that it denotes a required field.
            </strong>
            This fails WCAG v2.2, 1.3.1 Info and
            Relationships (Level A) and 3.3.2 Labels or Instructions (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Some headings are contained within a description list which t may cause some confusion
              to a screen reader user.
            </strong>
            This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A).</p>

          <p class="govuk-body"><strong class="bold">
              The location of the current page within a set of web pages cannot be determined by
              screen reader users as it reliant on CSS. If the user is navigating using screen reading software, the
              current service webpage within the set of service webpages is not announced. This means that the user
              might
              have difficulties distinguishing where they are within the set of service webpages.
            </strong>
            This fails WCAG v2.2,
            1.3.1 Info and Relationships (Level A) and 2.4.8 Location (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">
              There are duplicated titles which means a screenreader user might be left to believe
              that they have not loaded a new service webpage.
            </strong>
            This fails WCAG v2.2, 2.4.2 Page Titled (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              The skip links do not function as expected or were missing. This means that a user may
              have to manually navigate past repeated blocks of content and this could be cumbersome and difficult to
              achieve.
            </strong>
            This fails WCAG v2.2, 2.4.1 Bypass Blocks (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              When a user chooses an option from a search field, the chosen option will be added to
              the service webpage. Users can remove the options by activating an interactive element. When using
              assistive
              technology the user may not know that the new interactive element is used to remove the added option as it
              does not have a descriptive alternative.
            </strong>
            This fails WCAG v2.2 1.3.1 Info and Relationships (Level A).</p>
          <p class="govuk-body"><strong class="bold">
              Typing into the text input causes a list box to appear and show options that the user
              can choose from. If the user is using keyboard inputs to navigate the service webpage, the user will have
              difficulties selecting an option.
            </strong>
            This fails WCAG v2.2, 2.1.1 Keyboard (Level A) and 2.1.3 Keyboard (No
            Exception) (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">
              Using mouse inputs to activate the tab elements will cause the service webpage contents
              to change. It is not possible for a keyboard-only user to navigate or activate the tabs.
            </strong>
            This fails WCAG
            v2.2, 1.3.1 Info and Relationships (Level A), 2.1.1 Keyboard (Level A), 4.1.2 Name, Role, Value Level (A)
            and 2.1.3 Keyboard (No Exception) (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">Headings on the page were found to not follow a hierarchical
              heading structure which
              means assistive technology may struggle to communicate a logical heading order to the user. </strong> This
            fails WCAG
            v2.2, 1.3.1 Info and Relationships (Level A).</p>
          <p class="govuk-body"><strong class="bold">Some form elements did not have a visual label or instructions for
              users to understand
              its purpose. </strong> This fails WCAG v2.2 3.3.2 Labels or Instructions (Level A).</p>
          <p class="govuk-body"><strong class="bold">Some images were decorative but the descriptions were not accurate
              for assistive
              technology users. </strong> This fails WCAG v2.2 1.1.1 Non-text Content (Level A).</p>
          <p class="govuk-body"><strong class="bold">Elements are present that do not contain a descriptive name or
              label for users.
              Assistive technology users may not be able to accurately identify their differences. </strong> This fails
            WCAG v2.2,
            2.4.6 Headings and Labels (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Assistive technology does not announce the important messages shown
              if there are no
              results and this means that a screen reader user might not know that there are no results available. This
              fails WCAG v2.2, 4.1.3 Status Messages (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Some of the colour combinations found on the website are low
              contrast and are likely to
              be difficult for people with low vision to distinguish. </strong> This fails WCAG v2.2, 1.4.11 Non-text
            Contrast
            (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Content is lost or obscured on the page when the browser dimensions
              are set to 1280 x
              1024 and magnified to 400. The user will need to modify their settings and this could make it difficult to
              read the service webpage. </strong> This fails WCAG v2.2, 1.4.10 Reflow (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Text on the website cannot be resized to 200% without loss of
              content/ functionality.
            </strong> This fails WCAG v2.2, 1.4.4 Resize text (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Some of the text colour combinations found on the site do not meet
              contrast guidelines.
              The change in colour may make it difficult for the user to read the text as the contrast is less than the
              minimum required. </strong> This fails WCAG v2.2, 1.4.3 Contrast (Minimum) (Level AA) and 1.4.6 Contrast
            (Enhanced)
            (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">Modifying the text spacing to make the text easier to read will
              cause the ‘Zoom in’
              button to be obscured. The user will need to change their settings and this could make the text difficult
              to
              read. </strong> This fails WCAG v2.2, 1.4.12 Text Spacing (Level AA).</p>
          <p class="govuk-body"><strong class="bold">Abbreviations are not expanded in the first instance or explained
              and may be difficult
              for users with cognitive impairments to understand. </strong> This fails WCAG v2.2 3.1.4 Abbreviations
            (Level AAA).
          </p>
          <p class="govuk-body"><strong class="bold">There are elements which open in a new window without informing the
              users first. If the
              user is not aware a new window/ tab will open, the user may be disoriented and have difficulties returning
              to the previous page. </strong> This fails WCAG v2.2 3.2.5 Change on Request (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">Some links were not descriptive enough for Assistive technology to
              convey the context to
              the user. </strong> This fails WCAG v2.2 2.4.9 Link Purpose (Link Only) (Level AAA).</p>
          <p class="govuk-body"><strong class="bold">Text colour combinations found on the service do not meet enhanced
              contrasts and are
              likely to be difficult for people with vision colour deficiencies to read. </strong> This fails WCAG v2.2,
            1.4.6
            Contrast (Enhanced) (Level AAA).</p>
        </section>
        <section>
          <h2 id="Disproportionate-burden" class="govuk-heading-m">Disproportionate burden
          </h2>
          <p class="govuk-body">The following areas have been classified as a
          <div href="http://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">disproportionate burden</div> within
          the meaning of the accessibility regulations. These issues are:</p>
          Screen readers not picking up how pages are related to one another, and where they are in the context of the
          whole site
          Screen readers not picking up on non-unique table headings on the same page

          Some labels, fields, error messages and other content not being clearly identified by screen readers and voice
          activation software on mobile devices.
          There are areas which have been classified as disproportionate burden. These include zooming in 200% on
          mobiles and more widely on navigation as detailed in WCAG 2.1 success criterion 2.4.5: Multiple Ways (Level
          AA).

          <p class="govuk-body">A further review will take place in 12 months to review the current position</p>
          <h3 id="Content-that’s-not-within-the-scope-of-the-accessibility-regulations" class="govuk-heading-m">
            Content that’s not within the scope of the accessibility regulations</h3>
          <p class="govuk-body">PDFs and other documents.</p>
          <p class="govuk-body">The accessibility regulations do not require us to fix PDFs or other documents published
            before <time datetime="2018-09-23">23 September 2018</time> if they’re not essential to providing our
            services.</p>
          <p class="govuk-body">Any new PDFs or Word documents we publish will meet accessibility standards.</p>
          <h2 id="what-to-improve-accessibility" class="govuk-heading-l">What we’re doing to improve accessibility</h2>
          <p class="govuk-body">We’re committed to ensuring our services are accessible to
            all our users and that they comply with level AA of the Web Content Accessibility Guidelines &ndash; WCAG
            2.2.
          </p>
          <p class="govuk-body">We're currently working through the issues from an external audit carried out by the
            Digital Accessibility Centre (DAC) which we expect to fix by <time datetime="2026-01-01">January
              2026</time>.
          </p>
          <h2 id="preparation-of-this-accessibility-statement" class="govuk-heading-l">
            Preparation of this accessibility statement</h2>
          <p class="govuk-body">This statement was prepared on 16 September 2019.
            It was last reviewed on <time datetime="2026-03-26">26 March 2025</time>.
          </p>
          <p class="govuk-body">This website was tested by <a rel="noopener noreferrer" target="_blank"
              href="https://digitalaccessibilitycentre.org/">Digital Accessibility
              Centre (<abbr>DAC</abbr>)</a> on <time datetime="2024-02-19">19 February 2024</time>.
          </p>
        </section>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>

