<exui-app-header></exui-app-header>
<div class="govuk-width-container">
  <main role="main" class="govuk-main-wrapper" id="content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id="Accessibility-statement-for-Expert-UI">Accessibility statement for Expert UI</h1>
        <p class="govuk-body">This website is run by HM Courts & Tribunals Service. We want as many people as possible to be able to use this website. For example, you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver</li>
        </ul>
        <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
        <p class="govuk-body"><a rel="noopener noreferrer" target="_blank" href="https://abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
        <h2 class="govuk-heading-l" id="How-accessible-this-website-is">How accessible this website is</h2>
        <p class="govuk-body">We know some parts of the website are not fully accessible:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>some pages are difficult to navigate using just a keyboard</li>
          <li>some pages can’t be listened to in full using a screen reader</li>
          <li>some pages have problems with colour contrasts between text and background</li>
          <li>some PDFs may not be fully accessible to a screen reader</li>
        </ul>
        <h2 class="govuk-heading-l" id="What-to-do-if-you-cannot-access-parts-of-this-website">What to do if you cannot access parts of this website</h2>
        <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email <a href="mailto:#"> HMCTSforms@justice.gov.uk</a></li>
          <li>call: +44 (0) 300 123 1711</li>
          <li>contact your service representative</li>
        </ul>
        <p class="govuk-body">We’ll consider your request and get back to you in 10 working days.</p>
        <h2 class="govuk-heading-l" id="Reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>
        <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>email <a href="mailto:#"> customer.service@justice.gov.uk</a></li>
          <li>call: +44 (0) 300 123 1711</li>
        </ul>
        <h2 class="govuk-heading-l" id="Enforcement-procedure ">Enforcement procedure</h2>
        <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). </p>
        <p class="govuk-body">If you’re not happy with how we respond to your complaint, <a rel="noopener noreferrer" target="_blank" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS).</a></p>
        <h1 class="govuk-heading-l" id="Contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h1>
        <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.</p>
        <p class="govuk-body">Our offices and Tribunal venues have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter. You can also request step-free access or a foreign language interpreter.</p>
        <p class="govuk-body">If you have a question about accessibility in our Tribunal venues, you can contact the First-tier Tribunal enquiry line: +44 (0) 300 123 1711.</p>
        <p class="govuk-body">You can also contact your service representative for more information.</p>
        <h1 class="govuk-heading-l" id="Technical-information-about-this-website’s-accessibility">Technical information about this website’s accessibility</h1>
        <p class="govuk-body">HMCTS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018.</p>
        <p class="govuk-body">This website is partially compliant with the <a rel="noopener noreferrer" target="_blank" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a>, due to the non-compliances listed below.</p>
        <h1 class="govuk-heading-l" id="Non-accessible-content">Non-accessible content </h1>
        <p class="govuk-body">The content listed below is non-compliant for the following reasons.</p>
        <p class="govuk-body">We have not yet fully tested the service. A full accessibility audit by the <a rel="noopener noreferrer" target="_blank" href="https://digitalaccessibilitycentre.org/"> Digital Accessibility Centre (DAC)</a> will take place in April 2020. If any non-compliance areas are identified we will update this section and arrange for them to be fixed.</p>
        <h2 class="govuk-heading-l" id="Non-compliance-with-the-accessibility-regulations">Non-compliance with the accessibility regulations</h2>
        <h3 class="govuk-heading-m" id="Disproportionate-burden">Disproportionate burden</h3>
        <p class="govuk-body">Some pages cannot be navigated completely using just a keyboard, so some people with accessibility needs won’t be able to tab through the pages. This fails WCAG 2.1 success criterion 2.1 (keyboard accessible).</p>
        <p class="govuk-body">Some pages can’t be listened to in full using a screen reader, so some people won’t be able to access the information. This fails WCAG 2.1 success criterion 1.2.5 (audio description – prerecorded).</p>
        <p class="govuk-body">Some of the contrast ratios don’t mind the current accessibility requirements. This fails WCAG 2.1 success criterion 1.4.3 (contrast – minimum).</p>
        <p class="govuk-body">Expert UI has carried out manual accessibility testing using the chrome extension Axe. Axe is complying with WCAG 2 and Section 508 accessibility (which covers WCAG 2.1).</p>
        <p class="govuk-body">For Manage Organisation, Register Organisation, Approve Organisation and Manage Cases, we found the following issues that are currently being triaged:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Screen readers can’t switch between headers, read content in tabs and buttons</li>
          <li>Screen readers can’t tab between radio buttons, read links or content </li>
          <li>Colour contrast ratios uneven between page background and content </li>
        </ul>
        <h3 class="govuk-heading-m" id="Content-that’s-not-within-the-scope-of-the-accessibility-regulations">Content that’s not within the scope of the accessibility regulations </h3>
        <p class="govuk-body">PDFs, documents and attachments to email notifications published before 23 September 2018 may not meet accessibility standards. For example, they may not be structured so they’re accessible to a screen reader.</p>
        <p class="govuk-body">By September 2020, we plan to either fix these or replace them with accessible HTML pages. Any new PDFs or Word documents we publish will meet accessibility standards.</p>
        <h1 class="govuk-heading-l" id="How-we-tested-this-website">How we tested this website</h1>
        <p class="govuk-body">The platform was manually tested by HMCTS using Pa11y, Axe and VoiceOver. The <a rel="noopener noreferrer" target="_blank" href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a> will carry out a WCAG 2.1 AA level technical compliance audit across the service in April 2020.</p>
        <p class="govuk-body">We tested our main website platform, available at:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage-org.platform.hmcts.net</li>
          <li>register-org.platform.hmcts.net</li>
          <li>administer-orgs.platform.hmcts.net</li>
          <li>manage-case.platform.hmtcs.net</li>
        </ul>
        <h1 class="govuk-heading-l" id="How-we-tested-this-website">What we’re doing to improve accessibility</h1>
        <p class="govuk-body">We’re committed to ensuring our services are accessible to all our customers and that they comply with level AA of the Web Content Accessibility Guidelines – WCAG 2.1.</p>
        <p class="govuk-body">To help us achieve this, we’ve commissioned the <a rel="noopener noreferrer" target="_blank" href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a> to carry out a WCAG 2.1 AA level technical compliance audit that includes over 50 hours of testing by users with a wide range of disabilities. Testing will commence in April 2020 and any issues identified during testing will be reviewed and addressed appropriately.</p>
        <p class="govuk-body">This statement was last updated on 10 March 2020.</p>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
