<xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{hearingActualsMainModel?.caseDetails.publicCaseName}}</span>
      {{ 'Hearing details' | rpxTranslate }}
    </h1>
    <ng-container *ngIf="hearingActualsMainModel">
      <exui-hearing-actual-summary [hearingActualsMainModel]="hearingActualsMainModel"></exui-hearing-actual-summary>
    </ng-container>
  </div>
</div>
