<details class="available-tasks-filter govuk-details" data-module="govuk-details" role="group" (toggle)="onDetailsToggle($event)">
  <summary class="govuk-details__summary" role="button">
    <span class="govuk-details__summary-text">Filter by location</span>
  </summary>
  <xuilib-checkbox-list class="available-tasks_location-filter"
    (selectionChange)="onSelectionChange($event)" [options]="locations"
    [labelFunction]="locationLabelFunction" [preselection]="preselection">
  </xuilib-checkbox-list>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <button class="govuk-button govuk-!-margin-right-1" type="submit"
        (click)="applyFilter()">Apply</button>
      <button class="govuk-button govuk-button--secondary"
        (click)="cancelFilter()">Cancel</button>
    </div>
  </div>
</details>
