
.govuk-back-link {
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
  &::before {
    content: ' \25C0';
    top: -10px;
    left: 0px;
    font-size: 12px;
    border-color: transparent;
    position: absolute;
    transform: rotate(1deg);
  }
}

.govuk-fieldset__heading {
  font-size: 35px;
  font-weight: bold;
}

.govuk-caption-1 {
  top: 10px;
  position: relative;
  font-weight: normal;
  color: 	#505a5f;
  font-size: 25px;
}

.govuk-radios__item {
  position: relative;
}
