<exui-app-header></exui-app-header>
<ng-container *ngIf="isTandCEnabled; else legacyTandC">
  <div class="govuk-width-container">
    <ng-container *ngIf="document; else loading">
      <xuilib-terms-and-conditions [document]="document"></xuilib-terms-and-conditions>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>
  </div>
</ng-container>
<ng-template #legacyTandC>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">{{ 'Terms and conditions' | rpxTranslate }}</h1>
          <!-- prettier-ignore -->
          <p class="govuk-body">{{ accessingServiceIntroText | rpxTranslate }} <a routerLink="/privacy-policy">{{ 'privacy policy' | rpxTranslate }}</a>.</p>
          <p class="govuk-body">
            {{ serviceIncludesText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ userDefinitionText | rpxTranslate }}
          </p>
          <p class="govuk-body">{{ legitimacyNeedText | rpxTranslate }}</p>
          <h2 class="govuk-heading-l">{{ 'Who we are' | rpxTranslate }}</h2>
          <p class="govuk-body">{{ whoWeAreText | rpxTranslate }}</p>
          <p class="govuk-body">
            {{ termsUpdateNoticeText | rpxTranslate }}
          </p>
          <h2 class="govuk-heading-l">{{ 'Terms of service' | rpxTranslate }}</h2>
          <p class="govuk-body">
            {{ dataProtectionComplianceText | rpxTranslate }}
          </p>
          <h2 class="govuk-heading-l">{{ 'How to use this service responsibly' | rpxTranslate }}</h2>
          <p class="govuk-body">
            {{ preventDisclosureText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ credentialResponsibilityText | rpxTranslate }}
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ protectAndNotShareCredentialsText | rpxTranslate }}</li>
            <li>
              {{ reportDisclosureText | rpxTranslate }}
            </li>
            <li>{{ notUseAnotherPersonsCredentialsText | rpxTranslate }}</li>
          </ul>
          <p class="govuk-body">
            {{ secureDevicesText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ falseClaimsText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ recipientChecksText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ accessFromSecureDevicesText | rpxTranslate }}
          </p>
          <p class="govuk-body">{{ notBypassAccessControlsText | rpxTranslate }}</p>
          <p class="govuk-body">
            {{ wifiSecurityText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ locationRestrictionText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ organisationAdministratorResponsibilitiesText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ organisationAccountabilityText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ organisationCeaseOperationText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ breachSanctionsText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ serviceProvidedFreeOfChargeText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ proceduresComplianceText | rpxTranslate }}
          </p>
          <p class="govuk-body">
            {{ organisationResponsibilitiesAcknowledgementText | rpxTranslate }}
          </p>
        </div>
      </div>
    </main>
  </div>
</ng-template>
<exui-app-footer></exui-app-footer>
