<div>
    <ng-container *ngIf="(validationErrors$ | async)?.message">
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" #errorContainer>
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          {{'There is a problem' | rpxTranslate}}
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="noc#caseRef">{{(validationErrors$ | async)?.message | rpxTranslate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <div class="hmcts-page-heading">
            <div class="hmcts-page-heading__title">
                <h1 class="govuk-heading-l">{{'Notice of change' | rpxTranslate}}</h1>
            </div>
    </div>

    <p>{{"You can use this notice of change (sometimes called a 'notice of acting') to get access to the digital case file in place of:" | rpxTranslate}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{'a client acting in person' | rpxTranslate}}</li>
        <li>{{"a legal representative previously acting on your client's behalf" | rpxTranslate}}</li>
    </ul>

    <div
        class="govuk-form-group"
        [class.govuk-form-group--error]="(validationErrors$ | async)?.message || null">
        <form [formGroup]="caseRefForm" (ngSubmit)="onSubmit()" >
            <xuilib-gov-uk-input
                [config]="caseRefConfig"
                [group]="caseRefForm"
                [errorMessage]="{messages: [(validationErrors$ | async)?.message || null]}"
            ></xuilib-gov-uk-input>
        </form>
    </div>
</div>
