apiVersion: v2
name: xui-webapp
home: https://github.com/hmcts/rpx-xui-webapp
version: 1.0.24
description: Expert UI
maintainers:
  - name: HMCTS RPX XUI
dependencies:
  - name: nodejs
    version: 3.1.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: redis
    version: 20.7.0
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
