apiVersion: v2
name: xui-webapp
home: https://github.com/hmcts/rpx-xui-webapp
version: 0.2.30
description: Expert UI
maintainers:
  - name: HMCTS RPX XUI
dependencies:
  - name: nodejs
    version: 2.4.1
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: redis
    version: 10.6.18
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: idam-pr
    version: ~2.2.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
