redis:
  enabled: false
  cluster:
    enabled: false
    slaveCount: 0
  password: fake-password
  master:
    persistence:
      enabled: false

nodejs:
  aadIdentityName: xui
  applicationPort: 3000
  cpuRequests: 250m
  cpuLimits: 2000m
  memoryRequests: 512Mi
  memoryLimits: 2048Mi
  autoscaling:        # Default is false
    enabled: true 
    minReplicas: 13
    maxReplicas: 22    # Required setting
    targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
  environment:
    REFORM_TEAM: rpx
    REFORM_SERVICE_NAME: xui-webapp
    NODE_ENV: production
    NODE_CONFIG_ENV: production
    UV_THREADPOOL_SIZE: 64
    XUI_ENV: preview
    LOGGING: debug
    MAX_LOG_LINE: 80
    PROTOCOL: https
    MICROSERVICE: xui_webapp
    SESSION_SECRET: secretSauce
    ALLOW_CONFIG_MUTATIONS: 1
    MC_HTTP_PROXY: http://172.16.0.7:8080
    MC_NO_PROXY: localhost
    NOW: false
    STUB: false
    # Health Endpoints
    HEALTH_CCD_COMPONENT_API: https://gateway-ccd.{{ .Values.global.environment }}.platform.hmcts.net/health
    HEALTH_CCD_DATA_API: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/health
    HEALTH_DOCUMENTS_API: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/health
    HEALTH_EM_ANNO_API: http://em-anno-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/health
    HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/health
    # Services CCD Endpoints
    SERVICES_CCD_COMPONENT_API: https://gateway-ccd.{{ .Values.global.environment }}.platform.hmcts.net
    SERVICES_CCD_DATA_STORE_API: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SERVICES_CCD_CASE_ASSIGNMENT_API: http://aac-manage-case-assignment-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services Documents Endpoints
    SERVICES_DOCUMENTS_API: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services PRD
    SERVICES_PRD_API: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services Em Anno
    SERVICES_EM_ANNO_API: http://em-anno-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services Markup
    SERVICES_MARKUP_API: http://em-npa-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services ICP
    SERVICES_ICP_API: http://em-icp-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services Idam
    SERVICES_IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    SERVICES_IDAM_CLIENT_ID: xuiwebapp
    SERVICES_IDAM_LOGIN_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
    SERVICES_IDAM_INDEX_URL: /
    SERVICES_IDAM_OAUTH_CALLBACK_URL: /oauth2/callback
    # Services payments
    SERVICES_PAYMENTS_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services S2s
    SERVICES_S2S: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # Services T&Cs
    SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    # OpenId ISS
    SERVICES_IDAM_ISS_URL: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}2.internal:8443/openam/oauth2/hmcts

    #Feature Flags
    FEATURE_APP_INSIGHTS_ENABLED: true
    FEATURE_SECURE_COOKIE_ENABLED: true
    FEATURE_PROXY_ENABLED: false
    FEATURE_TERMS_AND_CONDITIONS_ENABLED: false
    FEATURE_HELMET_ENABLED: true
    FEATURE_REDIS_ENABLED: true
    FEATURE_OIDC_ENABLED: false

    # Redis
    REDIS_KEY_PREFIX: 'activity:'
    REDIS_TTL: 6000

  keyVaults:
    rpx:
      resourceGroup: rpx
      secrets:
        - mc-s2s-client-secret
        - mc-idam-client-secret
        - appinsights-instrumentationkey-mc
        - webapp-redis-connection-string
        - launch-darkly-client-id
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
