<exui-app-header-signed-out></exui-app-header-signed-out>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{'We have signed you out' | rpxTranslate}}</h1>
        <p class="govuk-body">{{'For your security, we\'ve signed you out of your account' | rpxTranslate}}</p>
        <a [href]="redirectUrl" class="govuk-button">{{'Sign in' | rpxTranslate}}</a>
      </div>
    </div>
  </main>
</div>
<exui-app-footer></exui-app-footer>
