<div class="case-reference-container" *ngIf="item">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <span id="searchLabel" for="caseReference" class="label">{{'16-digit case reference:' | rpxTranslate}}</span>
    <input class="govuk-input"
      [ngClass]="{'govuk-input--error': decorate16DigitCaseReferenceSearchBoxInHeader}"
      #caseReferenceInput
      id="caseReference"
      aria-labelledby="searchLabel"
      name="caseReference"
      formControlName="caseReference"
      type="text"
      spellcheck="false">
    <button class="govuk-button govuk-button--secondary">
      {{'Find' | rpxTranslate}}
    </button>
  </form>
</div>
