<div class="case-reference-container" *ngIf="item">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <label id="case-reference-search" class="case-reference-search-label">{{'16-digit case reference:' | rpxTranslate}}</label>
    <input class="govuk-input"
      [ngClass]="{'govuk-input--error': decorate16DigitCaseReferenceSearchBoxInHeader}"
      #caseReferenceInput
      id="caseReference"
      name="case-reference-search"
      formControlName="caseReference"
      type="text"
      spellcheck="false"
      aria-labelledby="case-reference-search">
    <button class="govuk-button govuk-button--secondary">
      {{'Find' | rpxTranslate}}
    </button>
  </form>
</div>
