<div *ngIf="pagination && view !== 'MyAccess'" class="pagination-top"
  attr.aria-label="{{ casesTotal }} results have been found" role="status">
  <span class="text-16" id="search-result-summary__text">Showing
    <span class="govuk-!-font-weight-bold">{{ getFirstResult() }}</span>
    to
    <span class="govuk-!-font-weight-bold">{{ getLastResult() }}</span>
    of
    <span class="govuk-!-font-weight-bold">{{ casesTotal || 0 }}</span> results</span>
</div>
<ng-container *ngIf="showResultsSummary === true">
<div *ngIf="!pagination && view === 'MyAccess' && casesTotal > 0; else tableSummary" class="pagination-top"
  attr.aria-label="{{ casesTotal }} results have been found" role="status">
  <span class="text-16" id="search-result-summary__text">Displaying
    <span class="govuk-!-font-weight-bold">{{ casesTotal }}</span>
    of
    <span class="govuk-!-font-weight-bold">{{ casesTotal || 0 }}</span> cases</span>
</div>

<!-- TODO: CAM_BOOKING - check this -->
<!-- <div *ngIf="!pagination && view !== 'MyAccess'" class="pagination-top" attr.aria-label="{{ casesTotal }} results have been found" role="status">
  <span class="text-16">Showing <span class="govuk-!-font-weight-bold">{{
      casesTotal || 0 }} </span>results</span>
</div> -->

  <ng-template #tableSummary>
    <div class="pagination-top" attr.aria-label="{{ casesTotal }} results have been found" role="status">
      <span class="text-16">Showing <span class="govuk-!-font-weight-bold">{{
          casesTotal || 0 }} </span>results</span>
    </div>
  </ng-template>

  <!-- TODO: CAM_BOOKING - check this -->
  <span class="second-line"><span class="govuk-!-font-weight-bold">{{ uniqueCases || 0 }}</span> cases</span>
</ng-container>
<!-- Reset Sorting Button -->
<div *ngIf="showResetSortButton" class="reset-sort-button"><button type="button"
    class="govuk-button hmcts-button--secondary" (click)="onResetSorting()">Reset sorting</button></div>

<!-- Using the Angular Component Development Kit Table Module, and not Angular Material -->
<table cdk-table [dataSource]="dataSource$" class="govuk-table" [multiTemplateDataRows]="true">

  <!-- Column Headers and Cells -->
  <ng-container *ngIf="casesTotal">
    <ng-container
      *ngFor="let field of fields | paginate: { itemsPerPage: pagination?.page_size, currentPage: pagination?.page_number, totalItems: casesTotal }"
      [cdkColumnDef]="field.name">
      <th class="govuk-table__header" [attr.aria-sort]="getColumnSortedSetting(field.sortName)" cdk-header-cell
        *cdkHeaderCellDef>
        <button class="column-sort"
                *ngIf="field.columnLabel && !field.disableSort"
                type="button"
                [id]="'sort_by_' + field.sortName"
                data-index="0"
                (click)="onSortHandler(field.sortName)">{{field.columnLabel}}</button>
        <h1 class="column-label" *ngIf="field.disableSort">{{field.columnLabel}}</h1>
      </th>
      <td class="govuk-table__cell" cdk-cell *cdkCellDef="let rowData">
        <exui-work-field [ngClass]="{'govuk-!-font-weight-bold': rowData.isNew}" [workField]="rowData" [config]="field"
          (itemClick)="onItemClick($event)"
        ></exui-work-field>
      </td>
    </ng-container>
  </ng-container>
  <!-- Below container sets up initial case list headers when not yet populated as session storage of page number causing issues with above container -->
  <ng-container *ngIf="!casesTotal">
    <ng-container *ngFor="let field of fields" [cdkColumnDef]="field.name">
      <th class="govuk-table__header" [attr.aria-sort]="getColumnSortedSetting(field.sortName)" cdk-header-cell
        *cdkHeaderCellDef>&ZeroWidthSpace;
        <button class="column-sort"
                *ngIf="field.columnLabel && !field.disableSort"
                type="button"
                [id]="'sort_by_' + field.sortName"
                data-index="0"
                (click)="onSortHandler(field.sortName)">{{field.columnLabel}}</button>
        <h1 class="column-label" *ngIf="field.disableSort">{{field.columnLabel}}</h1>
      </th>
      <td class="govuk-table__cell" cdk-cell *cdkCellDef="let rowData">
        <exui-work-field [ngClass]="{'govuk-!-font-weight-bold': rowData.isNew}" [workField]="rowData" [config]="field"
                         (itemClick)="onItemClick($event)"></exui-work-field>
      </td>
    </ng-container>
  </ng-container>

  <!-- Manage column -->
  <ng-container cdkColumnDef="manage">
    <th class="govuk-table__header" cdk-header-cell *cdkHeaderCellDef>&nbsp;&ZeroWidthSpace;</th>
    <td cdk-cell *cdkCellDef="let rowData" class="govuk-table__cell govuk-accordion__section-header">
      <div *ngIf="showManage[rowData.id]" class="govuk-accordion__section-heading">
        <button type="button" [id]="'manage_' + rowData.id" (click)="setSelectedCase(rowData)"
          class="govuk-accordion__section-button xui-reset" [attr.aria-expanded]="isCaseSelected(rowData)">
          Manage
          <span class="govuk-accordion__icon" aria-hidden="true"></span>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Actions for the selected row -->
  <ng-container cdkColumnDef="actions">
    <td cdk-cell *cdkCellDef="let rowData" [attr.colspan]="displayedColumns.length" class="cell-actions">
      <ng-container *ngIf="isCaseSelected(rowData)">
        <div *ngFor="let action of rowData.actions" class="case-action">
          <a tabindex="0" (click)="onActionHandler(rowData, action)" class="action"
            [id]="'action_' + action.id">{{action.title}}</a>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <!-- No cases to display -->
  <ng-container cdkColumnDef="footer">
    <td cdk-footer-cell *cdkFooterCellDef [attr.colspan]="displayedColumns.length" class="cell-footer">
      {{emptyMessage}}
    </td>
  </ng-container>

  <!-- Table Header Row -->
  <tr class="govuk-table__row" cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>

  <!-- Table Row -->
  <tr class="govuk-table__row" [ngClass]="{ selected: isCaseSelected(row) }" cdk-row
    *cdkRowDef="let row; columns: displayedColumns"></tr>

  <!-- Table Actions Row-->
  <tr class="govuk-table__row actions-row" [ngClass]="{ selected: isCaseSelected(row) }"
    [attr.aria-hidden]="!isCaseSelected(row)" cdk-row *cdkRowDef="let row; columns: ['actions']"></tr>

  <!-- Table Footer Row -->
  <tr class="govuk-table__row footer-row" [ngClass]="{ shown: cases?.length === 0 }"
    [attr.aria-hidden]="cases?.length !== 0" cdk-footer-row *cdkFooterRowDef="['footer']"></tr>

</table>

<ccd-pagination *ngIf="pagination && cases && cases.length > 0" [autoHide]="true" (pageChange)="paginationEvent.emit($event)" ></ccd-pagination>
