<exui-error-message *ngIf="error" [error]="error"></exui-error-message>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <h1 class="govuk-heading-xl">{{verb}} task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <xuilib-gov-uk-input
        [errorMessage]="caseworkerErrorMessage"
        [group]="formGroup"
        [config]="
          {
            label: 'Find the person',
            hint: 'Type the name of the person and select them',
            name: 'caseworkerName',
            id: 'task_assignment_caseworker',
            type: 'text'
          }"></xuilib-gov-uk-input>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()" id="continue__button">Continue</button>
      <p><a (click)="cancel()" href="javascript:void(0)" id="cancel__link">Cancel</a></p>
    </div>
  </div>
</main>
