<exui-error-message *ngIf="error" [error]="error"></exui-error-message>

<main class="govuk-main-wrapper" id="main-content" role="main">
  <h1 class="govuk-heading-xl">{{verb}} task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Find the person</h2>
      <p>Type the name of the person and select them</p>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()">Continue</button>
      <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
    </div>
  </div>
</main>
