<exui-error-message *ngIf="error" [error]="error"></exui-error-message>

<main class="govuk-main-wrapper" id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <exui-find-person title="{{verb}} task"
                        (personSelected)="selectedPerson($event)"
                        domainString="BOTH">
      </exui-find-person>

      <button class="govuk-button govuk-!-margin-right-1" type="submit" (click)="assign()">Continue</button>
      <p><a (click)="cancel()" href="javascript:void(0)">Cancel</a></p>
    </div>
  </div>
</main>
