
 <h1 class="govuk-heading-l">
  <span class="govuk-caption-l">{{caption}}</span>
  {{ title }}
</h1>
<div class="govuk-form-group" [formGroup]="formGroup">
  <!-- TODO: SARD handle errors -->
  <ng-container *ngIf="isAnyError()">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li *ngFor="let validationError of validationErrors">
            <a href="booking#{{validationError.documentHRef}}">{{validationError.errorMessage}}</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <fieldset class="govuk-fieldset" [attr.aria-label]="caption">
    <legend class="hidden-legend">{{caption}}</legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
      <div *ngFor="let duration of durations" class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="choose-duration-{{duration.id}}"
          name="selectedDuration"
          type="radio"
          [value]="duration.name"
          [attr.aria-describedby]="duration.description"
          formControlName="selectedDuration"
          (change)="onSelectDuration(duration)"
          [checked]="duration.checked" />
        <label class="govuk-label govuk-radios__label" for="choose-duration-{{duration.id}}">
          {{ duration.name }}
        </label>
        <span id="choose-duration-{{duration.id}}-item-hint" class="govuk-hint govuk-radios__hint">
          {{ duration.description }}
        </span>
      </div>
      {{ select}}
      <div id="choose-duration-another-period" *ngIf="formGroup.get('selectedDuration').value === 'Another period'">
        <!-- TODO: SARD another period -->
        ANOTHER PERIOD
      </div>
    </div>
  </fieldset>
</div>
