<table class="govuk-table" *ngIf="roles &&  roles.length">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19">Name</th>
    <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19">Role</th>
    <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19">Start</th>
    <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19">End</th>
    <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-19"></th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <ng-container *ngFor="let item of items">
    <tr class="govuk-table__row" [ngClass]="{'hide-border-bottom ': item.open}">
      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{item.name}}</td>
      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{item.roleName}}</td>
      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{item.start | date:'d MMMM yyyy'}}</td>
      <td class="govuk-table__cell govuk-body govuk-!-font-size-19">{{item.end | date:'d MMMM yyyy'}}</td>
      <td class="govuk-table__cell">
        <span (click)="openManageLink(items, item)" [hidden]="!showAllocateRoleLink">
          <a href="#"
             class="right_m" (click)="$event.preventDefault()">Manage</a><span
          class="govuk-accordion-wa__icon" [ngClass]="{'plus': !item.open, 'minus': item.open}"></span>
        </span>
      </td>
    </tr>
    <tr *ngIf="item.open">
      <td colspan="6" class="right">
        <a *ngFor="let action of item.actions"
           [routerLink]="['/', 'role-access', 'allocate-role', action.id]"
           [queryParams]="queryParams(item)" [state]="{backUrl: backUrl}">{{action.title}}</a>
      </td>
    </tr>
  </ng-container>
</table>
<dl class="govuk-summary-list" *ngIf="!roles ||  !roles.length">
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      There are no {{roleCategoryTitle}} roles for this case.
    </dd>
  </div>
</dl>
