<xuilib-loading-spinner *ngIf="showSpinner$ | async"></xuilib-loading-spinner>
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
  data-module="govuk-error-summary" *ngIf="validationErrors.length > 0">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    {{ 'There is a problem' | rpxTranslate }}
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li *ngFor="let error of validationErrors">
        <span class="govuk-error-message">{{error.message | rpxTranslate}}</span>
      </li>
    </ul>
  </div>
</div>
<div id="hearing-summary" *ngFor="let section of template">
  <div *ngIf="section.isHiddenSource === undefined ? true : !(section.isHiddenSource | isHidden:hearingState$ | async)">
    <div *ngIf="section.insetInfo" class="govuk-inset-text">
      {{ section.insetInfo | rpxTranslate }}
    </div>
    <div [ngSwitch]="section.sectionHTMLTitle">
      <ng-container *ngSwitchCase="listingTemplate">
        <exui-listing-information-summary></exui-listing-information-summary>
      </ng-container>
      <ng-container *ngSwitchCase="partiesTemplate">
        <exui-hearing-case-name></exui-hearing-case-name>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div [innerHtml]="section.sectionHTMLTitle | rpxTranslate"></div>
      </ng-container>
    </div>
    <div class="govuk-summary-list govuk-!-margin-bottom-9" *ngIf="!section.isHiddenMargin">
      <ng-container *ngFor="let answer of section.answers">
        <div *ngIf="answer.isHiddenSource === undefined ? true : !(answer.isHiddenSource | isHidden:hearingState$ | async)"
             class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">
            {{ answer.answerTitle | rpxTranslate }}
          </div>
          <div class="govuk-summary-list__value">
            <div [innerHtml]="answer.answerSource | transformAnswer:hearingState$ | async"></div>
          </div>
          <div class="govuk-summary-list__actions">
            <strong *ngIf="answer.isAmendedSource === undefined ? false : (answer.isAmendedSource | isAmended:hearingState$ | async)"
                    class="govuk-tag govuk-tag--green amended-flag">{{ 'Amended' | rpxTranslate }}</strong>
            <a [id]="answer.id"
               *ngIf="answer.changeLink"
               class="change-link"
               href="javascript:void(0)"
               (click)="changeAnswer($event, answer.id, answer.changeLink)">{{ 'Change' | rpxTranslate }}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
