<div *ngFor="let section of template">
  <div *ngIf="section.isHiddenSource === undefined ? true : !(section.isHiddenSource | isHidden:hearingState$ | async)">
    <div *ngIf="section.insetInfo" class="govuk-inset-text">
      {{ section.insetInfo }}
    </div>
    <div [ngSwitch]="section.sectionHTMLTitle">
      <ng-container *ngSwitchCase="listingTemplate">
        <exui-listing-information-summary></exui-listing-information-summary>
      </ng-container>
      <ng-container *ngSwitchCase="partiesTemplate">
        <exui-hearing-case-name></exui-hearing-case-name>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div [innerHtml]="section.sectionHTMLTitle"></div>
      </ng-container>
    </div>
    <div class="govuk-summary-list govuk-!-margin-bottom-9" *ngIf="!section.isHiddenMargin">
      <ng-container *ngFor="let answer of section.answers">
        <div *ngIf="answer.isHiddenSource === undefined ? true : !(answer.isHiddenSource | isHidden:hearingState$ | async)"
             class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">
            {{ answer.answerTitle }}
          </div>
          <div class="govuk-summary-list__value">
            <div [innerHtml]="answer.answerSource | transformAnswer:hearingState$ | async"></div>
          </div>
          <div class="govuk-summary-list__actions">
            <strong *ngIf="answer.isAmendedSource === undefined ? false : (answer.isAmendedSource | isAmended:hearingState$ | async)"
                    class="govuk-tag govuk-tag--green amended-flag">Amended</strong>
            <a [id]="answer.id"
               *ngIf="answer.changeLink"
               href="javascript:void(0)"
               (click)="changeAnswer(answer.id, answer.changeLink)">Change</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
