<a class="govuk-back-link" href="javascript:history.back()">Back</a>
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"></span>
      <h1 class="govuk-heading-l">Check your answers</h1>
      <h2 class="govuk-heading-m">Linked hearings</h2>
      <span class="govuk-body align-right">
        <a href="javascript:void(0)" [routerLink]="['/', 'hearings', 'actuals', id, 'hearing-stage-result']"
           id="hearing-stage-result-update-link"
           class="govuk-link">Change</a>
      </span>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Case name and number </th>
            <th scope="col" class="govuk-table__header">Stage of hearing </th>
            <th scope="col" class="govuk-table__header">Position</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="vertical-align: middle;">
              Smith vs Peterson &nbsp;1234-5678-9012-3456
            </td>
            <td scope="row" class="govuk-table__cell" style="vertical-align: middle;">Initial hearing</td>
            <td class="govuk-table__cell">1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="govuk-grid-row">
    <div class="govuk-button-group">
      <button class="govuk-button primary" data-module="govuk-button" (click)="onLinkHearings()">
        Link hearings
      </button>
    </div>
  </div>
</main>
