<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Cache-control" value="no-store" />             
            <add name="Pragma" value="no-cache" />             
            <add name="Content-Security-Policy" value="default-src 'none'; font-src 'self' data:; img-src 'self' *.google-analytics.com; style-src 'self'; script-src 'sha256-+6WnXIl4mbFTCARd8N3COQmT3bJJmo32N8q8ZSQAIcU=' 'sha256-G29/qSW/JHHANtFhlrZVDZW1HOkCDRc78ggbqwwIJ2g=' 'self' *.google-analytics.com; connect-src 'self' *.gov.uk; object-src 'self'; frame-ancestors 'none'" />             
            
            <add name="Content-Type-Options" value="nosniff" />             
            <add name="Strict-Transport-Security" value="max-age=31536000; preload" />             
            <add name="X-Frame-Options" value="SAMEORIGIN" />             
            <add name="X-Download-Options" value="noopen"/>             
            <add name="X-Permitted-Cross-Domain-Policies" value="none" />             
            <add name="X-Xss-Protection" value="1; mode=block"/>
         </customHeaders>
      </httpProtocol>
   </system.webServer>
</configuration>
