<configuration>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="X-Frame-Options" value="DENY" />
            <add name="Cache-control" value="no-store" />
            <add name="Pragma" value="no-cache" />
            <add name="Content-Security-Policy" value="default-src 'self';" />
            <add name="Content-Type-Options" value="nosniff" />
            <add name="Strict-Transport-Security" value="max-age=3600" />
         </customHeaders>
      </httpProtocol>
   </system.webServer>
</configuration>
