<configuration>
   <system.webServer>
      <security>
        <requestFiltering removeServerHeader="true" >
            <verbs>
               <add verb="TRACE" allowed="false" />
               <add verb="TRACK" allowed="false" />
            </verbs>
        </requestFiltering>
      </security>
      <httpProtocol>
         <customHeaders>
            <add name="Cache-Control" value="no-cache, no-store, max-age=0, must-revalidate, proxy-revalidate" />
            <add name="Surrogate-Control" value="no-store" />
            <add name="Pragma" value="no-cache" />
            <add name="Expires" value="0" />
            <add name="Content-Security-Policy" value="default-src 'self'; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: https://*.google-analytics.com https://raw.githubusercontent.com/hmcts/; style-src https://fonts.googleapis.com https://fonts.gstatic.com 'unsafe-inline' 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.google-analytics.com *.googletagmanager.com az416426.vo.msecnd.net; connect-src 'self' *.gov.uk dc.services.visualstudio.com *.launchdarkly.com; object-src 'self'; frame-ancestors 'none'" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="Strict-Transport-Security" value="max-age=31536000; preload" />
            <add name="X-Frame-Options" value="DENY" />
            <add name="X-Download-Options" value="noopen"/>
            <add name="X-Permitted-Cross-Domain-Policies" value="none" />
            <add name="X-Xss-Protection" value="1; mode=block"/>
            <remove name="X-Powered-By" />
         </customHeaders>
      </httpProtocol>
   </system.webServer>
</configuration>
