<exui-page-wrapper [title]="'Search'">
    <div class="search-block">
      <div class="filter-block">
        <exui-ccd-connector
          [eventsBindings]="caseSearchFilterEventsBindings"
          [store]="store"
          [fromFeatureStore]="fromCasesFeature">
          <ccd-search-filters-wrapper #ccdComponent
            [autoApply]="false">
          </ccd-search-filters-wrapper>
        </exui-ccd-connector>
      </div>
      <div class="results-block">          
        <ccd-search-result
          *ngIf="resultView"
          [jurisdiction]="jurisdiction"
          [caseType]="caseType"
          [caseState]="caseState"
          [caseFilterFG]="fg"
          [resultView]="resultView"
          [paginationMetadata]="paginationMetadata"
          [metadataFields]="metadataFields"
          (changePage)="applyChangePage($event)"
        >
        </ccd-search-result>
      </div>
    </div>
</exui-page-wrapper>
