<exui-page-wrapper [title]="'Search'">
  <div class="hmcts-action-bar">
    <div class="hmcts-action-bar__filter">
      <button class="govuk-button hmcts-button--secondary" (click) = "toggleFilter()" type="button"  aria-haspopup="true" aria-expanded="false">
        {{toggleButtonName}}
      </button>
    </div>
  </div>
    <div class="search-block">
      <div class="hmcts-filter-layout__filter" [hidden]="!showFilter" >
        <exui-ccd-connector
          [eventsBindings]="caseSearchFilterEventsBindings"
          [store]="store"
          [fromFeatureStore]="fromCasesFeature">
          <ccd-search-filters-wrapper #ccdComponent
            (onApply)="applyFilter($event)"  
          >
          </ccd-search-filters-wrapper>
        </exui-ccd-connector>
      </div>

      <div class="hmcts-filter-layout__content">
         <ccd-search-result
          *ngIf="resultView"
          [jurisdiction]="jurisdiction"
          [caseType]="caseType"
          [caseState]="caseState"
          [caseFilterFG]="fg"
          [resultView]="resultView"
          [paginationMetadata]="paginationMetadata"
          [metadataFields]="metadataFields"
          (changePage)="applyChangePage($event)"
          caseLinkUrlTemplate="../case-details/case_id"
        >
        </ccd-search-result>
      </div>
    </div>
</exui-page-wrapper>
