.align-middle {
  vertical-align: middle;
}

.clear-link {
  font-weight: normal;
  text-decoration: none;
}

.link-cancel {
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
}

.no-linked-cases {
  margin-bottom: 60px;
}

.govuk-radios{
  min-height: 40px;
}

.govuk-table-width-10-percent {
  width: 10%;
}

.govuk-table-width-45-percent {
  width: 45%;
}
