    <div *ngIf="findLocationForm?.controls?.findLocationControl" class="govuk-form-group" [formGroup]="findLocationForm.controls.findLocationControl"
        [ngClass]="{'form-group-error': !findLocationForm.controls.findLocationControl.valid && submitted}">
        <label for="event-name">Search for location by name
            <div>
                <input id="input-selected-location" type="text" aria-label="select a location" matInput
                    [formControl]="findLocationForm.controls.findLocationControl"
                    [matAutocomplete]="auto"
                    class="search-box"
                    (ngModelChange)="updatedVal($event)"
                    [attr.disabled]="disabled"
                    [value]="selectedLocation?.court_name">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let location of locations$ | async"
                                [value]="getDisplayName(location)"
                                (onSelectionChange)="onSelectionChange(location)"
                                [ngClass]="{'hide-autocomplete': !showAutocomplete}">
                        {{ getDisplayName(location) }}
                    </mat-option>
                </mat-autocomplete>
                <button (click)="addSelection()" class="govuk-button add-location" data-module="govuk-button">
                    Add location
                </button>
            </div>     
        </label>
        <ng-container *ngIf="selectedLocations$ && (selectedLocations$ | async).length">
            <div class="location-selection" *ngFor="let selection of selectedLocations$ | async">
                {{ selection.court_name }}
                <button class="remove-loation-button" href="javascript:void(0)" (click)="removeSelection(selection)"><label>x</label></button>
            </div>  
        </ng-container>
        <br/>
        <div class="govuk-details__text">
            <div>You can check the venue has the required facilities or reasonable adjustments using  </div>
            <div class="div-action">
                <a href="javascript:void(0)"
                [routerLink]="['/', 'hearings', 'finder']">(Court Finder(opens in new tab)</a>
            </div> 
        </div>
        <br/>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
    </div>
</form>