.div-action {
    display: inline-block;
}

.gds-font {
    font-family: "GDS Transport", Arial, sans-serif;
}

.add-location {
    display: inline;
    background-color: lightgray;
    color: black;
}

.search-box{
    width: 70%;
    line-height: 30px;
}

.location-selection {
    background-color: lightgray;
    color: black;
    max-width: 200px;
    line-height: 35px;
    text-align: center;
}

.remove-loation-button {
    float: right;
    margin:5px;
}