.div-action {
    display: inline-block;
}

.gds-font {
    font-family: "GDS Transport", Arial, sans-serif;
}

.add-location {
    display: inline;
    background-color: lightgray;
    color: black;
}

.search-box{
    width: 70%
}

.location-selection {
    background-color: lightgray;
    color: black;
    width: auto;
    line-height: 15px;
}