.div-action {
    display: inline-block;
}

.gds-font {
    font-family: "GDS Transport", Arial, sans-serif;
}

.add-location {
    display: inline;
    background-color: lightgray;
    color: black;
}

.search-box{
    width: 70%;
    line-height: 30px;
}

.location-selection {
    background-color: lightgray;
    color: black;
    width: auto;
    margin: 5px;
    line-height: 35px;
    text-align: center;
}

.remove-loation-button {
    float: right;
    margin:5px;
}

.hide-autocomplete {
    display: none;
}