<p>
    <label for="event-name">Search for location by name
        <input class="govuk-input" id="event-name" name="event-name" type="text">
    </label>
</p>
<br/>
<div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="national-insurance-number">
        National Insurance number
    </label>
    <div id="national-insurance-number-hint" class="govuk-hint">
        It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
    </div>
    <span id="national-insurance-number-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter a National Insurance number in the correct format
    </span>
    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="national-insurance-number" name="national-insurance-number" type="text" spellcheck="false" value="12345678" aria-describedby="national-insurance-number-hint national-insurance-number-error">
</div>
<button class="govuk-button" data-module="govuk-button">Continue</button>
