<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem'"></xuilib-hmcts-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">Do you require a panel for this hearing?</h1>
    <form class="form" [formGroup]="panelJudgeForm">
      <div class="govuk-form-group govuk-!-margin-top-5" [ngClass]="{'govuk-form-group--error': !!panelSelectionError}">
        <fieldset class="govuk-fieldset" id="specific-panel-selection">
          <span class="govuk-error-message" *ngIf="panelSelectionError">
            <span class="govuk-visually-hidden">Error:</span> {{panelSelectionError}}
          </span>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specificPanelSelection" name="specificPanel" (change)="showSpecificPanel('Yes');"
                formControlName="specificPanel" type="radio" value="Yes" data-aria-controls="conditional-judge">
              <label class="govuk-label govuk-radios__label" for="specificPanelSelection">Yes</label>
            </div>
            <div class="govuk-radios__conditional" [ngClass]="{'govuk-radios__conditional--hidden': panelSelection !=='Yes'}">
              <div class="govuk-form-group govuk-!-width-one-half">
                <exui-hearing-judge-names-list #includedJudge [subTitle]="'Include specific panel members (optional)'" [domain]="'Judicial'" [judgeList]= "includedJudgeList"
                 [submitButtonName]="'Add another person'" [isColumnView]="true"></exui-hearing-judge-names-list>
                <exui-hearing-judge-names-list #excludedJudge [subTitle]="'Exclude specific panel members (optional)'" [domain]="'Judicial'" [judgeList]= "excludedJudgeList"
                 [submitButtonName]="'Exclude another person'" [isColumnView]="true"></exui-hearing-judge-names-list>
                 <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                        Select any other panel roles required (optional)
                    </h1>
                </legend>
                <div id="other-panel-roles-hint" class="govuk-hint">
                    Select all that apply.
                </div>
                <exui-multi-level-selector *ngIf="configLevels" id="panel-role-selector"
                  [multiLevelSelect]="panelJudgeForm.controls.multiLevelSelect"
                  [hasValidationRequested]="hasValidationRequested"
                  [configLevels]="configLevels"
                ></exui-multi-level-selector>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noSpecificPanel" name="specificPanel" (change)="showSpecificPanel('No');"
                formControlName="specificPanel" type="radio" value="No" data-aria-controls="conditional-judge-type">
              <label class="govuk-label govuk-radios__label" for="noSpecificPanel">No</label>
            </div>
            <div class="govuk-radios__conditional" [ngClass]="{'govuk-radios__conditional--hidden': panelSelection !=='No'}">
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
