<xuilib-hmcts-error-summary [errorMessages]="validationErrors" [header]="'There is a problem' | rpxTranslate"></xuilib-hmcts-error-summary>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <exui-hearing-parties-title></exui-hearing-parties-title>
    <h1 class="govuk-heading-l">{{ 'Do you require a panel for this hearing?' | rpxTranslate }}</h1>
    <form class="form" [formGroup]="panelJudgeForm">
      <div class="govuk-form-group govuk-!-margin-top-5">
        <fieldset class="govuk-fieldset" id="specific-panel-selection">
          <span class="govuk-error-message" *ngIf="panelSelectionError">
            <span class="govuk-visually-hidden">Error:</span> {{panelSelectionError}}
          </span>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="specificPanelSelection" name="specificPanel" (change)="showSpecificPanel('Yes');"
                formControlName="specificPanel" type="radio" value="Yes" data-aria-controls="conditional-judge">
              <label class="govuk-label govuk-radios__label" for="specificPanelSelection">Yes</label>
            </div>
            <div class="govuk-radios__conditional" [ngClass]="{'govuk-radios__conditional--hidden': panelSelection !=='Yes'}">
              <div class="govuk-form-group" [ngClass]="{'govuk-form-group--error': !!panelSelectionError || !!childNodesValidationError}">
                <exui-hearing-judge-names-list #includedJudge [subTitle]="'Include specific panel members (optional)'"
                                               [judgeList]="includedJudgeList"
                                               [placeholderContent]="'e.g. John Smith'"
                                               [submitButtonName]="'Include panel member'"
                                               [idValue]="'Include'"
                                               [serviceId]="serviceId"
                                               [isColumnView]="false"></exui-hearing-judge-names-list>
                 <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                        {{ 'Or select any other panel roles required' | rpxTranslate }}
                    </h1>
                </legend>
                <span class="govuk-error-message" *ngIf="childNodesValidationError">
                  <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span> {{ childNodesValidationError | rpxTranslate }}
                </span>
                <exui-multi-level-selector *ngIf="configLevels" id="panel-role-selector"
                  [multiLevelSelect]="panelJudgeForm.controls.multiLevelSelect"
                  [hasValidationRequested]="hasValidationRequested"
                  [configLevels]="configLevels"
                ></exui-multi-level-selector>
                <div class="govuk-!-padding-top-8">
                  <exui-hearing-judge-names-list #excludedJudge [subTitle]="'Exclude specific panel members (optional)'"
                                                 [judgeList]="excludedJudgeList"
                                                 [placeholderContent]="'e.g. John Smith'"
                                                 [submitButtonName]="'Exclude panel member'"
                                                 [idValue]="'Exclude'"
                                                 [serviceId]="serviceId"
                                                 [isColumnView]="false"></exui-hearing-judge-names-list>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noSpecificPanel" name="specificPanel" (change)="showSpecificPanel('No');"
                formControlName="specificPanel" type="radio" value="No" data-aria-controls="conditional-judge-type">
              <label class="govuk-label govuk-radios__label" for="noSpecificPanel">{{ 'No' | rpxTranslate }}</label>
            </div>
            <div class="govuk-radios__conditional" [ngClass]="{'govuk-radios__conditional--hidden': panelSelection !=='No'}">
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
