<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <exui-page-wrapper [title]="'Check your answers before adding a new user'" [backLink]="'/staff/add-user'">
      <div class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Name</div>
          <div class="govuk-summary-list__value">{{addUserData[0].value[0]}} {{addUserData[1].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name </span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Email address</div>
          <div class="govuk-summary-list__value">{{addUserData[2].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> email </span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Services</div>
          <div class="govuk-summary-list__value">{{addUserData[4].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <div routerLink="/staff/add-user">
              <a class="govuk-link" routerLink="/staff/add-user">
                Change<span class="govuk-visually-hidden"> services </span>
              </a>
            </div>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Region</div>
          <div class="govuk-summary-list__value">{{addUserData[3].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Primary locations</div>
          <div class="govuk-summary-list__value">{{addUserData[5].value[0].site_name}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Additional locations</div>
          <div class="govuk-summary-list__value">
            <span *ngFor="let location of addUserData[6].value; let isLast=last">
              {{location.site_name}}{{isLast ? '' : ', '}}
            </span>
          </div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">User type</div>
          <div class="govuk-summary-list__value">{{addUserData[7].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Roles</div>
          <div class="govuk-summary-list__value">{{addUserData[8].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Job title</div>
          <div class="govuk-summary-list__value">{{addUserData[9].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Skills</div>
          <div class="govuk-summary-list__value">{{addUserData[10].value[0]}}</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key">Status</div>
          <div class="govuk-summary-list__value">Notice of change</div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" routerLink="/staff/add-user">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <button class="govuk-button govuk-!-margin-right-1 govuk-!-margin-bottom-0"
            [routerLink]="'/staff'"
          >
            Continue
          </button>

          <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">
            Cancel
          </button>
        </div>
      </div>
    </exui-page-wrapper>
  </div>
</div>
