<main class="govuk-main-wrapper" id="main-content" role="main">
  <exui-info-message-container></exui-info-message-container>
  <h3 class="govuk-heading-xl">My work</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>Access tasks and cases.</p>
      <button class="govuk-button hmcts-button--secondary" type="button"> Show work filter </button>
      <xuilib-hmcts-sub-navigation [items]="subNavigationItems" label="Sub navigation"></xuilib-hmcts-sub-navigation>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
