<h2 class="govuk-heading-m">Judge details</h2>
<div class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Do you want a specific judge?
    </div>
    <div class="govuk-summary-list__value">
      {{needJudge}}
    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Name of the judge
    </div>
    <div class="govuk-summary-list__value">
      {{judgeName}}
    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Select all judge types that apply
    </div>
    <div class="govuk-summary-list__value">
      {{judgeTypes}}
    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
  <div class="govuk-summary-list__row">
    <div class="govuk-summary-list__key">
      Exclude a judge
    </div>
    <div class="govuk-summary-list__value">
      {{excludedJudgeNames}}
    </div>
    <div class="govuk-summary-list__actions">
      <a class="change-link" href="javascript:void(0)">Change</a>
    </div>
  </div>
</div>
