.govuk-checkbox__conditional {
    margin-bottom: 15px;
    margin-left: 15px;
    padding-left: 33px;
    border-left: 4px solid #b1b4b6;
}

.multi-select-container { 
  margin-top: 10px; 
}

.govuk-checkboxes__item {
  padding-left: 4px;
}

.govuk-checkboxes__item_top-level {
  padding-left: 40px;
}
