<div class="multi-select-container" [ngSwitch]="controlType">
  <div  *ngSwitchCase="controlCategory.CHECK_BOX">
    <div class="govuk-checkboxes__item" *ngFor="let control of multiLevelSelect.controls; let i=index">
      <div class="govuk-checkboxes__item_top-level"  [formGroup]="control">
        <input class="govuk-checkboxes__input" id="{{control.value.key}}" (click)="deSelectChildNodes(control)"
          formControlName="selected"
          name="pos" 
          type="checkbox">
        <label class="govuk-label govuk-checkboxes__label" for="{{control.value.key}}">{{control.value.value_en}}</label>
      </div>
      <div *ngIf="control.value.child_nodes && control.value.child_nodes.length && control.value.selected" 
        class ="govuk-form-group govuk-checkbox__conditional">
        <exui-multi-level-selector class="multi-container"
          [configLevels]="configLevels"
          [multiLevelSelect]="getValue(control)"
          [hasValidationRequested] = "hasValidationRequested"
          [level]="level + 1">
        </exui-multi-level-selector>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="controlCategory.RADIO_BUTTON">
    <div class="govuk-radios"> 
        <div class="govuk-radios__item" *ngFor="let childNode of multiLevelSelect.controls; let i=index">
          <input class="govuk-radios__input" id="{{childNode.value.key}}" name="priority" type="radio" [value]="childNode.value.value_en">
          <label class="govuk-label govuk-radios__label" [for]="childNode.value.key">{{childNode.value.value_en}}</label>
          <exui-multi-level-selector class="multi-container" *ngIf="childNode.value.child_nodes && childNode.value.child_nodes.length"
            [configLevels]="configLevels"
            [hasValidationRequested] = "hasValidationRequested"
            [multiLevelSelect]="getValue(childNode)"
            [level]="level + 1">
        </exui-multi-level-selector>
        </div>
    </div>
  </div>
  <div *ngSwitchCase="controlCategory.SELECT" [formGroup]="formGroup"
       [ngClass]="{'govuk-form-group--error' : !checkValidationWhenRequested}">
    <span *ngIf=" !checkValidationWhenRequested"
            id="party-selection-error"
            class="govuk-error-message">
            <span class="govuk-visually-hidden">{{ 'Error:' | rpxTranslate }}</span>{{ 'Select a specialism for the panel member(s).' | rpxTranslate }}
    </span>
    <label class="govuk-label">{{ 'Choose specialism' | rpxTranslate }}</label>
    <select formControlName="item" class="govuk-select" id="select1" name="select-name">
      <option value="" selected>{{ 'Please select' | rpxTranslate }}</option>
      <option *ngFor="let childNode of multiLevelSelect.controls; let i=index" [ngValue]="childNode.value.key">{{childNode.value.value_en}}</option>
    </select>
  </div>
</div>