<div class="exui-task-assignment">

  <div class="govuk-form-group">
    <label for="task_assignment_location" class="govuk-label">Location</label>
    <select id="task_assignment_location" name="task_assignment_location" class="govuk-select task-assignment__location"
            [(ngModel)]="location">
      <option [ngValue]="ALL_LOCATIONS">{{ALL_LOCATIONS.locationName}}</option>
      <option *ngFor="let loc of locations" [ngValue]="loc">{{loc.locationName}}</option>
    </select>
  </div>

  <div class="govuk-form-group" [ngClass]="{ 'govuk-form-group--error': showProblem }">
    <label for="task_assignment_caseworker" class="govuk-label">Name</label>
    <span *ngIf="showProblem" id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> You must select a name
    </span>
    <select id="task_assignment_caseworker" name="task_assignment_caseworker" [(ngModel)]="caseworker"
            class="govuk-select task-assignment__caseworker" [ngClass]="{ 'govuk-select--error': showProblem }">
      <option [selected]="caseworker === null" [ngValue]="null">Select name</option>
      <option *ngFor="let cw of caseworkers" [ngValue]="cw">{{cw | caseworkerDisplayName}}</option>
    </select>
  </div>
  
</div>