{
  "semi": false,
  "printWidth": 130,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 4,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "preserve",
  "trailingComma": "none",
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
