name: Automated update of known-issue suppression

on:
  schedule:
    # At 12 midnight, 7am and 5pm
    - cron: "0 0,7,17 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.HMCTS_GITHUB_EXUI_APP_ID }}
          private_key: ${{ secrets.HMCTS_GITHUB_EXUI_PRIVATE_KEY }}
      - uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          ref: master
      - uses: actions/setup-node@v3
        with:
          node-version: 12
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn npm audit --recursive --environment production --json > yarn-audit-known-issues
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          skip_dirty_check: false
          commit_message: "Automated update of known-issue suppression"
          branch: master
