<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-l">Hearing details</h1>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Hearing date</dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <h1 class="govuk-heading-m">Hearing stage and result</h1>
    <span class="govuk-body">
      <a href="javascript:void(0)" [routerLink]="['/', 'hearing-actual', 'stage-and-result']" class="govuk-link">Update</a>
    </span>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <h1 class="govuk-heading-m">Hearing timings</h1>
    <span class="govuk-body">
      <a href="javascript:void(0)" [routerLink]="['/', 'hearing-actual', 'actuals-date-and-time']" class="govuk-link">Update</a>
    </span>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <h1 class="govuk-heading-m">Participants</h1>
    <span class="govuk-body">
      <a href="javascript:void(0)" [routerLink]="['/', 'hearing-actual', 'actuals-parties']" class="govuk-link">Update</a>
    </span>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <h2 class="govuk-heading-s">Attendee 1</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <h2 class="govuk-heading-s">Attendee 1</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key"></dt>
        <dd class="govuk-summary-list__value"></dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <br>
    <br>
    <h2 class="govuk-heading-m">Submit your hearing details</h2>
    <p class="govuk-body">Once you have entered the hearing details, select Submit hearing details.</p>
    <p class="govuk-body">Once submitted, you cannot change your answers again. The case will be saved and the hearing
      will be marked as complete.</p>
    <br>
  </div>
</div>
